.feeSchedLand{

    .standardHeader;
    max-width: 100%;
    width: 100%;
    padding: 0 20px 0 20px;
    &__header {
      width: 99.5%;
      margin-bottom: 10px;
      max-width: 100%;

    }
    &__body {
        .containerStandard;
        max-width: 100%;
        width: 99.5%;
        padding: 0 20px 0 20px;
      }

     &__actions {
        .containerStandard;
        float:left;
        padding-top: 0;
        padding-bottom: @brand-padding_horizontal;
    }

    .k-grid-content {
       max-height: 360px;
    }
    &__title {
       margin-left: 30px;
       padding-top: 30px;
    }
    &__actions {
       margin-left: 30px;
    }

    &__reportDropDown{
          min-width: 250px !important;
      }
}