.mergeDupicate_section {
    p {
        text-align: center;
        vertical-align: middle;
        line-height: 215px;
    }

    &__warning{
        color: @brand-color_orange;
        font-weight: bold;
    }
}
.mergeAccount_section {
    p {
        display:table-cell;
        text-align: left;
        vertical-align: middle;
        padding-top: 56px;
        padding-left: 141px;
    }
}