@import 'variables';

.add-card-reader-box {

    background-color: #fff;
    border-radius: 5px;
    width: 500px;
    margin: auto;

    .panel-body {
        padding: 0px 10px;
        border: 0 !important;

        span.required {
            position: relative !important;
        }
    }


    .required {
        color: $alert-red;
    }

    span.required.ng-star-inserted {
        position: absolute;
        padding: 2px;
        word-break: break-word;
    }

    .popup-heading {
        padding: 0px 10px;
        border-color: $page-search-input-border-color;
        border-width: 0px 0px 1px 0px;
        border-style: solid;
    }

    .popup-heading h4 {
        font-weight: 500;
        font-family: $font-family !important;
        font-style: normal;
    }

    .control-label {
        font-weight: 600;
        font-style: normal;
        font-size: 14px;
        line-height: 2em;
        color: $header-date-color;
    }

    .fuse_input {
        height: 30px;
        padding: 0px 10px;
        text-align: left;
        border-radius: 5px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        border-width: 1px;
        border-style: solid;
        background-color: $page-search-input-background;
        color: $page-form-input-color;
        border-color: $page-search-input-border-color;
        width: 87%;
    }

    .card-reader-footer {
        border-color: $page-search-input-border-color;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
        padding: 20px 10px;
    }

    .btn-toolbar {
        float: right;
    }

    .fuse-button {
        background-size: cover;
        border-radius: 5px;
        border-width: 1px;
        border-color: $page-content-select-border-color;
        border-style: solid;
        padding: 0px;
        width: 100px;
        height: 25px;
    }

    .fuse-submit-button {
        border-color: none;
        border-width: 0px;
    }

    .btn-default {
        color: $breadcrumbs-active;
        background-color: $page-primary-button-color;
        border-color: $page-content-select-border-color;
        height: 7px;
        width: 75px;
        line-height: 2px !important;
        margin-left: 10px !important;
        font-size: 12px !important;
    }

    .k-window .k-window-content {
        background-color: transparent;

    }

    .k-dialog .k-content {
        padding: 10px 0px !important;
        overflow: hidden !important;
        width: 500px !important;
        height: 250px !important;


    }

    .required_text {
        color: $page-header-color;
    }

    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }

}