<div class="add-card-reader-box">
  <div class="popup-heading">
    <h4>{{title}}</h4>
  </div>
  <form [formGroup]="frmCardReader" (ngSubmit)="saveCardReader()" class="form-horizontal">
    <div class="panel-body">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label" for="cardReaderId">Card Reader ID <span>*</span></label>
          <input data-qa="card-reader-form-input-cardreaderid" placeholder="Card Reader ID" id="cardReaderId"
            (focusout)="isCardReaderIdAlreadyExists($event)" (mouseleave)="isCardReaderIdAlreadyExists($event)"
            autocomplete="off" formControlName="PartnerDeviceId" type="text"
            [ngClass]="{'form-control': true, 'fuse_input': true}">
          <span *ngIf="isCardReaderIdExists" class="required">Card Reader Id already exists.</span>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label" for="cardReaderDisplayName">Card Reader Display Name <span>*</span></label>
          <input data-qa="card-reader-form-input-cardreaderdisplayname" placeholder="Card Reader Display Name"
            id='cardReaderDisplayName' (focusout)="isCardReaderNameAlreadyExists($event)"
            (mouseleave)="isCardReaderNameAlreadyExists($event)" autocomplete="off"
            formControlName="DeviceFriendlyName" type="text" [ngClass]="{'form-control': true, 'fuse_input': true}">
          <span *ngIf="isCardReaderNameExists" class="required">Card Reader Display Name already exists.</span>
        </div>
      </div>



    </div>
    <div class="card-reader-footer">
      <div class="btn-toolbar">
        <button data-qa="card-reader-form-cancel" class="btn btn-default" (click)="CancelCardReaderDialog()"
          type="button">Cancel</button>
        <button data-qa="card-reader-form-submit" class="btn btn-primary fuse-button fuse-submit-button" type="submit"
          [disabled]="frmCardReader.invalid || isCardReaderIdExists || isCardReaderNameExists"
          (click)="saveCardReader()" id="btnSubmit"> Save
        </button>
      </div>

    </div>
  </form>
</div>