.scheduler {

    &__hoursZoom .k-scheduler-table th {
        font-size: 18px;
        min-width: 110px;

        .hours-label {
            text-transform: lowercase;
            z-index: 2;
            position: absolute;
            left: 10%;
            font-size: 14px;
        }
    }

    &__hoursZoom2 .k-scheduler-times .k-scheduler-table th, &__hoursZoom2 .k-scheduler-table td {
        font-size: 2px;
    }

    &__hoursZoom3 .k-scheduler-times .k-scheduler-table th, &__hoursZoom3 .k-scheduler-table td {
        font-size: 3px;
    }

    &__hoursZoom4 .k-scheduler-times .k-scheduler-table th, &__hoursZoom4 .k-scheduler-table td {
        font-size: 4px;
    }

    &__hoursZoom5 .k-scheduler-times .k-scheduler-table th, &__hoursZoom5 .k-scheduler-table td {
        font-size: 5px;
    }

    &__hoursZoom6 .k-scheduler-times .k-scheduler-table th, &__hoursZoom6 .k-scheduler-table td {
        font-size: 6px;
    }

    &__hoursZoom7 .k-scheduler-times .k-scheduler-table th, &__hoursZoom7 .k-scheduler-table td {
        font-size: 7px;
    }

    &__hoursZoom8 .k-scheduler-times .k-scheduler-table th, &__hoursZoom8 .k-scheduler-table td {
        font-size: 8px;
    }

    &__hoursZoom9 .k-scheduler-times .k-scheduler-table th, &__hoursZoom9 .k-scheduler-table td {
        font-size: 9px;
    }

    &__hoursZoom10 .k-scheduler-times .k-scheduler-table th, &__hoursZoom10 .k-scheduler-table td {
        font-size: 10px;
    }

    &__hoursZoom11 .k-scheduler-times .k-scheduler-table th, &__hoursZoom11 .k-scheduler-table td {
        font-size: 11px;
    }

    &__hoursZoom12 .k-scheduler-times .k-scheduler-table th, &__hoursZoom12 .k-scheduler-table td {
        font-size: 12px;
    }

    &__hoursZoom13 .k-scheduler-times .k-scheduler-table th, &__hoursZoom13 .k-scheduler-table td {
        font-size: 13px;
    }

    &__hoursZoom14 .k-scheduler-times .k-scheduler-table th, &__hoursZoom14 .k-scheduler-table td {
        font-size: 14px;
    }

    &__hoursZoom15 .k-scheduler-times .k-scheduler-table th, &__hoursZoom15 .k-scheduler-table td {
        font-size: 15px;
    }

    &__hoursZoom16 .k-scheduler-times .k-scheduler-table th, &__hoursZoom16 .k-scheduler-table td {
        font-size: 16px;
    }

    &__hoursZoom17 .k-scheduler-times .k-scheduler-table th, &__hoursZoom17 .k-scheduler-table td {
        font-size: 17px;
    }

    &__hoursZoom18 .k-scheduler-times .k-scheduler-table th, &__hoursZoom18 .k-scheduler-table td {
        font-size: 18px;
    }

    &__hoursZoom19 .k-scheduler-times .k-scheduler-table th, &__hoursZoom19 .k-scheduler-table td {
        font-size: 19px;
    }

    &__hoursZoom20 .k-scheduler-times .k-scheduler-table th, &__hoursZoom20 .k-scheduler-table td {
        font-size: 20px;
    }

    &__hoursZoom21 .k-scheduler-times .k-scheduler-table th, &__hoursZoom21 .k-scheduler-table td {
        font-size: 21px;
    }

    &__hoursZoom22 .k-scheduler-times .k-scheduler-table th, &__hoursZoom22 .k-scheduler-table td {
        font-size: 22px;
    }

    &__hoursZoom23 .k-scheduler-times .k-scheduler-table th, &__hoursZoom23 .k-scheduler-table td {
        font-size: 23px;
    }

    &__hoursZoom24 .k-scheduler-times .k-scheduler-table th, &__hoursZoom24 .k-scheduler-table td {
        font-size: 24px;
    }

    &__hoursZoom25 .k-scheduler-times .k-scheduler-table th, &__hoursZoom25 .k-scheduler-table td {
        font-size: 25px;
    }

    &__hoursZoom26 .k-scheduler-times .k-scheduler-table th, &__hoursZoom26 .k-scheduler-table td {
        font-size: 26px;
    }

    &__hoursZoom27 .k-scheduler-times .k-scheduler-table th, &__hoursZoom27 .k-scheduler-table td {
        font-size: 27px;
    }

    &__hoursZoom28 .k-scheduler-times .k-scheduler-table th, &__hoursZoom28 .k-scheduler-table td {
        font-size: 28px;
    }

    &__hoursZoom29 .k-scheduler-times .k-scheduler-table th, &__hoursZoom29 .k-scheduler-table td {
        font-size: 29px;
    }

    &__hoursZoom30 .k-scheduler-times .k-scheduler-table th, &__hoursZoom30 .k-scheduler-table td {
        font-size: 30px;
    }

    &__hoursZoom31 .k-scheduler-times .k-scheduler-table th, &__hoursZoom31 .k-scheduler-table td {
        font-size: 31px;
    }

    &__hoursZoom32 .k-scheduler-times .k-scheduler-table th, &__hoursZoom32 .k-scheduler-table td {
        font-size: 32px;
    }

    &__hoursZoom33 .k-scheduler-times .k-scheduler-table th, &__hoursZoom33 .k-scheduler-table td {
        font-size: 33px;
    }

    &__hoursZoom34 .k-scheduler-times .k-scheduler-table th, &__hoursZoom34 .k-scheduler-table td {
        font-size: 34px;
    }

    &__hoursZoom35 .k-scheduler-times .k-scheduler-table th, &__hoursZoom35 .k-scheduler-table td {
        font-size: 35px;
    }

    &__hoursZoom36 .k-scheduler-times .k-scheduler-table th, &__hoursZoom36 .k-scheduler-table td {
        font-size: 36px;
    }

    &__hoursZoom37 .k-scheduler-times .k-scheduler-table th, &__hoursZoom37 .k-scheduler-table td {
        font-size: 37px;
    }

    &__hoursZoom38 .k-scheduler-times .k-scheduler-table th, &__hoursZoom38 .k-scheduler-table td {
        font-size: 38px;
    }

    &__hoursZoom39 .k-scheduler-times .k-scheduler-table th, &__hoursZoom39 .k-scheduler-table td {
        font-size: 39px;
    }

    &__hoursZoom40 .k-scheduler-times .k-scheduler-table th, &__hoursZoom40 .k-scheduler-table td {
        font-size: 40px;
    }

    &__hoursZoom41 .k-scheduler-times .k-scheduler-table th, &__hoursZoom41 .k-scheduler-table td {
        font-size: 41px;
    }

    &__hoursZoom42 .k-scheduler-times .k-scheduler-table th, &__hoursZoom42 .k-scheduler-table td {
        font-size: 42px;
    }

    &__hoursZoom43 .k-scheduler-times .k-scheduler-table th, &__hoursZoom43 .k-scheduler-table td {
        font-size: 43px;
    }

    &__hoursZoom44 .k-scheduler-times .k-scheduler-table th, &__hoursZoom44 .k-scheduler-table td {
        font-size: 44px;
    }

    &__hoursZoom45 .k-scheduler-times .k-scheduler-table th, &__hoursZoom45 .k-scheduler-table td {
        font-size: 45px;
    }

    &__hoursZoom46 .k-scheduler-times .k-scheduler-table th, &__hoursZoom46 .k-scheduler-table td {
        font-size: 46px;
    }

    &__hoursZoom47 .k-scheduler-times .k-scheduler-table th, &__hoursZoom47 .k-scheduler-table td {
        font-size: 47px;
    }

    &__hoursZoom48 .k-scheduler-times .k-scheduler-table th, &__hoursZoom48 .k-scheduler-table td {
        font-size: 48px;
    }

    &__hoursZoom49 .k-scheduler-times .k-scheduler-table th, &__hoursZoom49 .k-scheduler-table td {
        font-size: 49px;
    }

    &__hoursZoom50 .k-scheduler-times .k-scheduler-table th, &__hoursZoom50 .k-scheduler-table td {
        font-size: 50px;
    }

    &__hoursZoom51 .k-scheduler-times .k-scheduler-table th, &__hoursZoom51 .k-scheduler-table td {
        font-size: 51px;
    }

    &__hoursZoom52 .k-scheduler-times .k-scheduler-table th, &__hoursZoom52 .k-scheduler-table td {
        font-size: 52px;
    }

    &__hoursZoom53 .k-scheduler-times .k-scheduler-table th, &__hoursZoom53 .k-scheduler-table td {
        font-size: 53px;
    }

    &__hoursZoom54 .k-scheduler-times .k-scheduler-table th, &__hoursZoom54 .k-scheduler-table td {
        font-size: 54px;
    }

    &__hoursZoom55 .k-scheduler-times .k-scheduler-table th, &__hoursZoom55 .k-scheduler-table td {
        font-size: 55px;
    }

    &__hoursZoom56 .k-scheduler-times .k-scheduler-table th, &__hoursZoom56 .k-scheduler-table td {
        font-size: 56px;
    }

    &__hoursZoom57 .k-scheduler-times .k-scheduler-table th, &__hoursZoom57 .k-scheduler-table td {
        font-size: 57px;
    }

    &__hoursZoom58 .k-scheduler-times .k-scheduler-table th, &__hoursZoom58 .k-scheduler-table td {
        font-size: 58px;
    }

    &__hoursZoom59 .k-scheduler-times .k-scheduler-table th, &__hoursZoom59 .k-scheduler-table td {
        font-size: 59px;
    }

    &__hoursZoom60 .k-scheduler-times .k-scheduler-table th, &__hoursZoom60 .k-scheduler-table td {
        font-size: 60px;
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
        &__hoursZoom .k-scheduler-table th {
            font-size: 14px;
        }
    }
}