.signatureCapture {
    width: 100%;
    padding-right:20px;
    .form-row {
        margin-bottom: @brand-margin_sm;
    }
    &__title {
        display: inline-block;
        max-width: 100%;
        margin-top: 0;
        font-weight:500;
        padding-left:25px;
        margin-bottom: 0;        
        overflow: hidden;
        text-overflow: ellipsis;
        transform: translateY(2px);
    }
}
