.sectionReader {

    &__title {
        // not using less var here to avoid causing existing implementations of custom forms to change color
        background-color: lightgray;
        padding: @brand-padding_sm;
    }

    &__headerRow {
        border-color: @brand-color_gray;
        margin: 0 0 @brand-margin_sm 0;
    }
}
