@import 'variables';

.insurance-payment-types-dropdown {
    
    ::ng-deep .k-dropdown {
        width: 100%;

        > .k-dropdown-wrap {
            
            &.k-state-default {
                width: 100%;
                z-index: 2;
            }
        }
    }
}

.disabledCursor{
    cursor:not-allowed;
    background-color: #7a7a7a;
    opacity: 1;
}