// Mobile Variables
@brand-font-tablet_xs: 8px;
@brand-font-tablet_sm: 11px;
@brand-font-tablet_md: 12px;
@brand-font-tablet_lg: 14px;
@brand-font-tablet_xl: 18px;

@brand-font-tablet_h1: 14px;
@brand-font-tablet_h2: 14px;
@brand-font-tablet_h3: 14px;
@brand-font-tablet_h4: 14px;
@brand-font-tablet_h5: 14px;
@brand-font-tablet_h6: 14px;

@brand-padding-tablet_xs: 6px;
@brand-padding-tablet_sm: 8px;
@brand-padding-tablet_md: 10px;
@brand-padding-tablet_lg: 12px;
@brand-padding-tablet_xl: 14px;