@import 'variables';

.chips {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 23px;
    padding: 0px 10px 0px 10px;
    border: 1px solid $action-blue;
    border-radius: 15px;
    font-family: $global-font-family;
    font-size: 12px;
    &-content {
        margin-right: 3px;
        hyphens: auto;
        word-wrap: break-word;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 400px;
    }
    &-remove-icon {
        //margin-right: 3px;
    }
    &.primary {
        color: $polar-white;
        background-color: $action-blue;
    }

    &.secondary {
        color: $action-blue;
        background-color: $bg-grey;
    }
}
