
.surfacePane {
    position: absolute;   
    z-index: 1000;   
    float: left;
    width: 300%;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;

    &__close {
        .btn;
        .btn-link;
        float: right;
        padding: 6px 0 6px 12px;
    }
}
.service-input-tooth,
.service-input-surface,
.service-input-root {
    width: 70%;
    max-width: 100px;
    padding: 5px 10px 5px 10px;
    text-transform: capitalize;
}

button.add-selected-services {
    margin-bottom: 10px;
}

div.services-selector-cdt-code-name-col {
    margin-left: -20px;
}

div.services-selector-description-col {
    margin-left: 15px;
}

div.services-selector-service-code-label {
    margin-left: -10px;
}

div.services-selector-service-description-label {
    margin-left: -5px;
}

div.services-selector-service-type-dd {
    margin-left: -50px;
}