.adjTypesCrud{
    .containerStandard;
    .clearfix;


    &__actions{
        float:right;
    }
    .isActiveSpan {
        padding: 10px;
    }
    button#chkIsActive{
        padding: 0;
    }
}
