/*
    Application specific CSS should be in here, any/all CSS for custom elements!
 */

/* Need to override the padding/border of the user-dropdown for layout */

/* Make sure that none of the columns will run over into the next!! */













.preserve-white-space {
    white-space: pre;
}





.typeaheadResults ul {
    overflow-y: auto;
    max-height: 400px;
}
.scroll-y-400 {
    overflow-y: auto;
    max-height: 400px;
}










.location-label-container {
    margin-bottom: -11px;
}

    .location-label-container > span {
        display: inline-block;
        margin-bottom: 13px;
    }

.datepicker .dropdown-menu {
    padding: 0;
    margin: 0;
    width: 100%;
}














.patient-alert {
    color: #c00;
}

.symbol-list-drop-down {
    max-height: 200px;
    overflow: auto;
}



.remove-bottom-border {
    border-bottom: none !important;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 30px auto;
}





.custom-id-label-column-edit {
    height: 70px;
}



.search-highlight {
    background-color: #ffff99;
}

.infinite-scroll-container {
    height: 500px;
    overflow: auto;
/*MT: Added due to overflow causing issue with width. Please let me know if this affects other areas.*/
    padding-left: 15px;
    padding-right: 15px;
}

.list-group-item.clickable i {
    line-height: 21px;
}

.location-selector {
    background: #f5f5f5;
    color: #666;
}


.inactiveItem {
    color: #999 !important;
}

    .inactiveItem > a {
        color: #999 !important;
    }

.required-label {
    color: #ca674c;
}




.color-red {
    color: #f4543c;
}

.color-blue {
    color: #0073b7;
}


.inline {
    display: inline-block;
}



.wrap-contents {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}






.image-upload-buttons {
    margin-top: 10px;
}








.list-group-item.add-new {
    background: #f6f6f6;
}






.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}










.duplicate-patients {
    min-height: 30em;
}




.dropdown-menu.dynamic-list {
    width: 100%;
}

/*firefox only css*/
@-moz-document url-prefix() {
    .dropdown-menu.dynamic-list {
        min-width: 100%;
    }
}













.click-cursor {
    cursor: pointer;
}






/*ToDo, may want to modify this*/
img.img50_50 {
    width: 50px;
    height: 50px;
    padding: 3px 2px 2px 2px;
    border-radius: 5px;
}


.location-dropdown {
    display: inline;
    height: 10px;
}

.location-dropdown {
    height: 100%;
    vertical-align: middle;
}








.notes-lg {
    width: 100%;
    height: 150px;
}

.notes-md {
    width: 100%;
    height: 80px;
}

.notes-sm {
    width: 100%;
}






.below-header {
    margin-top: 75px;
}


.cursor-pointer {
        cursor: pointer;
}

.border-solid-black {
    border:solid 1px gray;
}

.border-solid-2px-black {
    border:solid 2px black !important;
}

.zero-zindex {
        z-index: 0;
    }





.dropdownmenu-btn {
    text-align:center;
    white-space: normal;
    height:85px;
}
.dropdownmenu-btn i {
    font-size:1.5em
}

.dropdownmenu-btn:hover {
    background-color: #563d7c;
    color: #fff;
}

#additemMenu:hover .dropdown-menu {
    display: block;
 }

.red-border {
    border:1px solid #f00;
}

/*MHF END*/

/*Section Preview STARTS*/
.section-preview-show-border{
    border: 1px solid #999;
}

.section-item-panel {
    margin-top: 20px; 
    background-color:#ffffff
}
/*Section Preview ENDS*/

img.percentage-symbol-position {
    height: 20px; 
    width: 20px;
    top: 10px;
    right: 5px;
    position: absolute;
}
.color-dodgerblue {
    color: dodgerblue;
}
.color-black {
    color: black;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon span {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}
.service-code-modal-body {
    padding-top: 0px; 
    margin-top: -3%;
}
.background-marinblue {
    background:#dae5f4
}