div.inactive-user-landing-page {
    .div-main {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .div-message {
        background-color: #FFFFFF;
        height: 82vh;
        text-align: center;
    }

    .div-warning {
        font-size: medium;
        margin-left: 10%;
        margin-right: 10%;
        text-align:left;
    }

    .div-return-link {
        color: #2DABCB;
        font-size: medium;
        font-weight: bold;
        margin-left: 10%;
        margin-top: 5%;
        text-align:left;
    }

    .span-return-link {
        cursor: pointer;
    }

    .div-code {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        text-align:left;
    }

    .logo {
        margin-bottom: 10%;
        margin-top: 10%;
        width: 75%;
    }

    .footer {
        bottom: -110px;
        font-size: small;
        height: 5%;
        position: fixed;
        text-align: center;
        width: 100%;
    }
}