.deposit-view {

    &__container {
        .containerStandard;
        padding: 0;

        hr {
            width: 97%;
            margin-bottom: 1px;
            padding-bottom: 8px;
            padding-top: 8px;
            float: left;
            margin-left: 27px;
        }
    }

    &__header {
        .clearfix;
        position: relative;
        padding-top: @brand-padding_xl;
        padding-bottom: @brand-padding_md;
        margin-bottom: @brand-margin_md;
        border-bottom: @brand-border;
    }

    &__nav {
        padding-left: 0;

        a {
            cursor: pointer;
        }
    }

    &__page-header-title {
        font-size: 26px;
        margin: 0;
        padding-top: 12px;
        padding-bottom: 12px;
        font-family: @brand-font;
        font-weight: 500;
        padding-left: 0;
    }

    &__column-title {
        color: #000000;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        font-size: 14px;
        font-family: @brand-font;
        padding-left: 0;
        padding-right: 0;
    }
}

.pad-left-30{
    padding-left:30px;
}
.text-bold {
    font-weight: bold;
}
.toggle-header {
    padding-left: 16%;
    padding-top: 30px;
    margin-bottom: -20px;
}
