//Used for dialog content handling
:host ::ng-deep {
    .k-window {
        left: 25%;
        width: 60%;
        top: 10%;
        right: 25%;
        max-height: 520px;
    }

    .k-window-content, .k-prompt-container {
        padding: 0px !important;
    }

    .k-dialog .k-content {
        padding: 0px !important;
    }   
}

.panel .panel-heading {
    width: -webkit-fill-available;
}
//Used to display error message 
.help-text {
    color: #ff0500;
}

.smartCodeSetup {
    &__content {
        margin: 0px;
    }
 }