.bulkPayment{
    &__container {
        .containerStandard;
        padding: 0;
    }
    .footer {
        background-color: #f5f5f5;
        position:fixed;
        bottom:0px;
        left:0px;
        right:0px;
        height:auto;
        margin-bottom:0px;
        padding: 0px, 10px, 0p, 20px
      
    }

    .filter-header-container{
        margin-bottom: 30px;
    }

    .filter-header{
        margin: 0;
    }
    .inner-row{
        margin-bottom: 20px;
    }
    .bulk-payment-type{
        width:100%;
    }

    .date .error > .help-text {
        .error;
    }
    .service{
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
        div:first-of-type{
            text-align:right;
        }
    }

    .payment{
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #f5f5f5;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
    

    
}
