.dropdownNav {
   
    &__dropParentDiv{
        width:100%!important;      
    }

     &__dropChildDiv1{
        width:50%!important;
        float:left!important;
        padding-left:10px!important;
    }

      &__dropChildDiv2{
        width:30%!important;
        float:left!important;
    }

}
