@import "variables";

.autocomplete-option {
    &.active {
        color: $polar-white;
        background-color: $action-blue;
    }

    &:hover {
        color: $polar-white;
        background-color: $light-action-blue;
    }
}