<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="nwebsec">
			<!-- For information on how to configure NWebsec please visit: http://nwebsec.codeplex.com/wikipage?title=Configuration -->
			<!-- For information on how to configure NWebsec please visit: http://nwebsec.codeplex.com/wikipage?title=Configuration -->
			<section name="httpHeaderSecurityModule" type="NWebsec.Modules.Configuration.HttpHeaderSecurityConfigurationSection, NWebsec, Version=3.2.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" requirePermission="false"/>
			<section name="sessionSecurity" type="NWebsec.SessionSecurity.Configuration.SessionSecurityConfigurationSection, NWebsec.SessionSecurity, Version=1.1.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" requirePermission="false" allowDefinition="MachineToApplication"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!-- Used only for localhost testing - set this to 'stage' if running against stage - default: test -->
		<add key="LocalhostUseEnvironment" value="test"/>
		<add key="PreserveLoginUrl" value="true"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="webPages:Version" value="3.0"/>
		<add key="DomainUrl" value="https://TEST-Fuse-Service-2-api.practicemgmt-TEST.pattersondevops.com"/>
		<add key="devazure_DomainUrl" value="https://TEST-Fuse-Service-2-api.practicemgmt-TEST.pattersondevops.com"/>
		<add key="masterazure_DomainUrl" value="https://stage-fuse-service-2-api.practicemgmt-stage.pattersondevops.com"/>
		<add key="PaymentGatewayPaymentPageUrl" value="https://ws.test.paygateway.com/HostPayService/v1/hostpay/paypage"/>
		<add key="idaTenant" value="pattcom.onmicrosoft.com"/>
		<add key="azureApplicationId" value="5914a866-20f7-4f02-a735-9186d5b5aa95"/>
		<add key="devazure_azureApplicationId" value="4d7b1eb0-7f2e-4e70-9d36-649d0e0a5b14"/>
		<add key="masterazure_azureApplicationId" value="5914a866-20f7-4f02-a735-9186d5b5aa95"/>
		<add key="ClaimApiUrl" value="https://TEST-Platform-Claims-api.practicemgmt-TEST.pattersondevops.com"/>
		<add key="devazure_ClaimApiUrl" value="https://test-platform-claims-api.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_ClaimApiUrl" value="https://stage-platform-claims-api.practicemgmt-stage.pattersondevops.com"/>
		<add key="EraApiUrl" value="https://TEST-Platform-ERA-api.practicemgmt-TEST.pattersondevops.com"/>
		<add key="devazure_EraApiUrl" value="https://test-platform-era-api.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_EraApiUrl" value="https://stage-platform-era-api.practicemgmt-stage.pattersondevops.com"/>
		<add key="FileShareApiUrl" value="https://TEST-Platform-FileShare-api.practicemgmt-TEST.pattersondevops.com"/>
		<add key="devazure_FileShareApiUrl" value="https://test-platform-fileshare-api.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_FileShareApiUrl" value="https://stage-platform-fileshare-api.practicemgmt-stage.pattersondevops.com"/>
		<add key="RteApiUrl" value="https://test-pdco-platform-eligibility-svc.practicemgmt-test.pattersondevops.com"/>
		<add key="devazure_RteApiUrl" value="https://test-pdco-platform-eligibility-svc.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_RteApiUrl" value="https://stage-pdco-platform-eligibility-svc.practicemgmt-stage.pattersondevops.com"/>
		<add key="RxApiUrl" value="https://localhost:25551"/>
		<add key="devazure_RxApiUrl" value="https://int-platform-prescriptions-api.practicemgmt-int.pattersondevops.com"/>
		<add key="masterazure_RxApiUrl" value="https://localhost:25551"/>
		<add key="TopazUrl" value="https://tablet.sigwebtablet.com:47290/SigWeb/"/>
		<add key="VersionedEnterpriseUrl" value="https://TEST-Platform-Security-api.practicemgmt-TEST.pattersondevops.com"/>
		<add key="devazure_VersionedEnterpriseUrl" value="https://test-platform-security-api.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_VersionedEnterpriseUrl" value="https://stage-platform-security-api.practicemgmt-stage.pattersondevops.com"/>
		<add key="PlatformUserServiceUrl" value="https://test-pdco-platform-user-svc.practicemgmt-test.pattersondevops.com"/>
		<add key="devazure_PlatformUserServiceUrl" value="https://test-pdco-platform-user-svc.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_PlatformUserServiceUrl" value="https://stage-pdco-platform-user-svc.practicemgmt-stage.pattersondevops.com"/>
		<add key="rootUrl" value="https://TEST-Fuse-web.practicemgmt-TEST.pattersondevops.com"/>
		<add key="devazure_rootUrl" value="https://local.test-fuse-web.practicemgmt-test.pattersondevops.com:35312"/>
		<add key="masterazure_rootUrl" value="https://local.stage-fuse-web.practicemgmt-stage.pattersondevops.com:35312"/>
		<add key="applicationAbbreviation" value="soar"/>
		<!-- This key is for Application Insights resource 'US-N-DPMS-APM-LOCAL-302' in resource group 'US-N-DPMS-RSG-SOAR-302' -->
		<add key="appInsightsInstrumentationKey" value="f19997a1-435b-455e-99dc-e27003c7121e"/>
		<add key="appInsightsTraceEnabled" value="true"/>
		<add key="EnvironmentName" value="localhost"/>
		<add key="devazure_EnvironmentName" value="FuseQA"/>
		<add key="masterazure_EnvironmentName" value="STAGEV45"/>
		<add key="EventSource" value="SoarUI"/>
		<add key="inactivitytimeout" value="3600"/>
		<add key="inactivityautotimeout" value="600"/>
		<add key="walkmeUrl" value="https://cdn.walkme.com/users/4428f4ac03c24deebe2a127a7586cba2/test/walkme_4428f4ac03c24deebe2a127a7586cba2_https.js"/>
		<add key="displayAs" value="SOAR"/>
		<add key="ForceSSL" value="false"/>
		<add key="idm:rootUrl" value="https://TEST-Platform-token-api.practicemgmt-TEST.pattersondevops.com/sts"/>
		<add key="devazure_idm:rootUrl" value="https://TEST-Platform-token-api.practicemgmt-TEST.pattersondevops.com/sts"/>
		<add key="masterazure_idm:rootUrl" value="https://stage-platform-token-api.practicemgmt-stage.pattersondevops.com/sts"/>
		<add key="idm:duendeRootUrl" value="https://test-iam-duende-svc.practicemgmt-test.pattersondevops.com"/>
		<add key="devazure_idm:duendeRootUrl" value="https://test-iam-duende-svc.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_idm:duendeRootUrl" value="https://test-iam-duende-svc.practicemgmt-test.pattersondevops.com"/>
		<!-- changeMultiFactorAuthenticationUrl  -->
		<add key="idm:mfaSettingsUrl" value="https://PattersonB2CDev.b2clogin.com/PattersonB2CDev.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1A_DEVELOPMENT_FUSE_RESETMFA%26client_id=53d221bc-2e45-45b8-b935-e5cc0d8b1076%26redirect_uri=https://test-fuse-web.practicemgmt-test.pattersondevops.com"/>
		<add key="devazure_idm:mfaSettingsUrl" value="https://PattersonB2CDev.b2clogin.com/PattersonB2CDev.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1A_DEVELOPMENT_FUSE_RESETMFA%26client_id=53d221bc-2e45-45b8-b935-e5cc0d8b1076%26redirect_uri=https://test-fuse-web.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_idm:mfaSettingsUrl" value="https://PattersonB2CDev.b2clogin.com/PattersonB2CDev.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1A_DEVELOPMENT_FUSE_RESETMFA%26client_id=53d221bc-2e45-45b8-b935-e5cc0d8b1076%26redirect_uri=https://test-fuse-web.practicemgmt-test.pattersondevops.com"/>
		<!--  Multiple Factor Authentication -->
		<add key="idm:mfaPracticeSettingsUrl" value="https://test-iam-mfa-svc.practicemgmt-test.pattersondevops.com"/>
		<add key="devazure_idm:mfaPracticeSettingsUrl" value="https://test-iam-mfa-svc.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_idm:mfaPracticeSettingsUrl" value="https://test-iam-mfa-svc.practicemgmt-test.pattersondevops.com"/>
		<!-- Multiple Factor Authentication Management -->
		<add key="idm:mfaManagementPracticeServiceUrl" value="https://test-iam-mfamgmt-svc.practicemgmt-test.pattersondevops.com"/>
		<add key="devazure_idm:mfaManagementPracticeServiceUrl" value="https://test-iam-mfamgmt-svc.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_idm:mfaManagementPracticeServiceUrl" value="https://test-iam-mfamgmt-svc.practicemgmt-test.pattersondevops.com"/>
		<add key="idm:applicationClientId" value="fuse"/>
		<!-- Do not remove ... will break login++ if you do!!!!!!!! -->
		<add key="ApplicationVariableForLoginToken" value="localhost"/>
		<!-- Do not remove ... will break login++ if you do!!!!!!!! -->
		<add key="NewApplicationVariableForLoginToken" value="pattersondevops.com"/>
		<add key="devazure_ApplicationVariableForLoginToken" value="int.pattersondevops.com"/>
		<add key="apteryxUsePracticeIdForSiteName" value="false"/>
		<add key="apteryxDefaultSiteName" value="FuseDev"/>
		<add key="apteryx2DefaultSiteName" value="FuseQA2"/>
		<add key="idm:apteryxClientId" value="apteryx-imaging"/>
		<add key="idm:apteryx2ClientId" value="apteryx-imaging2"/>
		<add key="idm:apteryx3ClientId" value="apteryx-imaging3"/>
		<add key="apteryxUrlSegment" value="apteryxweb.com"/>
		<add key="apteryx2UrlSegment" value="xvwebpatt.net"/>
		<add key="apteryxHostName" value="pattersondental.com"/>
		<add key="apteryx2HostName" value="xvwebpatt.net"/>
		<add key="ResetPasswordUrl" value="https://pattersonb2cdev.b2clogin.com/PattersonB2CDev.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1A_DEVELOPMENT_FUSE_PWRESET_AD&amp;client_id=9bd4ba2d-3be8-4ce6-af10-9567598b64b4&amp;nonce=defaultNonce&amp;redirect_uri=https%3A%2F%2Flocalhost%3A35312&amp;scope=openid&amp;response_type=id_token&amp;prompt=login"/>
		<!-- End Login and Apteryx Variables -->
		<add key="SupportChatUrl" value="https://pfi--tst1.custhelp.com/app/chat/chat_launch?id=test"/>
		<add key="SupportEmailUrl" value="https://pfi--tst1.custhelp.com/app/ask?id=test"/>
		<add key="ReminderApiUrl" value="https://localhost:56343"/>
		<add key="isEulaEnabledForEnvironment" value="false"/>
		<add key="soar:scanning_key" value=""/>
		<add key="soar:dca:baseUrl" value="https://localhost:8979/api/imagingintegration"/>
		<add key="soar:dca:sidexisPluginName" value="Fuse-Sidexis Integration"/>
		<!-- APIs -->
		<add key="FuseApimSubscriptionKey" value="f1170f907ab04600bec2f4c8c7e4c4a4"/>
		<add key="devazure_FuseApimSubscriptionKey" value="f1170f907ab04600bec2f4c8c7e4c4a4"/>
		<add key="masterazure_FuseApimSubscriptionKey" value="e2d80de110044a60b3de2fceff176e08"/>
		<add key="FuseSchedulingUrl" value="https://TEST-Fuse-Scheduling-api.practicemgmt-TEST.pattersondevops.com"/>
		<add key="devazure_FuseSchedulingUrl" value="https://test-fuse-scheduling-api.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_FuseSchedulingUrl" value="https://stage-fuse-scheduling-api.practicemgmt-stage.pattersondevops.com"/>
		<add key="FusePracticesUrl" value="https://TEST-Fuse-Practices-api.practicemgmt-TEST.pattersondevops.com"/>
		<add key="devazure_FusePracticesUrl" value="https://test-fuse-practices-api.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_FusePracticesUrl" value="https://stage-fuse-practices-api.practicemgmt-stage.pattersondevops.com"/>
		<add key="FusePracticesApimUrl" value="https://dsw-api.practicemgmt-test.pattersondevops.com/external/fuse/practices"/>
		<add key="devazure_FusePracticesApimUrl" value="https://dsw-api.practicemgmt-test.pattersondevops.com/external/fuse/practices"/>
		<add key="masterazure_FusePracticesApimUrl" value="https://dsw-api.practicemgmt-stage.pattersondevops.com/external/fuse/practices"/>
		<add key="FuseSchedulingApimUrl" value="https://dsw-api.practicemgmt-test.pattersondevops.com/external/fuse/scheduling"/>
		<add key="devazure_FuseSchedulingApimUrl" value="https://dsw-api.practicemgmt-test.pattersondevops.com/external/fuse/scheduling"/>
		<add key="masterazure_FuseSchedulingApimUrl" value="https://dsw-api.practicemgmt-stage.pattersondevops.com/external/fuse/scheduling"/>
		<add key="FuseInsuranceUrl" value="https://TEST-Fuse-Insurance-api.practicemgmt-TEST.pattersondevops.com"/>
		<add key="devazure_FuseInsuranceUrl" value="https://test-fuse-insurance-api.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_FuseInsuranceUrl" value="https://stage-fuse-insurance-api.practicemgmt-stage.pattersondevops.com"/>
		<!--For local serverless signalr, use "http://localhost:8080/api/"-->
		<add key="ServerlessSignalRApiUrl" value="https://test-pdco-fuse-serverlesssignalr-azf.azurewebsites.net/api/" />
		<add key="devazure_ServerlessSignalRApiUrl" value="https://test-pdco-fuse-serverlesssignalr-azf.azurewebsites.net/api/" />
		<add key="masterazure_ServerlessSignalRApiUrl" value="https://stage-pdco-fuse-serverlesssignalr-azf.azurewebsites.net/api/" />
		<add key="TreatmentPlansApiUrl" value="https://TEST-Fuse-TreatmentPlans-api.practicemgmt-TEST.pattersondevops.com"/>
		<add key="devazure_TreatmentPlansApiUrl" value="https://test-fuse-treatmentplans-api.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_TreatmentPlansApiUrl" value="https://stage-fuse-treatmentplans-api.practicemgmt-stage.pattersondevops.com"/>
		<add key="FuseReportingUrl" value="https://TEST-Fuse-Reporting-api.practicemgmt-TEST.pattersondevops.com"/>
		<add key="devazure_FuseReportingUrl" value="https://test-fuse-reporting-api.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_FuseReportingUrl" value="https://stage-fuse-reporting-api.practicemgmt-stage.pattersondevops.com"/>
		<add key="FuseNewReportingApiUrl" value="https://test-fuse-reportingapi-api.practicemgmt-test.pattersondevops.com"/>
		<add key="devazure_FuseNewReportingApiUrl" value="https://test-fuse-reportingapi-api.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_FuseNewReportingApiUrl" value="https://test-fuse-reportingapi-api.practicemgmt-test.pattersondevops.com"/>
		<add key="FuseReferralManagementApiUrl" value="https://localhost:45225"/>
		<add key="devazure_FuseReferralManagementApiUrl" value="https://test-fuse-referrals-management-svc.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_FuseReferralManagementApiUrl" value="https://stage-fuse-referrals-management-svc.practicemgmt-stage.pattersondevops.com"/>
		<add key="FuseExportApiUrl" value="https://test-fuse-export-svc.practicemgmt-test.pattersondevops.com"/>
		<add key="devazure_FuseExportApiUrl" value="https://test-fuse-export-svc.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_FuseExportApiUrl" value="https://stage-fuse-reportingapi-api.practicemgmt-stage.pattersondevops.com"/>
		<add key="FuseNotificationGatewayServiceUrl" value="https://dsw-api.practicemgmt-test.pattersondevops.com/external/notifications/v1"/>
		<add key="devazure_FuseNotificationGatewayServiceUrl" value="https://dsw-api.practicemgmt-test.pattersondevops.com/external/notifications/v1"/>
		<add key="masterazure_FuseNotificationGatewayServiceUrl" value="https://dsw-api.practicemgmt-test.pattersondevops.com/external/notifications/v1"/>
		<add key="EnterpriseApiUrl" value="https://TEST-PDCO-Platform-Enterprise-api.practicemgmt-TEST.pattersondevops.com"/>
		<add key="devazure_EnterpriseApiUrl" value="https://test-pdco-platform-enterprise-api.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_EnterpriseApiUrl" value="https://stage-pdco-platform-enterprise-api.practicemgmt-stage.pattersondevops.com"/>
		<add key="EnterpriseSettingsApiUrl" value="https://localhost:53858"/>
		<add key="devazure_EnterpriseSettingsApiUrl" value="https://test-pdco-platform-enterprisesettings-api.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_EnterpriseSettingsApiUrl" value="https://stage-pdco-platform-enterprisesettings-api.practicemgmt-stage.pattersondevops.com"/>
		<add key="PrescriptionApiUrl" value="https://TEST-PDCO-Platform-Prescription-api.practicemgmt-TEST.pattersondevops.com"/>
		<add key="devazure_PrescriptionApiUrl" value="https://test-pdco-platform-prescription-api.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_PrescriptionApiUrl" value="https://stage-pdco-platform-prescription-api.practicemgmt-stage.pattersondevops.com"/>
		<add key="BlueImagingApiUrl" value="https://localhost:44353"/>
		<add key="devazure_BlueImagingApiUrl" value="https://qa-blue-image-api.dolphinimaging.com"/>
		<add key="masterazure_BlueImagingApiUrl" value="https://qa-blue-image-api.dolphinimaging.com"/>
		<add key="FuseClinicalUrl" value="https://test-fuse-service-clinical-api.practicemgmt-test.pattersondevops.com"/>
		<add key="devazure_FuseClinicalUrl" value="https://test-fuse-service-clinical-api.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_FuseClinicalUrl" value="https://stage-fuse-service-clinical-api.practicemgmt-stage.pattersondevops.com"/>
		<add key="FuseSAPISchedulingUrl" value="https://test-fuse-service-scheduling-api.practicemgmt-test.pattersondevops.com"/>
		<add key="devazure_FuseSAPISchedulingUrl" value="https://test-fuse-service-scheduling-api.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_FuseSAPISchedulingUrl" value="https://stage-fuse-service-scheduling-api.practicemgmt-stage.pattersondevops.com"/>
		<add key="FuseInsuranceSapiUrl" value="https://test-fuse-service-insurance-api.practicemgmt-test.pattersondevops.com"/>
		<add key="devazure_FuseInsuranceSapiUrl" value="https://test-fuse-service-insurance-api.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_FuseInsuranceSapiUrl" value="https://stage-fuse-service-insurance-api.practicemgmt-stage.pattersondevops.com"/>
		<add key="LaunchDarklyClientID" value="63617852d7adf90c5167005f"/>
		<add key="IamLaunchDarklyClientID" value="6787cee8e412e509dc58fea5"/>
		<add key="PRMUrl" value="https://qa-prm-office-portal-aca.prm-qa.pattersondevops.com" />
		<add key="devazure_PRMUrl" value="https://qa-prm-office-portal-aca.prm-qa.pattersondevops.com" />
		<add key="masterazure_PRMUrl" value="https://stage-prm-office-portal-ui.prm-stage.pattersondevops.com/" />
		<!-- Temporary -->
		<add key="useSchedulingAPI" value="true"/>
		<add key="enableBlue" value="true"/>
		<add key="showToastError" value="true"/>
		<add key="Feature:enableUserLoginTimesCheck" value="false"/>
    <add key="Feature:PracticePickerInToken" value="true" />
		<!-- Live Chat -->
		<add key="SupportLiveChatUrl" value="https://pfi--tst1.widget.custhelp.com"/>
		<add key="SupportLiveChatProductCode" value="3725"/>
		<!-- Status Page -->
		<add key="StatusPageUrl" value="https://pattersondentalfuse.statuspage.io/"/>	
		<!-- MFE remote apps -->     	
		<!-- Patient Overview -->
		<add key="PatientOverviewMFEUrl" value="https://localhost:4200/main.js"/>
		<add key="InsuranceMFEUrl" value="https://localhost:4300/main.js"/>
		<add key="devazure_patientOverviewMFEUrl" value="https://test-patient-fuse.practicemgmt-test.pattersondevops.com/main.js"/>
		<!-- TODO: Add the URL once stage env is ready --> 
		<add key="masterazure_patientOverviewMFEUrl" value=""/>	
		<!-- Schedule -->
		<add key="ScheduleMFEUrl" value="https://localhost:5230/main.js"/>
		<add key="devazure_scheduleMFEUrl" value="https://dev-schedule-ui-aca.practicemgmt-test.pattersondevops.com/main.js"/>
		<add key="ScheduleMFEAltUrl" value="https://localhost:5230/main.js"/>
		<!-- TODO: Add the URL once stage env is ready --> 
		<add key="masterazure_scheduleMFEUrl" value=""/>
		<add key="ClinicalMFEUrl" value="https://localhost:5500/main.js"/>
		<add key="devazure_ClinicalMFEUrl" value="https://test-fuse-ui-clinical-svc.practicemgmt-test.pattersondevops.com/main.js"/>

		<add key="PracticeSettingsMFEUrl" value="https://localhost:5600/main.js"/>
		<!-- TODO: Add the URL once test env is ready -->
		<add key="devazure_practiceSettingsMFEUrl" value="https://test-practice-settings-fuse.practicemgmt-test.pattersondevops.com/main.js"/>
		<!-- TODO: Add the URL once stage env is ready -->
		<add key="masterazure_practiceSettingsMFEUrl" value=""/>
		<!-- Orthodontic Contracts MFE -->
        <add key="ContractsMFEUrl" value="https://dev-fuse-ortho-contracts-ui.practicemgmt-test.pattersondevops.com/main.js"/>                
        <add key="devazure_contractsMFEUrl" value="https://dev-fuse-ortho-contracts-ui.practicemgmt-test.pattersondevops.com/main.js"/>       
        <add key="masterazure_contractsMFEUrl" value="https://dev-fuse-ortho-contracts-ui.practicemgmt-test.pattersondevops.com/main.js"/>    <!-- TODO: Add URL once stage env is ready -->	
		<!-- Turn Off Single spa -->
		<add key="TurnOffSingleSpa" value="false"/>
		<add key="FullstoryOrgId" value="o-21F18B-na1"/>
		<!-- SSO Domain -->
		<add key="idm:ssoDomainServiceUrl" value="https://test-iam-ssomgmt-svc.practicemgmt-test.pattersondevops.com"/>
		<add key="devazure_idm:ssoDomainServiceUrl" value="https://test-iam-ssomgmt-svc.practicemgmt-test.pattersondevops.com"/>
		<add key="masterazure_idm:ssoDomainServiceUrl" value="https://test-iam-ssomgmt-svc.practicemgmt-test.pattersondevops.com"/>
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.6.2"/>
		<httpRuntime targetFramework="4.5" enableVersionHeader="false"/>
		<sessionState sessionIDManagerType="NWebsec.SessionSecurity.SessionState.AuthenticatedSessionIDManager, NWebsec.SessionSecurity, Version=1.1.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1"/>
		<httpModules>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
		</httpModules>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<modules>
			<add name="NWebsecHttpHeaderSecurityModule" type="NWebsec.Modules.HttpHeaderSecurityModule, NWebsec, Version=3.2.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1"/>
			<remove name="TelemetryCorrelationHttpModule"/>
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler"/>
			<remove name="ApplicationInsightsWebTracking"/>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
		</modules>
		<httpProtocol>
			<customHeaders>
				<clear/>
				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubdomains; preload"/>
				<add name="X-Frame-Options" value="SameOrigin"/>
				<add name="Frame-Options" value="SameOrigin"/>
				<add name="X-XSS-Protection" value="1; mode=block"/>
				<add name="X-Content-Type-Options" value="nosniff"/>
				<add name="Access-Control-Expose-Headers" value="ADRUM_0,ADRUM_1,ADRUM_2,ADRUM_3,ADRUM_4,ADRUM_5,ADRUM_6,ADRUM_7,ADRUM_8,ADRUM_9,ADRUM_10,ADRUM_11,ADRUM_12,ADRUM_13,ADRUM_14,ADRUM_15,ADRUM_16,ADRUM_17,ADRUM_18"/>
				<add name="Referrer-Policy" value="same-origin"/>
				<add name="X-Pat-TransformTest" value="debug"/>
				<!-- This is a placeholder for token substitution in Azure for the Content-Security-Policy -->
				<add name=".__CSPName__." value=".__CSPValue__."/>
				<add name="Cache-Control" value="max-age=3600, must-revalidate"/>
			</customHeaders>
		</httpProtocol>
		<security>
			<requestFiltering removeServerHeader="true">
				<hiddenSegments>
					<add segment="NWebsecConfig"/>
				</hiddenSegments>
			</requestFiltering>
		</security>
		<validation validateIntegratedModeConfiguration="false"/>
		<staticContent>
			<remove fileExtension=".woff2"/>
			<mimeMap fileExtension=".woff2" mimeType="font/font-woff"/>
			<mimeMap fileExtension=".pkg" mimeType="application/octet-stream"/>
			<remove fileExtension=".json"/>
			<mimeMap fileExtension=".json" mimeType="application/json"/>
		</staticContent>
		<urlCompression doStaticCompression="true" doDynamicCompression="true"/>
		<httpCompression>
			<dynamicTypes>
				<clear/>
				<add mimeType="text/css" enabled="true"/>
				<add mimeType="application/x-javascript" enabled="true"/>
				<add mimeType="application/json" enabled="true"/>
				<add mimeType="application/javascript" enabled="true"/>
				<add mimeType="*/*" enabled="false"/>
			</dynamicTypes>
			<staticTypes>
				<clear/>
				<add mimeType="text/css" enabled="true"/>
				<add mimeType="application/x-javascript" enabled="true"/>
				<add mimeType="application/json" enabled="true"/>
				<add mimeType="application/javascript" enabled="true"/>
				<add mimeType="*/*" enabled="false"/>
			</staticTypes>
		</httpCompression>
	</system.webServer>
	<nwebsec>
		<!-- Most of this configuration is handled in OWIN startup.  What remains are not included in the OWIN NWebSec package. -->
		<httpHeaderSecurityModule xsi:noNamespaceSchemaLocation="App_Start/NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd" xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<setNoCacheHttpHeaders enabled="true"/>
			<securityHttpHeaders>
				<content-Security-Policy enabled="true" x-Content-Security-Policy-Header="true" x-WebKit-CSP-Header="true">
					<report-uri enableBuiltinHandler="true"/>
				</content-Security-Policy>
			</securityHttpHeaders>
		</httpHeaderSecurityModule>
		<!-- NWebSec: Session security config. Defaulted from plugin. This ties the authentication of a user with the session, so a new session will be generated each time that a user is authenticated. -->
		<sessionSecurity xsi:noNamespaceSchemaLocation="App_Start/NWebsecConfig/SessionSecurityConfig.xsd" xmlns="http://nwebsec.com/SessionSecurityConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<!-- TODO: Determine whether to use machine keys or a specified sessionAuthentication key and add appropriate line below. -->
			<!-- if using machine keys -->
			<!--<sessionIDAuthentication enabled="true" />-->
			<!-- to specify a sessionAuthentication key (at least 256 bits) -->
			<!--<sessionIDAuthentication enabled="true" useMachineKey="false" authenticationKey="your key here..." />-->
		</sessionSecurity>
	</nwebsec>
</configuration>