.serv-checkbox {
    margin-top: 12px !important;
}
.serv-field{
    vertical-align: middle !important;
}
.serv-table-header{
    padding-right:33px;
}
.serv-code-picker{
    overflow-x: scroll; 
    width: 100%;
    .serv-button{
        width: 17%;
        min-width: 131px;
    }
    .serv-code{
        width: 12%;
        min-width: 60px;
    }
    .serv-cdt{
        width: 12%;
        min-width: 60px;
    }
    .serv-desc{
        width: 35%;
        min-width: 120px;
    }
    .serv-type{
        width: 13%; 
    }
    .serv-fee{
        width: 11%; 
        text-align: right;
    }
    .serv-table{
        width:898px;
    }
    .quick-add-btn {
        margin-right: -6px;
    }
    i.inactive-service-warning {
        color: #f7b82d;            
        margin-top: 11px;   
    }
    i.inactive-service-warning + div.popover {
        background: #106c90;
        color: #fff;
        font-size: 12px;
    }
}