.newServiceSelectorEncounter{
    position: absolute;
    max-width: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    opacity: 0;
    background-color: @brand-color_white;
    z-index: 999;
    padding: 16px;
    top: auto;
    bottom: auto;
    width:100%;
    left: auto;
    box-shadow: initial;

    &.open {
        max-width: 100%;
        opacity: 1;
    }

    .propClose {
        position: absolute;
        top: 0;
        right: -10px;
    }

    .addCheckBox{
        margin: 0;
    }
    .newServiceTable{
        margin-bottom: 5px;
    }
    .searchIcon{
        padding-top: 9px;
    }
    .newServiceHeader{
        padding-right: 33px;
    }
    .selectBtn{
        width:11% !important;
        min-width: 135px;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .servCode{
        width:8% !important;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .cdtCode{
        width:7% !important;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .description{
        width:57% !important;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .type{
        width:9% !important;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .fee{
        width:8% !important;
        text-align:right;
        overflow: hidden;
        vertical-align: middle !important;
    }

}
.newServiceSelectorAppointment {
    position: absolute;
    top: 0%;
    height: 570px;
    max-width: 0;
    opacity: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: @brand-color_white;
    z-index: 999;
    width: 98%;
    box-shadow: initial;

    &.open {
        max-width: 100%;
        opacity: 1;
        padding: 16px;
    }
    .propClose {
        position: absolute;
        top: 0;
        right: -10px;
    }
    .addCheckBox{
        margin: 0;
    }
    .newServiceTable{
        margin-bottom: 5px;
    }
    .searchIcon{
        padding-top: 9px;
    }
    .newServiceHeader{
        padding-right: 33px;
    }
    .selectBtn{
        width:18% !important;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .servCode{
        width:8% !important;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .cdtCode{
        width:7% !important;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .description{
        width:43% !important;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .type{
        width:14% !important;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .fee{
        width:10% !important;
        text-align:right;
        overflow: hidden;
        vertical-align: middle !important;
    }
}
.newServiceSelectorTxPlan {
    position: fixed;
    max-width: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    opacity: 0;
    background-color: @brand-color_white;
    z-index: 999;
    padding: 16px;
    top: auto;
    bottom: auto;
    width:100%;
    left: auto;
    box-shadow: initial;

    &.open {
        max-width: 100%;
        opacity: 1;
    }

    .propClose {
        position: absolute;
        top: 0;
        right: -10px;
    }

    .addCheckBox{
        margin: 0;
    }
    .newServiceTable{
        margin-bottom: 5px;
    }
    .searchIcon{
        padding-top: 9px;
    }
    .newServiceHeader{
        padding-right: 33px;
    }
    .selectBtn{
        width:18% !important;
        min-width: 135px;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .servCode{
        width:8% !important;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .cdtCode{
        width:7% !important;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .description{
        width:50% !important;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .type{
        width:15% !important;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .fee{
        width:9% !important;
        text-align:right;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .inactive-service-warning {
        color: #f7b82d;
        margin-top: 12px;
        float: right;
    }

    i.inactive-service-warning + div.popover {
        background: #106c90;
        color: #fff;
        font-size: 12px;
    }
}
.newServiceSelectorRunning {
    background-color: @brand-color_white;
    height: 250px;

    .addCheckBox{
        margin-top: 12px !important;
    }
    .compactView{
        margin:0px !important;
    }
    .compactTable{
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0px;
        height: 256px;
    }
    .newServiceTable{
        margin-bottom: 5px;
    }
    .searchIcon{
        padding-top: 9px;
    }
    .newServiceHeader{
        padding-right: 33px;
    }
    .selectBtn{
        width:14% !important;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .servCode{
        width:8% !important;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .description{
        width:55% !important;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .type{
        width:15% !important;
        overflow: hidden;
        vertical-align: middle !important;
    }
    .fee{
        width:8% !important;
        text-align:right;
        overflow: hidden;
        vertical-align: middle !important;
    }
}

.containerClass, .newServiceSelectorRunning, .newServiceSelectorEncounter, .newServiceSelectorAppointment  {
    .inactive-service-warning {
        color: #f7b82d;
        margin-left: 30px;
    }

    .scrollHeight {
        height: 315px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    i.inactive-service-warning + div.popover {
        background: #106c90;
        color: #fff;
        font-size: 12px;
    }
}

.divShowInactive {
    margin-top: 8px;
}

.quick-add-container {
    display: flex;
    align-items: center;
}
