@import "variables";
$local-variable: $polar-white;
.color-example {
  font: $global-font-family;
  height: 65px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.fuse-purple {
  background-color: $fuse-purple;
  color: $local-variable;
}
.action-blue {
  background-color: $action-blue;
  color: $local-variable;
}
.light-action-blue {
  background-color: $light-action-blue;
}
.placeholder-grey {
  background-color: $placeholder-grey;
  color: white;
}
.text-black {
  background-color: $text-black;
  color: $polar-white;
}
.disabled-grey {
  background-color: $disabled-grey;
}
.success-green {
  background-color: $success-green;
  color: white;
}
.warning-orange {
  background-color: $warning-orange;
}
.alert-red {
  background-color: $alert-red;
  color: white;
}
.info-blue {
  background-color: $info-blue;
  color: white;
}
.bg-grey {
  background-color: $bg-grey;
}
.polar-white {
  background-color: $polar-white;
}
.border-grey {
  background-color: $border-grey;
}
.border-light-grey {
  background-color: $border-light-grey;
}
.chart-blue {
  background-color: $chart-blue;
  color: white;
}
.chart-red {
  background-color: $chart-red;
  color: white;
}
.chart-green {
  background-color: $chart-green;
}
.chart-purple {
  background-color: $chart-purple;
  color: white;
}
.chart-teal {
  background-color: $chart-teal;
}
.chart-yellow {
  background-color: $chart-yellow;
}
.chart-orange {
  background-color: $chart-orange;
}
.text-selection {
  background-color: $text-selection;
}