:host ::ng-deep {
    .k-widget .k-icon.k-i-expand,
    .k-widget .k-icon.k-i-collapse {
        display: none !important;
    }

    .k-grid .k-grid-header .k-grid-header-wrap .k-header {
        display: none !important;
    }

    .k-grid table {
        width: 112% !important;
    }

    .k-grid .k-grid-content {
        overflow-x: hidden !important;
    }

    .medicalHistoryAlerts__reminder {
        position: sticky;
        top: var(--brand-header-height);
        z-index: 10;
    }
}