.receivables {
    background-color: #FAFAFA;
    &__container {
        .containerStandard;
        max-width: 100%;
        width: 99%;
        padding: 0 20px 0 20px;
    }

    &__header {
        .clearfix;
        position: relative;
        padding-top: @brand-padding_xl;
        padding-bottom: @brand-padding_md;
        margin-bottom: @brand-margin_md;
        border-bottom: @brand-border;

    }
    
    &__nav {
        padding-left: 0;
    }
    &__padding-left-3 {
    padding-left:3px;
    }
}
