.transCrud {
    &__formItem {
        .clearfix;
        display: block;
        margin-bottom: 5px;
    }
    &__formLbl {
        width: 35%;
        float: left;
        padding-top: 5px;
        padding-right: 10px;
        text-align: right;
        font-weight: bold;
    }
    &__formCtrl {
        width: 65%;
        float: right;
        font-weight: normal;
        .lbl-text {
            padding-top: 5px;
            font-weight: normal;
        }
        .date-selector-input {
            padding: 8px 6px;
        }
        .date-selector-input,
        .date-selector-input-group {
            width: auto;
        }
       
        .service-input {
            margin-right: 0;
        }
        .input-capitalize {   
            text-transform: capitalize;
        }
        .transaction-currency-field {
            width:110px; 
            text-align: right; 
            padding: 0px;
        }
        .debit-input{width:62%!important;}  
        .note-desc {
            display: inline-block; 
            float: left;
            width: 300px;
            text-align: left;
            padding-bottom: 4.5px;
            white-space: nowrap;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
            font-weight: 200;
            overflow: hidden;
            font-weight: lighter;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }      
      
    }
       
    &__relatedEncountersTopBorder {    
        padding-top: 10px;       
        padding-bottom: 10px;        
        border-top: 1px solid #e5e5e5;
    }
    &__headercursor-pointer{
        cursor:default !important;
    }
     &__relatedEncountersLink {    
        padding-top: 5px;             
    }
    &__provider{
        width:100%;
        .k-input{            
           width:150px;
        }   
    }
    &__amount-error{
        border: 1px solid @brand-color_error;
    }
    &__tableBox {
        .clearfix;
    }
    &__fakeDisabled {
        opacity: 0.65;
    }
    &__fakeDisabled:hover {
        cursor: not-allowed;
        opacity: 0.65;
        color: grey;
    }
    &__fakeDisabled:focus, &__fakeDisabled:active {
        border: none !important;
        outline: none !important;
    }
}
.transcrud_provider-dropdown-width{
    width:57.5%;
}

