.scheduleUtilizationGaugeWidgetComponent {

    .soarWidget__header {
        width: 53%;
    }

    .gaugeWidget__body {
        position: absolute;
        top: 27%;
        bottom: 0%;
        left: 20%;
        right: 20%;
    }

    .schedule-Utilization-filter-list {
        ::ng-deep .k-dropdown {
            > .k-dropdown-wrap {
                width: inherit;
                outline: none;
            }
        }
    }
}