@import 'variables';
@import 'toolTip.scss';


.icon-right {
    top: calc(40% - 6px);
    float: right;
}

.sort-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 7px;
}

input::placeholder {
    color: $placeholder-grey;
}