<div ng-controller="CollectionToNetProductionGaugeWidgetController" class="soarWidget">
    <div class="soarWidget__header panel-heading">
        <div class="widget-handle w_row">
            <label>{{ data.Title | i18n }}</label>
        </div>
        <div>
            <soar-select-list text-field="Value"
                              value-field="Value"
                              option-list="collectionToNetProductionDateFilterOptions"
                              ng-model="collectionToNetProductionDateFilter"
                              sb-change="onDateFilterChange"></soar-select-list>
        </div>
    </div>
    <div class="gaugeWidget__body">
        <gauge data="gaugeData"></gauge>
    </div>
</div>