<div ng-controller="HygieneVsDoctorGrossProductionHalfDonutWidgetController" class="soarWidget">
    <div class="panel-heading landingContainer__heading soarWidget__header">
        <div class="widget-handle w_row">
            <label>{{data.Title}}</label>
        </div>
        <div>
            <soar-select-list option-list="hygieneVsDoctorGrossProductionFilters"
                              text-field="name"
                              value-field="value"
                              ng-model="hygieneVsDoctorGrossProductionCurrentFilter"
                              sb-change="hygieneVsDoctorGrossProductionChangeFilter">
            </soar-select-list>
        </div>
    </div>
    <div class="soarWidget__body">
        <simple-half-donut data="hygieneVsDoctorGrossProductionSeriesData" drilldown="drilldown"></simple-half-donut>
    </div>
</div>