.userLocationsSetup {
    .standardHeader;

    &__body {
        .containerStandard;

    }
    &__form {
        padding: @brand-padding_md;
        background-color: @brand-color_white;
    }
    &__providerColor{
        display: block;
        padding: 5px;
        width: 25px;
        height: 25px;
        color:@brand-color_white;
        text-align: center;
    }
    
}
