.patCondCreateUpdate {
    .form-row {
        margin-bottom: @brand-margin_sm;
    }
    .leftFooter{
        width : 45%;

        .previousBtn{
            float:left;
        }
    }
    &__subtitle {        
        text-align: left;
        border-bottom: 1px solid @brand-color_light-gray;
    }

    &__provLocLoading {
        text-align: center;
    }
}
