.patientPref {
    &__edit-item {
        margin-bottom: 20px;
    }
    &__location-tag{
        padding-right: 0px;
        padding-left: 0px;
    }
    &__altloc{
        overflow-y: auto;
    }
    &__label-fix{
        margin-bottom: 0px;
    }
    &__orange-warning {
        color: orange;
        margin-left: 5px;
    }
}
