.providerSelector {
    ::ng-deep .k-dropdown {
        width: 100%;

        > .k-dropdown-wrap {
            width: inherit;
            outline: none;
        }
    }

    .disabledCursor{
        cursor:not-allowed;
    }

    .openClinNotes{
        color: black;
        font-style: normal;
        display: block;
        width: 100%;
    }
}
