
.kendoCustomStyle {
    width: 100%;
}
::ng-deep {
     .kendoCustomStyle .k-widget.k-dateinput {
    width: 100%;
 }
 .k-select{
     background: #f6f6f6;
 }
}
.collapseExpand a[aria-expanded="true"]{
    .fa-chevron-up:before{
            content: "\f078";
  }
}
