@import "variables";

#toothFilter {
	width: 250px;

	#toothFilterBtn {
		&.disabled {
			button {
				cursor: not-allowed;
				background-color: rgb(235, 235, 228); //@btn-filter-bar-disabled
				pointer-events: none;
			}
		}

		&.dropdown-link {
			display: flex;
			background-color: #fff; //@brand-color_white
			border: 1px solid #ccc; //@gray-lighter
			width: 100%;
		}

		.dropdown-caret {
			width: 100%;

			span {
				float: right;
				margin-top: 3px;
			}
		}
	}

	.toothFilterContent {
		display: none;
		width: auto;
		flex-wrap: wrap;
		padding: 8px;
		width: 800px;
		background-color: #fff; //@brand-color_white
		box-shadow: 2px 2px 2px rgba(0,0,0,0.3); //@brand-shadow_default
		position: absolute;
		z-index: 1;

		&.active {
			display: flex
		}

		.teethSection {
			padding: 6px;
			display: flex;
			flex-wrap: wrap;

			&__row {
				display: block;
				clear: both;
				width: 100%;

				button {
					font-weight: bold;
					height: 47px;
					width: 47px;
					border-radius: 100%;
					background-color: #fff;
					padding: 0px;
				}

				> * {
					padding: 3px;
				}
			}

			.selected {
				background-color: $action-blue; // @brand-color_font-dark, @panel-btn-color
			}
		}

		.bottomSection {
			display: flex;
			padding: 10px;

			&__regions {
				box-sizing: border-box;
				text-align: center;
				width: 17%;

				> * {
					width: 50px;
				}
			}

			.teethSection {
				flex: 1;
			}
		}
	}
}
