@import 'variables';

// NOTE, most of this should be moved to an appwide file after styleguide in place.
// stuff like borders and font size aren't usually needed at a module level
// some of this is patterned after payment types

.merge-duplicates-dialog {  
  font-family: $global-font-family;
  font-size: 12px;
  width: 500px;
  // height: 400px;
  border-radius: 5px;
  background-color: $polar-white;
  background-size: cover;
  // box-shadow: 0px 0px 5px rgba(0,0,0,0.3);  
  
  .k-window .k-window-content {
    padding: 0px;
  }
  .k-dialog .k-content {
    padding: 0px;    
  }

  .dialog-header {
    font-size: 18px;
    padding: 10px 15px 15px 15px;      
    color: $text-black;
    text-decoration: none solid $text-black;
    border-bottom: 1px solid $page-content-divider-color;    
  }

  .dialog-content {
    font-size: 14px;
    padding: 15px;  
    color: $text-black;
    text-decoration: none solid $text-black
  }

  .dialog-sub-header {
    padding-bottom:15px;
    line-height: 18px;
  }

  .dialog-footer {    
    padding: 15px;
    color: $text-black;
    text-decoration: none solid $text-black;
    border-top: 1px solid $border-grey;
  }

  .title-bar { 
    padding:15px;   
    border-bottom: 1px solid $page-content-divider-color;    
  }  

  .dialog-title {
    font-size: 18px;
    padding-left: 15px;      
    color: $text-black;
    text-decoration: none solid $text-black;
  }

  .cancel_button {
    width: 100px;
    height: 25px;
    border: 1px solid $action-blue;
    border-radius: 5px;
    background-color: $bg-grey;
    background-size: cover;
    font-family: $global-font-family;
    font-size: 12px;
    color: $action-blue;
    text-decoration: none solid $action-blue;
    text-align: center;
  }

  .save-button {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: $action-blue;
    background-size: cover;
    font-family: $global-font-family;
    font-size: 12px;
    color: $polar-white;
    text-decoration: none solid $polar-white;
    text-align: center;
  }

  .col-sm-6,
  .col-sm-12 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .panel {    
    padding:15px;      
    border-radius: 5px;
    background-color: $polar-white;
    background-size: cover;
    box-shadow: $global-drop-shadow;
  }
    
  .table {
    border: 1px solid #eeeeee;        
    // Cells
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: 10px;
          line-height: 18px;
          vertical-align: middle; 
          color: $text-black;
          text-decoration: none solid rgb(85, 85, 85);
        }
      }
    }
    // Bottom align for column headings
    > thead > tr > th { 
      padding: 10px;
      line-height: 18px;
      vertical-align: middle; 
      text-decoration: none solid rgb(45, 171, 203);
      color:$page-content-grid-header !important;
    }
    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
      > tr:first-child {
        > th,
        > td {
          // placeholder
        }
      }
    }    
    > tbody + tbody {
      
    }   
  }
    
  .table-striped {
    > tbody > tr:nth-of-type(odd) {    
      background-color: #f4f3f5;
    }
  }

  input[type="radio"], input[type="checkbox"] {
    margin: 0 0 0 10px;    
    width: 18px; 
  }

  .form-row {
    margin-bottom: 5px;
  }

  .form-footer {
    border-top:1px solid black;
    margin-bottom: 5px 0;
  }

  .btn_toolbar{
    padding: 10px 0;
    float:right;
  }

  .default_button  {
    background-color: $bg-grey;
    background-image: none;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    border: 1px solid $action-blue;
    border-radius: 5px;
    margin-left:10px;
    padding: 0px;
    width: 125px;
    height: 25px;
    color: $action-blue;
    font-size: 12px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    font-family: $global-font-family !important;
    margin-top: -4px;
    
  }
  button.default_button:disabled,
  .default_button[disabled]{
    cursor: not-allowed;         
    border: 1px solid $disabled-grey;
    color: $disabled-grey;
    text-decoration: none solid $disabled-grey;
  }
  button.default_button:hover,
  button.default_button:active,
  button.default_button:focus {
    border-color: $light-action-blue;
  }


  .primary_button {
    background-color: $page-primary-button-background;
    background-image: none;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    border-radius: 5px;
    border-width: 0px;
    border-color: $disabledLink;
    border-style: solid;
    padding: 0px;
    width: 125px;
    height: 25px;
    margin-left:10px;
    color: $Tooltip-text-color;
    font-size: 12px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    font-family: $font-family !important;
    margin-top: -4px;
  }
  button.primary_button.disabled {
    cursor: not-allowed;
  }
}

