.adjTypes {
   .standardHeader;

    &__list {
        .containerStandard;
        
    }

    .icon-button {
        color: @brand-color_link;

    }

    .icon-button:disabled {
        color: @brand-color_disabled;
    }

    .k-grid-content {
       max-height: 360px;
    }
}
