//Added to handle row background color
.grid-body{
    background-color: #fff;  
}

.grid-body:nth-child(odd) {
    background-color: #fff;
}

.grid-body:nth-child(even) {
    background-color: #eee;
}