.reschedule-modal-title-responsive {
    @media only screen and (min-width: 320px) and (max-width: 768px) {
        font-size: @font-size-page-title-mobile;
    }

    @media only screen and (min-width: 768px) {
        font-size: @font-size-page-title;
    }

    font-weight: bold;
    color: @label-color;
    background: #fff;
    text-align:center
}