.masterAlerts {

    .masterAlerts__header{
        width: 96%;
        margin: 0 auto;
    }

    .masterAlerts__list{
        width: 96%;
        margin: 0 auto;
        padding-top: 1%;
    }

    .masterAlerts__title > h1 {           
        font-size: 26px;   
        margin-top: 8px !important;         
    }

    ::ng-deep .k-toolbar .k-button-icontext {
        padding: 10px;
        color: white;
        border-color: #2dabcb;
        background-color: #2dabcb;
    }

    ::ng-deep .k-grid-content {
        max-height: 360px !important;
    }

    ::ng-deep .k-grid .k-textbox {
        height: 30px;
        border: 1px solid #A9A9A9;
        width: 80%;
    }

    ::ng-deep .k-dropdown > .k-dropdown-wrap{
        height: 29.5px;
    }

    ::ng-deep .k-filter-row .k-dropdown-operator{
        right: 59.3%;
        top: 51%;
    }

    ::ng-deep .k-tooltip-validation {
        background-color: #fff7e3;
        color: #f9591f;
        width: fit-content;
        position: absolute;
        left: 40px;
        padding: 15px 15px;
    }
}