<div class="base-toggle {{ toggleClass }} {{ customClass }}">
    <input type="checkbox" class="base-toggle-checkbox {{ toggleClass }}-checkbox" id="{{ switchId + 'Check' }}" ng-model="ngModel" tabindex="1">
    <label class="base-toggle-label {{ toggleClass }}-label" for="{{ switchId + 'Check' }}" id="{{ switchId }}">
        <span class="base-toggle-inner {{ toggleClass }}-inner" data-true-text="{{ trueText }}" data-false-text="{{ falseText }}"></span>
        <span class="base-toggle-switch {{ toggleClass }}-switch"></span>
    </label>
</div>
