@import 'variables';
@import 'toolTip.scss';

.tooltip-container-left{
    top:auto !important;
    margin-top:10px !important;
    background-color: black  !important;
}
.dropdown-menu li span {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 12px;
}

  
.disableSpan {
    opacity: 0.65;
    color:rgb(85, 85, 85);
}

.disableSpan:hover {
    cursor: not-allowed;
    opacity: 0.65;
    color: grey;
}

.disableSpan:focus, .disableAnchor:active {
    border: none !important;
    outline: none !important;
}