@import "variables";

.button {
  box-sizing: border-box;
  height: 25px;
  min-width: 100px;
  border-radius: 5px;
  font-family: $global-font-family;
  font-size: 12px;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  border: none;
  &:focus {    
    outline:none;
  }  

  &.primary {
    color: $polar-white;
    background-color: $action-blue;
    &:hover {
      background-color: $light-action-blue;
    }
  }

  &.secondary {
    color: $action-blue;
    background-color: $polar-white;
    border: 1px solid $action-blue;
    &:hover {
      color: $light-action-blue;
      border-color: $light-action-blue;
    }
  }

  &.disabled, &.disabled:hover {
    color: $disabled-grey;
    background-color: $polar-white;
    border: 1px solid $disabled-grey;
    cursor: not-allowed;
  }

}