.slideOutFilter{
    background:  @brand-color_white;   
    z-index: 999;
    transition: max-width 0.3s ease;    
    box-shadow: -4px 0px 12px rgba(0,0,0,0.5);
  
        
    &__filterGroup{
      
    position: relative;
    width: 95%;
    height: 70%;
    margin: auto;
    border: 1px solid gray;
    overflow-y: scroll;
        
}
    &__filterOption{
        margin: 10px 10px 10px 10px;
    }

    
     
}
