.patientSlideout {
    #btnReset {
        margin-right: 2%;
    }

    #filterbox {
        position: relative;
        width: 95%;
        height: 75%;
        margin: auto;
        border: 1px solid gray;
        overflow-y: auto;
    }
}