.quadOptn {
    min-width: 200px;
    padding: 10px;
    background-color: @brand-color_white;
    box-shadow: @brand-shadow_default;

    .btn {
        padding: @brand-padding_vertical 0;
    }

    &__header {
        .clearfix;
    }
    &__title {
        display: inline-block;
        float: left;
        span {
            display: inline-block;
            padding: @brand-padding_vertical 0;
        }
    }
    &__actions {
        display: inline-block;
        float: right;
    }
    &__body {

    }
    &__quad,
    &__stage {
        margin-bottom: 6px;
        text-align: center;
        .btn {
            width: 48%;
            margin-bottom: 3px;
        }
    }

    &__arch {
        text-align: center;
        margin-bottom: 6px;
        .btn {
            width: 97%;
            margin-bottom: 3px;
        }
    }
}