 .gauge-container {
     .center-main-label {
         font-size: 2em;
         color: black;
         font-weight: 700;
         line-height: 2.7rem;
         cursor: pointer;
     }
     .center-sub-label {
         color: black;
         cursor: pointer;
     }

     .kendo-arcgauge-container {
         display: block;
         height: 15.625rem;
     }

     ::ng-deep svg g g path:hover {
         opacity: 0.8;
     }
 }