.reorder-column-modal {
	&__list {
		//.list-unstyled;
		//.list-striped;
		width:100%;
		height:300px;
		overflow-y:auto;
		white-space:nowrap;
		text-overflow:ellipsis;
	}

	&__list-item {
		cursor: move;

		&.hovering-up {
			border-top: thin solid black;
		}

		&.hovering-down {
			border-bottom: thin solid black;
		}
	}

	&__item-content {
		display:block;
		width:100%;
		height:100%;
		padding: 8px 12px 8px 12px;
		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}