.tab-rect-lg {
	margin: 6px 0px 0px 0px;
	padding: 10px 20px 10px 20px;
	border-radius: 0px;
	background-color: lightgray;
	border: thin solid lightgray;
}

.tab-rect-lg-active {
	padding: 16px 24px 10px 24px;
    background-color: white;
	border-radius: 0px;
	border-left: thin solid lightgray;
	border-top: thin solid lightgray;
	border-right: thin solid lightgray;
	border-bottom: none;
}

.tab-rect-lg-disabled {
    opacity: .5;
    cursor: not-allowed;
}

// Putting this in a select

