.patientDetailsModal {
    &__reminder {
        display: inline-flex;
        padding-bottom: 13px;
        float: right;

        .reminderButton {
            cursor: default;
            opacity: 1;
            pointer-events: none;
        }
    }

    .referred {
        padding-left: 38px;
    }
}
