.setup-type-modal {

    .modal-dialog {
        padding-top: 400px;
        width: 350px;
    }

    &__body {
        padding: @brand-padding_lg;
        position: relative;
        text-align: center;

        a:first-of-type {
            font-weight: @brand-font_heavy;
            position: absolute;
            right: @brand-padding_sm;
            top: @brand-padding_xs;
        }

        button:first-of-type {
            margin-right: @brand-margin_md;
        }
    }
}
