
<div class="filter-controls">
    <div class="form-group has-feedback">
        <input placeholder="{{'Search' | translate }}" (input)="searchAffiliatesByKeyword($event)" [(ngModel)]="searchDescText" class="input-kendo" />
        <span class="glyphicon glyphicon-search form-control-feedback txt-mgnifying-icon"></span>
    </div>

    <div style="float: right; width: 100%; margin-top: 17px;">
        <app-toggle ngDefaultControl id="checkBoxStatus" label="Show Inactive" labelDirection="left"
            [isChecked]="optActive" (toggled)="onToggleChange($event)"></app-toggle>
    </div>

</div>

<hr class="referraltypelist-hr">
<div *ngIf="referralType!=undefined && referralType.length>0">
    <kendo-grid class="kendoNewStyle" [data]="referralType" [sortable]="true">

        <kendo-grid-column field="practiceName" title="{{'Practice Name' | translate }}" width="150">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div kendoTooltip position="top" tooltipClass="app-tooltip"
                    title="{{ dataItem.practiceName?.length > 13 ? dataItem.practiceName  : '' | translate }}">
                    {{ dataItem.practiceName?.length> 13 ? ( dataItem.practiceName | truncateText:13 ) :
                    dataItem.practiceName }}</div>
            </ng-template>
            <ng-template kendoGridHeaderTemplate let-dataItem>
                <span i18n>
                    {{'Practice Name' | translate }}
                    <div class="icon-right">
                        <span
                            *ngIf="(!isDescending && sortColumnName === 'PracticeName') || sortColumnName !== 'PracticeName'"
                            class="fa fa-caret-up fa-sm sort-icon" (click)="sortReferralType('PracticeName', 1)"></span>
                        <span
                            *ngIf="(isDescending && sortColumnName === 'PracticeName') || sortColumnName !== 'PracticeName'"
                            class="fa fa-caret-down fa-sm sort-icon"
                            (click)="sortReferralType('PracticeName', -1)"></span>
                    </div>
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="firstName" title="{{'First Name' | translate }}" width="150" [sortable]="true">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div kendoTooltip position="top" tooltipClass="app-tooltip"
                    title="{{ dataItem.firstName?.length > 10 ? dataItem.firstName  : '' | translate }}">
                    {{dataItem.firstName?.length> 10 ? ( dataItem.firstName | truncateText:10 ) : dataItem.firstName}}
                </div>
            </ng-template>
            <ng-template kendoGridHeaderTemplate let-dataItem>
                <span i18n>
                    {{'First Name' | translate }}
                    <div class="icon-right">
                        <span
                            *ngIf="(!isDescending && sortColumnName === 'FirstName') || sortColumnName !== 'FirstName'"
                            class="fa fa-caret-up fa-sm sort-icon" (click)="sortReferralType('FirstName', 1)"></span>
                        <span *ngIf="(isDescending && sortColumnName === 'FirstName') || sortColumnName !== 'FirstName'"
                            class="fa fa-caret-down fa-sm sort-icon" (click)="sortReferralType('FirstName', -1)"></span>
                    </div>
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="lastName" title="{{'Last Name' | translate }}" width="150">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div kendoTooltip position="top" tooltipClass="app-tooltip"
                    title="{{ dataItem.lastName?.length > 10 ? dataItem.lastName  : '' | translate }}">
                    {{dataItem.lastName?.length> 10 ? ( dataItem.lastName | truncateText:10 ) : dataItem.lastName}}
                </div>
            </ng-template>
            <ng-template kendoGridHeaderTemplate let-dataItem>
                <span i18n>
                    {{'Last Name' | translate }}
                    <div class="icon-right">
                        <span *ngIf="(!isDescending && sortColumnName === 'LastName') || sortColumnName !== 'LastName'"
                            class="fa fa-caret-up fa-sm sort-icon" (click)="sortReferralType('LastName', 1)"></span>
                        <span *ngIf="(isDescending && sortColumnName === 'LastName') || sortColumnName !== 'LastName'"
                            class="fa fa-caret-down fa-sm sort-icon" (click)="sortReferralType('LastName', -1)"></span>
                    </div>
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Address" title="{{'Address' | translate }}" width="250">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div kendoTooltip position="top" tooltipClass="app-tooltip" class="addresswrap"
                    title="{{ dataItem.Address?.length > 30 ? dataItem.Address  : '' | translate }}">
                    {{dataItem.Address?.length> 30 ? ( dataItem.Address | truncateText:30 ) : dataItem.Address}}
                </div>
            </ng-template>
            <ng-template kendoGridHeaderTemplate let-dataItem>
                <span i18n>
                    {{'Address' | translate }}
                    <div class="icon-right">
                        <span *ngIf="(!isDescending && sortColumnName === 'Address1') || sortColumnName !== 'Address1'"
                            class="fa fa-caret-up fa-sm sort-icon" (click)="sortReferralType('Address1', 1)"></span>
                        <span *ngIf="(isDescending && sortColumnName === 'Address1') || sortColumnName !== 'Address1'"
                            class="fa fa-caret-down fa-sm sort-icon" (click)="sortReferralType('Address1', -1)"></span>
                    </div>
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="emailAddress" title="{{'Email' | translate }}" width="150">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div><a class="k-grid-email" href="mailto:{{dataItem.emailAddress}}">{{dataItem.emailAddress}}</a></div>
            </ng-template>
            <ng-template kendoGridHeaderTemplate let-dataItem>
                <span i18n>
                    {{'Email' | translate }}
                    <div class="icon-right">
                        <span
                            *ngIf="(!isDescending && sortColumnName === 'EmailAddress') || sortColumnName !== 'EmailAddress'"
                            class="fa fa-caret-up fa-sm sort-icon" (click)="sortReferralType('EmailAddress', 1)"></span>
                        <span
                            *ngIf="(isDescending && sortColumnName === 'EmailAddress') || sortColumnName !== 'EmailAddress'"
                            class="fa fa-caret-down fa-sm sort-icon"
                            (click)="sortReferralType('EmailAddress', -1)"></span>
                    </div>
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="phone" title="{{'Phone' | translate }}" width="150">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div>{{dataItem.phone | phoneNumber}}</div>
            </ng-template>
            <ng-template kendoGridHeaderTemplate let-dataItem>
                <span i18n>
                    {{'Phone' | translate }}
                    <div class="icon-right">
                        <span *ngIf="(!isDescending && sortColumnName === 'Phone') || sortColumnName !== 'Phone'"
                            class="fa fa-caret-up fa-sm sort-icon" (click)="sortReferralType('Phone', 1)"></span>
                        <span *ngIf="(isDescending && sortColumnName === 'Phone') || sortColumnName !== 'Phone'"
                            class="fa fa-caret-down fa-sm sort-icon" (click)="sortReferralType('Phone', -1)"></span>
                    </div>
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="status" title="{{'Status' | translate }}" width="150">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div
                    [ngClass]="{'statusActive': dataItem.StatusDesc =='Active' , 'statusInActive': dataItem.StatusDesc =='Inactive' }">
                    {{dataItem.StatusDesc}}</div>
            </ng-template>
            <ng-template kendoGridHeaderTemplate let-dataItem>
                <span i18n>
                    {{'Status' | translate }}
                    <div class="icon-right">
                        <span
                            *ngIf="(!isDescending && sortColumnName === 'StatusDesc') || sortColumnName !== 'StatusDesc'"
                            class="fa fa-caret-up fa-sm sort-icon" (click)="sortReferralType('Status', 1)"></span>
                        <span
                            *ngIf="(isDescending && sortColumnName === 'StatusDesc') || sortColumnName !== 'StatusDesc'"
                            class="fa fa-caret-down fa-sm sort-icon" (click)="sortReferralType('Status', -1)"></span>
                    </div>
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="" width="40">
            <ng-template kendoGridCellTemplate let-dataItem>

                    <button class="btn-link" [disabled]="dataItem.IsSystemType||!hasEditAccess"
                        [ngClass]="{'disableMenu':dataItem.IsSystemType||!hasEditAccess}"
                        (click)="editReferralType(dataItem)">
                        <i class="fa fa-pencil"></i>
                    </button>

            </ng-template>
        </kendo-grid-column>

    </kendo-grid>
    <div class="pgr-pager" *ngIf="numberOfPages > 0">
        <span class="pgr-page-nxt-prev" (click)="onPageChange(1)">&lt;</span>
        <span *ngFor="let page of pagesArray; let i = index"
            [ngClass]="{ 'pgr-active-page-nm': currentPageNumber === i + 1, 'pgr-page-nm': currentPageNumber !== i + 1}"
            (click)="onPageChange(i + 1)">{{i + 1}}</span>

        <span class="pgr-page-nxt-prev" (click)="onPageChange(numberOfPages)">&gt;</span>
    </div>
</div>

<div *ngIf="referralType != undefined && referralType.length == 0" class="noContent" id="div-referralType-noContent">
    No Content Available.&nbsp;
    <app-button buttonLabel="Add Referral Affiliate" variation="primary" id="btnAddReferral"
        [isDisabled]="!hasCreateAccess" class="lnkButton"
        title="{{!hasCreateAccess? 'You do not have permission to view this information.' : ''}}" placement="left"
        (click)="showReferralForm()"> </app-button>
</div>