.medChangeAns {
    .standardHeader;

    &__breadcrumb {
        .btn {
            padding: 0;
        }
    }

    &__body {
        width: 96%;
        max-width: 1600px;
        margin: 0 auto;
        padding-top: 16px;
    }

    &__footer {
        width: 96%;
        max-width: 1600px;
        margin: 0 auto;
        padding-top: 16px;
        background-color: #FFFFFF;
    }

    &__form {
        background-color: #FFFFFF;
        padding: 16px;
    }

    .state-selector {
        margin-top: -2px;
    }

    .control-label {
        margin-top: 5px;
    }

    .form-footer {
        padding: 32px;
        padding-top: 0;
    }

    .error .date-selector-input {
        border-color: @brand-color_error;
    }

    .input-label {
        padding-top: 7px;
    }

    .verticalRadio {
        .utilRadio {
            display: block;

            &__ctrl {
                display: block;
                padding: 0 0 10px 0;
            }
        }
    }

    .provider-dropdown {
        margin-top: 8px;
    }

    .diagnosis {
        padding: 5px;
    }

    .diagnosis-input {
        width: 93%;
        display: inline-block;
    }

    .diagnosis-label {
        width: 5%;
        display: inline-block;
    }
    .red-border {
        border: 1px solid red;
    }
    .error-height{
        height: 150px;
    }
    .no-padding{
        padding: 0px;
    }

    .top-row {
        background-color: @brand-color_lighter-gray;
    }

    .top-row-col {
        padding: 0px;
        border: 1px solid gray;
        border-right: 0;
        border-bottom: 0;
    }

    .top-row-last-col {
        border-right: 1px solid gray;
    }

    .top-row-input {
        background-color: @brand-color_lighter-gray;
        border: 0;
        border-radius: 0;
    }

    .top-row-input-last {
        text-align: right;
    }

    .bottom-row-col {
        padding: 0px;
        border: 1px solid gray;
        border-right: 0px;
        height: 40px;
    }

    .bottom-row-last-col {
        border-right: 1px solid gray;
    }

    .bottom-row-input {
        border: 0;
        border-radius: 0;
    }

    .bottom-row-select{        
        height:200px;
        width:460px;
        margin-top:2px;
        position:relative;
        z-index:2000;
    }

    .extra-padding {
        padding: 8px 12px;
    }

    .row-padding {
        padding:16px;
    }

    .pointer {
        cursor:pointer;
    }

    .bold {
        font-weight: bold;
    }
}
