/* Custom Icon Sets */
.fi-a {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_A.svg) !important;
}

.fi-allergies {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_Allergies.svg) no-repeat;
  fill: red;
}

.fi-b {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_B.svg) !important;
}

.fi-barterPt {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_BarterPt.svg) !important;
}

.fi-backProblems {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_BackProblems.svg) !important;
}

.fi-c {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_C.svg) !important;
}

.fi-cannotRecline {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_CannotRecline.svg) !important;
}

.fi-d {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_D.svg) !important;
}

.fi-ddsForAnestheitc {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_DdsForAnestheitc.svg) !important;
}

.fi-deceasedPt {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_DeceasedPt.svg) !important;
}

.fi-dentalAnxiety {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_DentalAnxiety.svg) !important;
}

.fi-discount10 {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_Discount10.svg) !important;
}

.fi-discount20 {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_Discount20.svg) !important;
}

.fi-discount30 {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_Discount30.svg) !important;
}

.fi-discount40 {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_Discount40.svg) !important;
}

.fi-discount50 {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_Discount50.svg) !important;
}

.fi-discount60 {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_Discount60.svg) !important;
}

.fi-discount70 {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_Discount70.svg) !important;
}

.fi-discount80 {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_Discount80.svg) !important;
}

.fi-discount90 {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_Discount90.svg) !important;
}

.fi-discount100 {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_Discount100.svg) !important;
}

.fi-discountApplies {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_DiscountApplies.svg) !important;
}

.fi-dismissedPt {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_DismissedPt.svg) !important;
}

.fi-dontCallAtWork {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_DontCallAtWork.svg) !important;
}

.fi-dontCallAtHome {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_DontCallAtHome.svg) !important;
}

.fi-e {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_E.svg) !important;
}

.fi-emergencyTrtmntOnly {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_EmergencyTrtmntOnly.svg) !important;
}

.fi-f {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_F.svg) !important;
}

.fi-g {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_G.svg) !important;
}

.fi-guardianNotParent {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_GuardianNotParent.svg) !important;
}

.fi-h {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_H.svg) !important;
}

.fi-hardToNumb {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_HardToNumb.svg) !important;
}

.fi-hygieneNoUltrasonic {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_HygieneNoUltrasonic.svg) !important;
}

.fi-hygienePermissionForFlouride {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_HygienePermissionForFlouride.svg) !important;
}

.fi-hygienePermissionForXray {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_HygienePermissionForXray.svg) !important;
}

.fi-hygieneSensitiveRoots {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_HygieneSensitiveRoots.svg) !important;
}

.fi-i {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_I.svg) !important;
}

.fi-j {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_J.svg) !important;
}

.fi-k {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_K.svg) !important;
}

.fi-l {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_L.svg) !important;
}

.fi-likesBlanket {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_LikesBlanket.svg) !important;
}

.fi-likesMusic {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_LikesMusic.svg) !important;
}

.fi-likesPillow {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_LikesPillow.svg) !important;
}

.fi-likesVideo {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_LikesVideo.svg) !important;
}

.fi-m {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_M.svg) !important;
}

.fi-n {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_N.svg) !important;
}

.fi-n2oUser {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_N2oUser.svg) !important;
}

.fi-o {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_O.svg) !important;
}

.fi-p {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_P.svg) !important;
}

.fi-paymentBeforeServices {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_PaymentBeforeServices.svg) !important;
}

.fi-perioPtAlternates {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_PerioPtAlternates.svg) !important;
}

.fi-perioPtDoesNotAlternate {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_PerioPtDoesNotAlternate.svg) !important;
}

.fi-preferredDds {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_PreferredDds.svg) !important;
}

.fi-preferredHygenist {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_PreferredHygenist.svg) !important;
}

.fi-prefersAmAppt {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_PrefersAmAppt.svg) !important;
}

.fi-prefersPmAppt {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_PrefersPmAppt.svg) !important;
}

.fi-premed {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_PreMed.svg) !important;
  fill: red;
}

.fi-ptGagsEasily {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_PtGagsEasily.svg) !important;
  fill: red;
}

.fi-q {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_Q.svg) !important;
}

.fi-r {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_R.svg) !important;
}

.fi-s {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_S.svg) !important;
}

.fi-seeMgrBeforeScheduling {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_SeeMgrBeforeScheduling.svg) !important;
}

.fi-spanishSpeaking {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_SpanishSpeaking.svg) !important;
}

.fi-t {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_T.svg) !important;
}

.fi-talkAboutAppt {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_TalkAboutAppt.svg) !important;
}

.fi-talkAboutFinances {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_TalkAboutFinances.svg) !important;
}

.fi-u {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_U.svg) !important;
}

.fi-usesCareCredit{
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_UsesCareCredit.svg) !important;
}

.fi-v {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_V.svg) !important;
}

.fi-w {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_W.svg) !important;
}

.fi-x {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_X.svg) !important;
}

.fi-y {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_Y.svg) !important;
}

.fi-z {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background: url(/v1.0/Images/PatientAlertIcons/PtAlertFlagIcons_Z.svg) !important;
}
