a {    
    text-decoration: none !important;       
    cursor: pointer;
}

.clickable:hover {
    cursor: pointer;
}

.soar-link {
    color: @brand-color_font-dark;
}

.soar-link-active {
	color: black;
}

td.clickable.active td,
td.clickable:focus td,
td.clickable:hover td,
td.clickable.active,
td.clickable:focus,
td.clickable:hover,
tr.clickable.active td,
tr.clickable:focus td,
tr.clickable:hover td,
tr.clickable.active,
tr.clickable:focus,
tr.clickable:hover,
.list-group-item.clickable.active,
.list-group-item.clickable:focus,
.list-group-item.clickable:hover {
    background-color: #31c0be !important;
    border-color: #ddd !important;
}