/*
 * ------ STYLE GUIDE STYLES ------
 * ---- Not used in application ---
 
body.sg {
    padding: 0;
}
.sgHeader {
    background-color: @brand-color_primary;
    h1 {

        margin: 0;
        padding: 20px 0;
        color: @brand-color_white;
    }
}
.sgMainTabs {
    border-bottom: none;
    li {

        a {
            color: @brand-color_white;
            &:hover {
                background-color: fade(@brand-color_white, 30%);
                border-color: transparent;
            }
        }
        &.active {
            a {
                font-weight: 500;
            }
        }
    }
}
    */