// Used for classes that use different font-weight, but in a specific scenario it needs to be normal
.font-weight-normal {
    font-weight: normal;
}

.font-weight-bold {
    font-weight: bold !important;
}

.font-size-12 {
    font-size: 12px;
}

.font-18 {
    font-size: 18px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;  
  white-space: nowrap;
  display: inline-block;
}

.font-normal-responsive {    
    @media only screen and (min-width: 320px) and (max-width: 768px) {        
	    font-size: @font-size-normal-mobile;
    }
    
    @media only screen and (min-width: 768px) {
	    font-size: @font-size-normal;
    }
}

.font-12 {
	font-size: 12px;
}

.font-13 {
	font-size: 13px;
}

.font-14 {
	font-size: 14px;
}

.font-16 {
	font-size: 16px;
}

.font-18 {
	font-size: 18px;
}

.font-20 {
	font-size: 20px;
}

.font-22 {
	font-size: 22px;
}

.font-24 {
	font-size: 24px;
}

.font-28 {
	font-size: 28px;
}

.font-32 {
	font-size: 32px;
}

.font-white {
	color: white;
}

.word-wrap {
    display: inline;
    white-space: normal;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.no-wrap {
    white-space: nowrap;
}

.font-weight-bold {
    font-weight: bold !important;
}

.font-size-20 {
    font-size: 20px !important;
}

.text-muted a,
.text-muted a:hover,
.text-muted a:visited,
.text-muted a:focus {
    color: #999;
}

.align_left {
    text-align: left;
}

.text-align-right {
    text-align: right !important;
}

.text-align-center {
    text-align: center !important;
}
