.userLanding {
    &__header {
        .containerStandard;
        padding: 0;
    }
    &__title {
        .clearfix;
        display: inline-block;
        float: left;

        h1 {
            font-size: @brand-font_h1;
            margin: 0;
            padding-top: @brand-padding_horizontal;
            padding-bottom: @brand-padding_horizontal;
        }
    }
    &__actions {
        .containerStandard;
        display: inline-block;
        float: left;
        padding-top:0;
        padding-bottom: @brand-padding_horizontal;
    }
    &__search {
        .containerStandard;
    }
}