<div>
    <div class="number-selector">
        <p class="input-group no-margin-bottom number-selector-input-group">
            <input class="number-selector-input" type="text" name="numberRangePicker" ng-model="filterValues" ng-blur="onBlur($event)" readonly />
            <span class="input-group-btn">
                <button type="button" class="number-selector-btn" ng-click="toggle($event)" tabindex="-1" ng-blur="onBlur($event)">
                    <i class="fa fa-filter"></i>
                </button>
            </span>
        </p>
    </div>
</div>
