<div class="patientRegForm__body">
    <div class="printBtn"><button class="form-button" onclick="window.print(); window.document.close()">Print</button></div>
    <!--First Page-->
    <div class="patientRegForm__page">
        <div class="page-content">
            <div class="patientRegForm__page-area">
                <div class="patientRegForm__font-header">{{'Patient Registration'}}</div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'First Name: __________________________________'}}</div>
                    <div class="patientRegForm__field-name pad-left-10">{{'MI: _____'}}</div>
                    <div class="patientRegForm__field-name pad-left-10">{{'Last Name: ______________________________'}}</div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'Preferred Name: _____________________________'}}</div>
                    <div class="patientRegForm__field-name pad-left-10">{{'Date of Birth: ___________________'}}</div>
                    <div class="patientRegForm__field-name pad-left-10">{{'Gender: '}}</div>
                    <div class="patientRegForm__option-field pad-left-5"><div class="patientRegForm__font-title-normal field"><div class="patientRegForm__option-square"></div>{{' Male'}}</div> <div class="patientRegForm__font-title-normal field"><div class="patientRegForm__option-square"></div>{{' Female'}}</div></div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'Responsible Party:'}} </div>
                    <div class="patientRegForm__font-title-normal field pad-left-10"><div class="patientRegForm__option-square"></div>{{' Self'}} <div class="patientRegForm__option-square margin-left-6"></div>{{' Other'}}</div>
                    <div class="patientRegForm__field-name">{{' _______________________________________________________________'}}</div>
                </div>
                <div class="patientRegForm__font-section">
                    <div class="patientRegForm__field-name">{{'Contact Information'}}</div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">Patient Address: </div>
                    <div class="patientRegForm__font-title-normal field pad-left-10"><div class="patientRegForm__option-square"></div>{{' Own'}} <div class="patientRegForm__option-square margin-left-6"></div>{{' Other'}}</div>
                    <div class="patientRegForm__field-name">{{' ________________________________________________________________'}}</div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'Address 1: ________________________________________________________________________________________'}}</div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'Address 2: ________________________________________________________________________________________'}}</div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'City: ________________________________________'}}</div>
                    <div class="patientRegForm__field-name pad-left-10">{{'State: __________'}}</div>
                    <div class="patientRegForm__field-name pad-left-10">{{'Zip Code: ________________________'}}</div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'Phone Number: _____________________________'}}</div>
                    <div class="patientRegForm__option-field pad-left-5">
                        <div class="patientRegForm__font-title-normal field"><div class="patientRegForm__option-square"></div>{{' Home'}}</div>
                        <div class="patientRegForm__font-title-normal field"><div class="patientRegForm__option-square"></div>{{' Work'}}</div>
                    </div>
                    <div class="patientRegForm__option-field">
                        <div class="patientRegForm__font-title-normal field"><div class="patientRegForm__option-square"></div>{{' Mobile'}}</div>
                        <div class="patientRegForm__font-title-normal field"><div class="patientRegForm__option-square"></div>{{' Fax'}}</div>
                    </div>
                    <div class="patientRegForm__field-name">{{'Notes: ___________________________'}}</div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'Phone Number: _____________________________'}}</div>
                    <div class="patientRegForm__option-field pad-left-5">
                        <div class="patientRegForm__font-title-normal field"><div class="patientRegForm__option-square"></div>{{' Home'}}</div>
                        <div class="patientRegForm__font-title-normal field"><div class="patientRegForm__option-square"></div>{{' Work'}}</div>
                    </div>
                    <div class="patientRegForm__option-field">
                        <div class="patientRegForm__font-title-normal field"><div class="patientRegForm__option-square"></div>{{' Mobile'}}</div>
                        <div class="patientRegForm__font-title-normal field"><div class="patientRegForm__option-square"></div>{{' Fax'}}</div>
                    </div>
                    <div class="patientRegForm__field-name">{{'Notes: ___________________________'}}</div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'Phone Number: _____________________________'}}</div>
                    <div class="patientRegForm__option-field pad-left-5">
                        <div class="patientRegForm__font-title-normal field"><div class="patientRegForm__option-square"></div>{{' Home'}}</div>
                        <div class="patientRegForm__font-title-normal field"><div class="patientRegForm__option-square"></div>{{' Work'}}</div>
                    </div>
                    <div class="patientRegForm__option-field">
                        <div class="patientRegForm__font-title-normal field"><div class="patientRegForm__option-square"></div>{{' Mobile'}}</div>
                        <div class="patientRegForm__font-title-normal field"><div class="patientRegForm__option-square"></div>{{' Fax'}}</div>
                    </div>
                    <div class="patientRegForm__field-name">{{'Notes: ___________________________'}}</div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'Phone Number: _____________________________'}}</div>
                    <div class="patientRegForm__option-field pad-left-5">
                        <div class="patientRegForm__font-title-normal field"><div class="patientRegForm__option-square"></div>{{' Home'}}</div>
                        <div class="patientRegForm__font-title-normal field"><div class="patientRegForm__option-square"></div>{{' Work'}}</div>
                    </div>
                    <div class="patientRegForm__option-field">
                        <div class="patientRegForm__font-title-normal field"><div class="patientRegForm__option-square"></div>{{' Mobile'}}</div>
                        <div class="patientRegForm__font-title-normal field"><div class="patientRegForm__option-square"></div>{{' Fax'}}</div>
                    </div>
                    <div class="patientRegForm__field-name">{{'Notes: ___________________________'}}</div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'Email: _____________________________________________________'}}</div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'Email: _____________________________________________________'}}</div>
                </div>
                <div class="patientRegForm__font-section">
                    <div class="patientRegForm__field-name">{{'Preferences'}}</div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'Dentist: _________________________________________'}}</div>
                    <div class="patientRegForm__field-name pad-left-10">{{'Hygienist: ____________________________________'}}</div>
                </div>
                <div class="patientRegForm__font-title-bold pad-bottom-0">
                    <div class="patientRegForm__field-name">{{'Pharmacy: _______________________________________________________________________________________'}}</div>
                </div>
            </div>
        </div>
    </div>
    <!--Second Page-->
    <div class="patientRegForm__page">
        <div class="page-content">
            <div class="patientRegForm__page-area">
                <div class="patientRegForm__font-header">{{'Patient Registration'}}</div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'Previous Dentist: ________________________________________________________________________________'}}</div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'Address 1: ______________________________________________________________________________________'}}</div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'Address 2: ______________________________________________________________________________________'}}</div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'City: _______________________________________'}}</div>
                    <div class="patientRegForm__field-name pad-left-10">{{'State: __________'}}</div>
                    <div class="patientRegForm__field-name pad-left-10">{{'Zip Code: _______________________'}}</div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'Notes: '}}</div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name"></div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name"></div>
                </div>
                <div class="patientRegForm__font-title-bold">
                    <div class="patientRegForm__field-name">{{'Referral: _______________________________________'}}</div>
                    <div class="patientRegForm__field-name pad-left-10">{{'Referral Source: _______________________________'}}</div>
                </div>

                <div ng-if="hasIdentifiers">
                    <div class="patientRegForm__font-section">
                        <div class="patientRegForm__field-name">{{'Additional Identifiers'}}</div>
                    </div>
                    <div ng-repeat="identifier in patientAdditionalIdentifiers" class="patientRegForm__font-title-bold">
                        <div>
                            <div class="patientRegForm__identifier-title">
                                {{identifier.Description}}:&nbsp;
                            </div>
                            <div class="patientRegForm__field-name pad-left-5">{{'_______________________________________________________________________________________________'}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>