.practiceSettings {
    .standardHeader;

    &__actions {
        padding: 0 !important;
        .containerStandard;
        float: right;
        padding-bottom: @brand-padding_horizontal;

        .btn {
            margin-left: 5px;
            float: right;
            position: relative;
        }
    }

    &__footer {
        padding: @brand-padding_md;
        .containerStandard;
        .clearfix;
    }

    &__title {
        h1 {
            font-size: @brand-font_h1;
            margin: 0;
            padding-top: @brand-padding_horizontal;
            padding-bottom: @brand-padding_horizontal;
        }
    }

    &__body {
    }

    &__search {
        .containerStandard;
    }

    &__list {
        .containerStandard;

        .searchIcon {
            padding-top: 10px;
            margin-left: -60px;
        }

        .noResults {
            position: absolute;
            height: 100px;
            width: 100px;
            top: 50%;
            left: 50%;
            background-size: 100%;
            text-align: center;

            i.loading {
                font-size: 50px;
            }
        }
    }

    &__grid {
        min-height: 400px;
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;

        .body {
            display: block;
            padding-left: 16px;
        }

        .header {
        }
    }

    .cell {
        padding: 4px;
    }

    .tag-container {
        margin-top: 3px;

        &__icon {
            color: @brand-color_white;
        }
    }

    &__noPermission {
        .tag-container {
            background-color: @bg-disabled;
        }

        .tag-container__icon {
            cursor: not-allowed;
        }
    }
}

.sortCursor {
    cursor: pointer !important;
}
