@import 'variables';

.alerts-item-class{
    margin: 0.5em 0;
}
.margin-bottom-class{
    margin-bottom: 0px;
}

.referred-media {
    cursor: pointer;
    margin: 10px 0 5px 0;
    padding: 0px;
    height: 60px;
}

.collapseExpand a[aria-expanded="true"]{
    .fa-chevron-up:before{
            content: "\f078";
  }
}

.otherReferralsUl{
    margin-left: -9% !important
}
.externalProvidersUl{
    margin-left: -9% !important
}
::ng-deep .referralsKendo .k-dropdown > .k-dropdown-wrap.k-state-default {
    width: 100%;
}

.form-check-label {
    margin-left: 5px;
}

.collapseExpand a[aria-expanded="true"]{
    .fa-chevron-up:before{
            content: "\f078";
  }
}