.userSearch {
    &__search {

    }
    &__primary {
        margin-top: 20px;
    }

    &__secondary{

        .utilCheckbox{
            width:100%
        }
    }
    .initialBadge{
        .initialBadge;
        border: @brand-initial-badge_alternaive_border;
        color: @brand-initial-badge_alternative_color;
    }
}