.txPlanFeeChg {
}

.txPlanFeeChgPopOver {
    span

{
    vertical-align: bottom;
}

.fa-edit {
    color: #04b3de;
    cursor: pointer;
}

.header {
    span .pull-left

{
    margin-top: 10px;
}

}

.body {
    width: 250px;
}

.footer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-icon {
    position: relative;
}

.input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
}

.input-icon > input {
    padding-left: 25px;
    width: 100%;
}

.input-icon-right > i {
    right: 0;
}

.input-icon-right > input {
    padding-left: 0;
    padding-right: 25px;
    text-align: right;
    width: 100%;
}

hr.dotted {
    border: 1px dotted #000;
    border-style: none none dotted;
    color: #fff;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: .3;
}

#btn-update {
}

.no-line {
    border: none;
}
}
