.predetAuth {

    .standardHeader;

    &__body {
        .containerStandard;
    }

    &__toolbar {

        padding-bottom:1%;

        .make-form-row;

        .control-label {
            display: block;

            &-spacer {
                display: block;
                opacity: 0;
            }
        }
    }

    &__grid {
        .clearfix;
        padding-bottom: @brand-padding_horizontal;
    }

    &__topActions {
        padding-bottom: @brand-padding_horizontal;
        padding-top: @brand-padding_horizontal;

            div {
                float:left;
                margin-right:@brand-margin_sm;
            }
            
            .btn {
            float: left;
            margin-right: @brand-margin_sm;
            margin-top: @brand-margin_lg;
        }

            input {
                width: 300px;
            }
    }
   
    &__actions {
        

        .btn {
            float: right;
            margin-left: @brand-margin_sm;
            margin-top: @brand-margin_md;
        }

       div {
           clear:both;
           display: inline;
       }

       checkbox, a {
           float:right;
           padding-top: @brand-padding_md;
       }
    }
}

.predetDesc {
    height: auto;
    width: 300px;
    word-wrap: break-word;
}
