@media only screen
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        body {
            .col-md-3 {
                width: 25%;
            }

            .practiceSetup {
                &__list {
                    padding-left: 0px;
                }

                &__content {
                    padding-right: 0px;
                }

                &__icon {
                    width: 24px;
                }

                &__container {
                    .section-divider {
                        padding-bottom: 0px;
                    }

                    h3 {
                        margin-top: 0px;
                    }
                }
            }

            .secondaryNavigation {
                &__tab {
                    margin-top: 0px;
                }
            }
        }
}

@-moz-document url-prefix() {
    body {
        .col-md-3 {
            width: 25%;
        }

        .practiceSetup {
            &__list {
                padding-left: 0px;
            }

            &__content {
                padding-right: 0px;
            }

            &__icon {
                width: 24px;
            }

            &__container {
                .section-divider {
                    padding-bottom: 0px;
                }

                h3 {
                    margin-top: 0px;
                }
            }
        }

        .secondaryNavigation {
            &__tab {
                margin-top: 0px;
            }
        }
    }
}
