#viewClaimsContainer .popover {
    max-width: inherit;
    height: inherit;
}

 .view-claims-popup-body {
     color: #6A7575
 }

 .view-claims-popup-header {
     color: #6A7575
 }

 .view-claims-icon-button {
     padding: 0;

      &.disabed {
          pointer-events: none;
          cursor: not-allowed;
      }
 }

 .center{
    text-align:center
 }