.patient-summary {
    .grid-header {
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
        text-align: left;
        font-size: 1.4em;
        background-color: white;

        .amount {
            padding-left: 5px;
            padding-right: 5px;
            text-align: right;
        }
    }

    .header-data {
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
        text-align: left;
        font-weight: 600;
        background-color: white;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .no-right-padding {
        padding-right: 0;
    }

    .overview .row .row-header-field,
    .overview .row .row-body-field {
        padding-left: 4px;
        padding-right: 4px;
    }

    .overview .row .row-header-field:first-child,
    .overview .row .row-body-field:first-child {
        padding-left: 8px;
    }


    .pending-label {
        color: red;
        text-align: right;
        font-size: 17px;
    }

    .grid-row {
        border: solid;
        border-width: 1px;
        border-color: #8c8c8c;
        padding: 1px;
        padding-left: 0;
        margin-bottom: 5px;

        .amount {
            padding-left: 5px;
            padding-right: 5px;
            text-align: right;
        }
    }

    .detail-grid {
        border-top: solid;
        border-width: 1px;
        border-color: #4c4c4c;
        background-color: #fcfcfc;
    }

    .detail-grid-row {
        padding-bottom: 5px;
        padding-top: 5px;
        color: #434649;
    }

    .detail-grid-row:nth-child(odd) {
        background-color: #E3E5E5;
    }

    .detail-grid-row:nth-child(even) {
        background-color: white;
    }

    .color-blue {
        color: blue;
    }

    .action-bar {
        background-color: #FCFCFC;
    }

    .no-side-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .pending-encounters {
        border-color: red;
    }

    .pending-encounters.overview {
        border-color: #8c8c8c;
    }

    .action-link {
        padding: 0;
        border: 0;
    }

    .eob-link {
        padding: 0;
        padding-right: 5px;
        border: 0;
    }

    .balance {
        font-size: 16px;
    }

    .margin-bottom-15 {
        margin-bottom: 15px;
    }

    .payment {
        color: red;
    }

    .negative-adjustment {
        color: #FF9516;
    }

    .service {
        color: blue;
    }

    .positive-adjustment {
        color: #168016;
    }

    .fa, .far, .fas {
        padding: 3px;
    }

    .large-text {
        font-size: 18px;
    }

    unapplied-menu {
        i.fa-question-circle {
            color: #c7254e;
        }

        div.unappliedMenu {
            a {
                padding: 0;
            }
        }
    }

    .encounterActions__add {
        .btn-new-encounter {
            float: right;
            margin-left: 3px;
        }

        unapplied-menu {
            float: right;
        }

        div {
            a {
                float: right;
            }
        }
    }

    .popover {
        max-width: inherit;
        height: inherit;
    }

    .balanceDetail {
        .amount {
            padding-right: 5px;
        }
    }

    .summarytooltip {
        max-width: 1000px;
    }

    .wordbreak {
        word-break: break-word;
    }

    .btn.btn-link {
        white-space: normal;
        text-align: left;
    }

    .width-4-percent {
        width: 4%;
    }

    .width-6-percent {
        width: 6%;
    }

    .width-8-percent {
        width: 8%;
    }

    .width-9-percent {
        width: 9%;
    }

    .width-10-percent {
        width: 10%
    }

    .width-12-percent {
        width: 12%;
    }

    .width-24-percent {
        width: 24%;
    }

    .disabled {
        pointer-events: none;
        cursor: inherit;

        &:hover {
            cursor: not-allowed;
        }
    }

    .disableIcon {
        color: grey;
    }

    .disableIcon:hover {
        cursor: not-allowed;
        color: grey;
    }
}
