/*Accordion START*/
.angular-accordion-header {
    background-color: #eeeeee !important;
    margin: 0;
    line-height: 14px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border:1px solid lightgray;
    cursor: pointer;
    text-decoration: none;
    font-family: @brand-font;
    font-size: 14px;
}

.angular-accordion-footer {
    background-color: #eeeeee !important;
    padding: 10px;
    margin: 0;
    line-height: 14px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: @brand-font;
    font-size: 14px;
}

.angular-accordion-container {
    height: 100%;
    width: 100%;
}

.angular-accordion-pane {
    padding: 2px;
}

.angular-accordion-pane-content {
    padding: 5px;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100% !important;
    width: 100%;
}

.angular-disabled-pane {
    opacity: .2;
}

.section-accordion-bg {
    background-color:#eeeeee;
}

.highlight-section.ng-move-stop,
.highlight-section.ng-enter {
  -webkit-transition: all 2s 3s ease-out;
  -moz-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out;
  border:solid 2px red;
}

.highlight-section.ng-move-active,
.highlight-section.ng-enter-active {
  -webkit-transition: all 2s 3s ease-out;
  -moz-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out;
  border:solid 2px white;
}

/*Accordion ENDS*/