
// #region feedback

.feedback {
    float: right;
    margin-right: 20px;
}

.feedback-container {
    width: 100%;
    display: inline-block;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99999;
    margin-bottom: @brand-margin_xs;
}

.feedback-container-modal {
    width: 100%;
    background-color: @feedback-bar-bg;
    display: inline-block;
    margin-top: 5px;
}

// #endregion
