// #region Landing Pages
.landing-page {
    padding: 15px 40px 0 15px;
}

.landing-btn-add {
    width: 100%;
    font-size: @font-size-normal;
    font-weight: bold;
    color: @btn-color;
    background: @btn-add-bg;
    border-radius: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
// #endregion