// #region Modal
.modal-title-responsive {       
	font-size: @font-size-page-title-mobile;       	
    float: left;
    background: #fff;
}
.modal-dialog-large .modal-dialog {
    width :90%;
    min-width: 800px;
}

.modal-dialog {
	margin-top: 5%;
	margin-bottom: 5%;
	max-height: 70%;
	height: 80%;
	min-width: 300px;
}

.modal-50 .modal-dialog {
	width: 50%;
}
.modal-paypage .modal-content {
    top: 0;
    scale: .85 !important;
    .modal-close-button {
        position: absolute;
        top: 1px;
        right: 1px;
        background-color: #27bfe6;;
        border: none;
        border-radius: 2px;
        color: #FFFFFF; 
        cursor: pointer;
        z-index: 10; 
        .app-icon {
          width: 15px;
          height: 18px;
        }
    }
    .modal-loader-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        padding-top: 50%;
        background-color: rgb(245, 245, 245);
        .modal-loader-container {
          text-align: center;
        }
      }

    .modal-body{
        padding:20px;
        .paypage{
            height: 650px !important;
            width: 550px !important;
            
        }
    }

}

.modal-65 .modal-dialog {
	width: 65%;
}

.modal-80 .modal-dialog {
	width: 80%;
}

.modal-85 .modal-dialog {
	width: 85%;
}
  
.modal-loading .modal-content {
    background: transparent;
    text-align: center;
    color: white;
    border: none;
    box-shadow: none;    
    position: fixed;
    top: 50%;
    height: 50%;
    width: 200px;
}

.warning-modal-center .modal-content {
    top: 30%;
}


.attachments-modal .modal-content {
    top: 5%;
    margin-bottom: 50px;
}

// #endregion

 .modal-custom-margin-padding {
     padding-top: 0px;
     margin-top: -3%;
 }