.panel-group-horizontal {
    width: 400px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(-100%) rotate(-90deg);
    -webkit-transform-origin: right top;
    -moz-transform: translateX(-100%) rotate(-90deg);
    -moz-transform-origin: right top;
    -o-transform: translateX(-100%) rotate(-90deg);
    -o-transform-origin: right;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right top;
    z-index: 10000;
    position: fixed;
}

.panel-group-horizontal-custom {
    width: 400px;
    z-index: 100;
    position: fixed;
}

.panel-group-side-arrow {
    margin-bottom: 1px
}

.panel-heading.capitalize {
    height:60px;
    text-transform: capitalize;
}

.panel-heading div.capitalize {
    text-transform: capitalize;
}

.panel-heading-title {
    height: 250px;
}

.panel-heading-horizontal {
    width: 430px;
}

.panel-title-horizontal {
    height: 18px;
}

    .panel-title-horizontal a {
        text-decoration: none;
        color: #000000;
    }

.panel-body-horizontal {
    height: 190px;
    float: left;
    margin: 60px 0px 100px 100px;
}

.panel-group-horizontal label {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(-100%) rotate(90deg);
    -webkit-transform-origin: right top;
    -moz-transform: translateX(-100%) rotate(90deg);
    -moz-transform-origin: right top;
    -o-transform: translateX(-100%) rotate(90deg);
    -o-transform-origin: right top;
    transform: translateX(-100%) rotate(90deg);
    transform-origin: right top;
   width: 250px;
}
