.ReceivablesHalfDonut {
    .soarSelectList {
        ::ng-deep .k-dropdown {
            width: 10em;
        }
    }

    .widget-loader {
        position: absolute;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;
    }

    .soarWidget__body{
        position: fixed;
        top: 50%;
        right: 2%;
    }
}