.txPlanCrud {
    font-family: @global-font-family;
    .clearfix;
    position: relative;
    padding: 15px;

    &__disabled {
        opacity: 0.65;
        cursor: not-allowed;
    }

    &__header {
        .clearfix;
        position: relative;
    }

    &__nav {
        .clearfix;
        margin-bottom: 8px;
    }

    &__navPrimary {
        display: inline-block;
        width: 100%;
    }

    &__navPrimaryGroup {
        display: block;
        float: left;
        width: 100%;

        .btn {
            background-color: transparent;
            padding: 0px;
            margin-left: 10px;

            i {
                color: @brand-color_font-dark;
            }

            i:hover {
                color: @brand-navigation_primary_color_gray;
            }
        }
    }


    &__title {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: @brand-font_xl;
        float: left;
        max-width: 100%;
    }

    &__titleEdit {
        padding: 0 @brand-padding_sm;
        width: 750px;
    }

    &__titleError {
        color: #cc0000;
        font-size: 14px;
        line-height: 30px;
    }

    &__edit {
        display: inline-block;
        transform: translateY(3px);
        background-color: transparent;
        padding: 0 @brand-padding_sm;
        position: absolute;
    }

    &__navSecondary {
        max-width: 100%;
    }

    &__navSecondaryGroup {
        position: relative;

        .btn {
            background-color: transparent;

            i {
                color: @brand-color_font-dark;
            }

            i:hover {
                color: @brand-navigation_primary_color_gray;
            }
        }
    }

    &__navDropdown {
        left: -80px;
    }

    &__navIcon {
        padding: @brand-padding_sm;

        &:first-of-type {
            padding-left: 0;
        }

        &:last-of-type {
            padding-right: 0;
        }
    }

    &__dropdown {
        width: 200px;
    }

    &__actions {
        position: relative;

        .fa-chevron-down {
            transform: translateX(6px);
        }
    }

    &__status {
        position: absolute;
        left: 0;
        transform: translateY(8px);
    }

    &__actions {
        margin-bottom: 16px;
    }

    &__body {
        overflow-y: auto;
        margin: 0px;
    }

    &__txPart {
        border-bottom: 1px solid @brand-color_dark-gray;

        .txSrvTile {
            border-bottom: 1px solid @brand-color_dark-gray;
        }
    }

    &__footer {
        .clearfix;
        padding: 0px 15px 15px 15px;
        width: 100%;
        display: flex;
    }

    &__notes {
        .make-xs-column(6);
        padding-left: 5px;

        .txplanNote {
            background-color: @brand-color_white;
        }
    }

    &__delete {
        .btn-link {
            padding-right: 0;
            padding-left: 0;
        }
    }


    &__total {
        display: block;
        font-weight: @brand-font_heavy;
    }

    &__statusDropdown {
        min-width: 130px;
    }

    &__statusLabel {
        padding: 5px 5px 0 0;
        display: inline-block;
        font-weight: 400;
        float: left;
    }

    &__viewDocument {
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 85%;
        padding-right: 0;
    }

    &__deleteDocument {
        cursor: pointer;
        width: 15%;
    }

    &__slider {
        cursor: pointer;
        display: inline-block;

        > i {
            vertical-align: middle;
        }

        i.active {
            color: @toggle-switch-color;
        }

        i.inactive {
            color: lightgrey;
        }

        > span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .tooltip-wrap {
        white-space: pre-line;
    }

    &__attachBtn {
        display: inline;
    }
}

.txPlanCrud .add-stages-btn {
    margin-top: 16px;
}

.txPlanCrud .predetermination-btn {
   /* margin-top: 5px;*/ // might need to add a little back in, wait for feedback.
}

.txPlanCrud .doc-icon {
    padding: 6px 6px 6px 2px;
}

.txPlanCrud__footer .notes {
    width: 50%;
}

.txPlanCrud__footer .notes textarea.form-control{
    height: 90px;
}

.txPlanCrud__footer .totals {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-top: 22px;
}

.txPlanCrud__footer .totals .highlight {
    font-weight: 700;
    font-size: 16px;
}

.txPlanCrud__footer .totals .money-column {
    width: 110px;
}

/*.txPlanCrud__footer .totals .tx-total-row {
    height: 22px;
}*/

.predOpt {
    .clearfix;
    position: relative;
    border: @panel-body-border;
    border-radius: @borderRadius3;

    &__header {
        padding: @brand-padding_xs @brand-padding_sm;
        background-color: @panel-heading-bg;
    }

    &__title {
        padding: @brand-padding_xs;
        font-weight: @brand-font_heavy;
        color: @brand-color_white;
    }

    &__body {
        background-color: @brand-color_white;
        padding: @brand-padding_sm;
    }
}

.txPlanReport {
    .clearfix;
    width: 100%;
    position: relative;
    padding: @brand-padding_lg;
    background-color0: @brand-color_gray;

    &__preferred {
        width: 50px;
        height: 50px;
    }

    &__footer {
        .clearfix;
        padding: 10px;

        .btn {
            float: left;
            margin-right: @brand-margin_sm;
        }
    }

    &__totals {
        position: relative;
        width: 50%;
        float: right;
    }

    &__totalItem {
        text-align: right;
    }

    &__table {
        .table;
        .soarTblSort;
        border: 1px solid @brand-tbl_border-color;
    }

    &__header {

        > tr {
            background-color: @brand-color_white;
            border-bottom: 1px solid @brand-tbl_border-color;

            > td {
                position: relative;
                padding: 10px 6px;
                vertical-align: middle !important;
                text-align: left;
                font-size: 0.9em;
                cursor: pointer;
                font-weight: 100;

                &:first-child {
                    padding-left: 10px;
                }

                &.action {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    &__body {

        > tr {
            background-color: @brand-color_white;
            border-bottom: 1px solid @brand-tbl_border-color;

            > td {
                position: relative;
                padding: 10px 6px;
                vertical-align: middle !important;
                text-align: left;
                font-size: 0.9em;
                font-weight: 100;

                > span {
                    display: inline-block;
                    position: absolute;
                    width: 90%;
                    margin-top: -9px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &.descriptionCol {
                    padding-left: 10px;
                    width: 40%;
                    min-width: 200px;
                }

                &.toothCol,
                &.areaCol,
                &.statusCol,
                &.estInsCol,
                &.patientPortionCol,
                &.feeCol,
                &.locationCol,
                &.adjCol {
                    width: 10%;
                    min-width: 69px;
                }

                &.providerCol {
                    width: 10%;
                    min-width: 69px;
                }
            }
        }
    }

}

.txPlanTooltip{
    width:100%;
    display:table;
    &__title{
        width:50%;
        display: table-cell; 
        text-align:left; 
        padding-right:10px;      
    }
    &__content{
        display: table-cell;
        text-align:left;
    }
    &__row{
        display: table-row;
    }
}
.txPlan-btn {
    //padding: 8px 8px;
    //font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
}

.txPlan-dropDown {
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    margin: 0px;
}

.informed-consent-btn {
    padding: 12px 8px 12px 0px;
}

.more-btn {
    padding: 12px 0px 12px 0px;
    margin-left: 8px;
    width: 20px;
}