//Required to handle the modal size and position
//Added uib-modal-display class to the modal component so 
::ng-deep .uib-modal-display {
  .modal-xl {
    width: 100%;
    padding-left: 5rem;
  }

  .modal-dialog {
    margin-top: 6rem;
  }
}