.noteTemplate {

    &__sectionItemButton {
        margin-left: @brand-margin_sm;
        margin-right: @brand-margin_sm;
        width: auto;
        min-width:90px;
    }

    &__sectionItemMenu {
        left: -75%;
        overflow: visible;
        width: 600%;
    }

    &__icon {
        margin: @brand-margin_sm;

        &.disabled {
            pointer-events: none;
        }
    }

    &.iconDisabled {
        cursor: not-allowed;
    }
}
