.practiceAtAGlance {
    .standardHeader;
    max-width: 100%;
    width: 100%;

    &__body {
        .containerStandard;
        max-width: 100%;
        width: 100%;
        padding: 0 20px 0 20px;
    }

    &__title {
        h1 {
            display: inline-block;
            float: left;
        }
    }

    &__titleFilter{
        display: inline-block;
        float: left;
    }

    .practiceAtAGlance__header{
    max-width: 100%;
    width: 100%;
    padding: 0 20px 0 20px;
    &.margin-top-8 {
            margin-top: 8px;
         }
    }
    
    &__padding-left-10 {
        padding-left:10px;
    }
}