<top-navigation [menuType]="'Business'"></top-navigation>

<div class="card-container mass-update-container" [formGroup]="massUpdateFormGroup">
    <div class="mass-update-appointments-header-container row">
        <h2 class="mass-update-header-info col-lg-8">Mass Appointment Transfer</h2>
        <app-button (onClick)="RunAppointmentMassUpdate()" id="btn_massupdatesRun" buttonLabel="Run" variation="primary"
            [tooltip]="headerMessage" class="massupdate-run-button" placement="left" [class.disabled]="isBatchRunning"
            [isDisabled]="selectedFromProvider == null || selectedToProvider == null || primaryLocDisable">
        </app-button>
    </div>
    <hr class="massupdate-hr">
    <h4 class="label-container">Location</h4>
    <div class="row massupdate-ddl">
        <app-select id="location" [listItems]="primaryLocations" [value]="locationId" [label]="" [size]="'auto'"
            (selectionChange)='onLocationChange($event)'></app-select>
    </div>
    <div class="label-container">Appointment State</div>
    <div class="row radio-container">
        <app-radio-button label="Unscheduled" name="AppointmentType" value="true" id="optIsUnSchedule" formControlName="optIsUnSchedule" [checked]="massUpdateFormGroup.get('optIsUnSchedule').value==true" [customClasslbl]="'radio-button-lbl label'"></app-radio-button>
        <app-radio-button label="Scheduled" name="AppointmentType" value="false" id="optIsUnSchedule" formControlName="optIsUnSchedule" [checked]="massUpdateFormGroup.get('optIsUnSchedule').value==false" [customClasslbl]="'radio-button-lbl label'"></app-radio-button>
    </div>
    <div class="label-container">From</div>
    <div class="row massupdate-ddl">
        <provider-selector-with-grouping [providerTypeIds]="providerTypes" [addNoProvider]="true"
            [inputId]="'lstFromProvider'" [showInactiveProviders]="false" [setPreferred]="false"
            [mainDivClassName]="'providerSelectorSlim'" [filterByLocationId]="locationId"
            (selectedProviderChange)="onFromProviderChange($event)" [defaultItemText]="'From Provider'"
            [selectedProvider]="selectedFromProvider" [filterShowOnScheduleForMassUpdate]="false">
        </provider-selector-with-grouping>
    </div>
    <div class="label-container">To</div>
    <div class="row massupdate-ddl">
        <provider-selector-with-grouping [providerTypeIds]="providerTypes" [inputId]="'lstToProvider'"
            [activeProvidersOnly]="true" [className]="'slim-dropdown'" [mainDivClassName]="'providerSelectorSlim'"
            [setPreferred]="false" [filterByLocationId]="locationId"
            (selectedProviderChange)="onToProviderChange($event)" [defaultItemText]="'To Provider'"
            [selectedProvider]="selectedToProvider" [filterShowOnScheduleForMassUpdate]="true">
        </provider-selector-with-grouping>

    </div>
</div>
<div class="card-container mass-update-container massupdatecontainer-margin" #resultsDiv>
    <div class="massupdatecontainer-padding">
        <div>
            <div>
                <h2 class="mass-updateresults-header-info">Recent Transfers</h2>
            </div>
            <hr class="massupdateresults-hr">
            <div>
                <div class="massupdatesresultheader grid header">
                    <div class="massupdatecol1">{{ 'Location' | translate }}</div>
                    <div class="massupdatecol2">{{ 'From Provider' | translate }}</div>
                    <div class="massupdatecol1">{{ 'To Provider' | translate }}</div>
                </div>
                <div class="massupdatesresultProcessing grid" *ngIf="isProcessing">
                    <loader-component></loader-component>
                    <div>
                        <span><b>Processing new results...</b></span>
                    </div>
                </div>
                <div *ngFor="let itm of recentRecords">
                    <div class="massupdatesresultsubHeader">
                        <span>
                            <b>Run Date: </b>{{itm.RunDate | date: 'MM/dd/yy'}} |<b> By: </b>{{ itm.RunBy }} |<b>
                                Failed: </b><a (click)="export(3,itm.MassUpdateId)">
                                {{itm.FailedCount}} Export
                            </a> |<b> Successful: </b><a (click)="export(2,itm.MassUpdateId)"> {{itm.SuccessCount}}
                                Export</a>
                        </span>
                    </div>
                    <div class="massupdatesresultitem grid item itembackGround">
                        <div class="massupdatecol1">{{ itm.LocationString | translate }}</div>
                        <div class="massupdatecol2">{{ itm.FromProvider | translate }}</div>
                        <div class="massupdatecol1">{{ itm.ToProvider | translate }}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>