.serviceSelector {

    &__grid {

        .k-grid-header {
            display: none;
        }

        .k-grid-content {
            display: none;
        }

        &.servicesGridVisible {

            .k-grid-header {
                display: block;
            }

            .k-grid-content {
                display: block;
            }
        }
    }

    .k-grid {

        .k-grid-toolbar {
            padding: @brand-padding_horizontal;
        }
    }
}
