.discountTypes {

    .discountTypes__header {
        width: 96%;
        max-width: 1600px;
        margin: 0 auto;
    }

    .discountTypes__title>h1 {
        margin: 8px 0;
        padding: 0;
        font-size: 26px;
        line-height: 1;
    }

    .discountTypes__list {
        width: 96%;
        margin: 0 auto;
        padding-top: 16px;
    }

    ::ng-deep .k-grid-content {
        max-height: 360px;
    }

    .k-tooltip-validation {
        background-color: #fff7e3;
        color: #f9591f;
        width: fit-content;
        position: absolute;
        padding: 15px 15px;
    }

    .k-grid .k-grid-header .k-grid-header-wrap .k-header {
        color: #333333;
    }

    ::ng-deep .k-grid-header .k-sort-order {
        display: none;
    }

    .btn-primary {
        border-color: #2DABCB;
        color: #fff;
        background-color: #2DABCB;
    }

    ::ng-deep .isActive button.k-button.k-button-icon {
        display: none;
    }

    ::ng-deep .k-filter-row .k-dropdown-operator {
        display: none;
    }
}