.pastAppt {
    &__alert {

    }
    &__content {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }
     &__table {
        .table;
        width: 100%;

        .date {

        }
        .type {

        }
        .provider {

        }
        .serviceCodes {

        }
        }
}
