.rlLndng {
    .standardHeader;

    &__body {
        .containerStandard;
        padding-top: 5px;
    }


    &__dropDown {
        .dropdownNav;
        .dropdown;
    }

    &__btn {
        padding-left: 7px !important;        
    }

    &__select {       
        font-size: @brand-font_h1;
        margin: 0;
        padding-top: @brand-padding_horizontal;
        padding-bottom: @brand-padding_horizontal;
        font-weight: 500;
        color:@brand-color_font-regular;
    }

    &__btn:after{
         color:@brand-color_font-regular;
    }
}
