.perioNav {
    display: block;
    width: 200px;
    position: fixed;   
    right: 20px;
    top: 250px;
    background-color: #ffffff;

    &.keepTop {
        position: fixed;
        z-index: 999;        
    }

    transition: @brand-transition;
   

    .clearfix;

    &__section {        
        padding: 10px 15px;
        border-bottom: 1px solid #dddddd;
    }

    &__section:last-of-type {        
        padding: 10px 15px;
        border-bottom: none;
    }


    &__sectionTitle {        
        float: left;
        font-weight: bold;
        font-size: 12px;
        padding-bottom:5px;
    }

    &__header {
        .clearfix;
        display: inline-block;
        width: 5%;
        padding: @brand-padding_xs;
    }

    &__title {
        display: block;
        text-align: right;
        vertical-align: 25%;
    }

    &__temporarilyDisabled {
        background-color: @brand-color_dark-gray;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        height: 100%;
        justify-content: center;
        opacity: .75;
        position: absolute;
        text-align: center;
        width: 240px;
        z-index: 99;
    }

    &__body {
        .clearfix;
        display: inline-block;
        width: 100%;
        float: left;
        border-radius: 5px;
        border: 1px solid #dddddd;        
    }

    &__toothNav {
        .btn {
            padding: 0 5px 0 5px;
            height: 25px;
            width: 25px;
            border: 1px solid #dddddd;
            border-radius: 5px;
        }

        .btn:first-of-type {
            float: left;
        }

        .btn:last-of-type {
            float: right;
        }

        text-align: center;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #dddddd;
        border-top: 0;
        padding: 5px;
        height: 35px;
    }

    &__toothDisplay {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
        transform: translateY(2px);
        border-bottom: 0;
        border-top: 0;
        font-weight: bold;
    }

    &__navArrows {        
        font-size: 14px;
    }

    &__keepTop {
        position: fixed;
    }

    .k-input {
        min-width: 190px;
    }
}
