<div class="soarWidget pendingClaimsChart">
    <!-- <div class="text-align-center text-muted widget-loader" *ngIf="loading">
        <i id="iDefaultMessage" class="fa fa-spinner fa-spin fa-2x loading"></i>
    </div>
    <div class="text-align-center text-muted widget-loader" *ngIf="loadingFailed">
        <a data-toggle="tooltip" data-placement="top" title="{{errorMessage}}">
            <i id="iErrorMessage" class="fa fa-exclamation-circle fa-2x"></i>
        </a>
    </div> -->
    <div class="widget-handle panel-heading soarWidget__header">
        <label>{{data?.Title| translate}}</label>
    </div>
    <div class="soarWidget__body">
        <simple-half-donut [HalfDonutChartData]="pendingClaimsData" [chartType]="chartType"></simple-half-donut>
    </div>
</div>