.pendingClaimsChart {
    .widget-loader {
        position: absolute;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;
    }

    .soarWidget__body{
        position: absolute !important;
        bottom: 0px !important;
        top: inherit !important;
    }
}