.grpTypes{
    .standardHeader;

    &__body {
    }

    &__list {
        .containerStandard;
    }

    .k-filter-row th {
        border: none;
    }

    .icon-button {
        color: @brand-color_link;
    }

    .k-grid-content {
       max-height: 360px;

       .k-button {
            &.disabled .k-icon {
                color: @brand-color_disabled;
            }
        }
    }
}
