.kendoNewStyle.k-grid {
    border: none;
  }
  .kendoNewStyle.k-grid .k-grid-content tr td {
    overflow: inherit !important;
    border: 1px solid $grid-separator-color;
    font-size: $grid-header-fontSize;
  }
  
  
  .kendoNewStyle.k-grid .k-grid-header .k-grid-header-wrap .k-header {
    border: 1px solid $grid-separator-color;
    background-color: $page-content-background;
    font-weight: 700;
    color: $page-content-grid-header !important;
    font-size: 12px;
    padding:11px;
  }
  
  .kendoNewStyle.k-grid .k-grid-header .k-grid-header-wrap .k-header:last-child {
    border-right: 0px !important;
  }
  
  .kendoNewStyle.k-grid .k-grid-header .k-grid-header-wrap .k-header .k-link {
    color: $page-content-grid-header !important;
  }
  
  .kendoNewStyle.k-grid .k-grid-header {
    background-color: transparent !important;
  }
  
  .kendoNewStyle.k-grid .k-grid-content {
    overflow-y: scroll;
    height: 410px;
    border: 1px solid #eeeeee !important;
    border-right-width: 0px !important;
    margin-bottom: 30px;
  }
  .kendoNewStyle .k-grid-container {
    height: inherit;
  }
  .kendoNewStyle.k-grid .k-grid-aria-root{
    height: inherit;
  }
  .kendoNewStyle.k-grid-table-wrap {
    border-bottom: 1px solid $grid-separator-color !important;
  }

.kendoNewStyle.k-grid .k-grid-content tr td {
    border-right: 0px solid $grid-separator-color !important;
    padding: 6px !important;
}
  
  .kendoNewStyle.k-grid .k-grid-content tr:last-child td {
    border-bottom: 1px solid $grid-separator-color;
  }
  
  .ng-star-inserted {
    word-break: break-all;
  }
  
  .k-grid-content.k-virtual-content:focus {
    outline: 0px !important;
  }
  
  a:focus {
    outline: 0px !important;
  }

