/* You can add global styles to this file, and also import other style files */

// for new Design System
////// Color Palette //////
// Brand
$fuse-purple: #2b144e;
// Functional Colors
$action-blue: #2dabcb;
$light-action-blue: #27bfe6;
$placeholder-grey: #999999;
$text-black: #333333;
$label-black: #555555;
$disabled-grey: #cccccc;
// Feedback Colors
$success-green: #28a745;
$warning-orange: #f0ab00;
$alert-red: #cc0000;
$info-blue: #39a5dc;
// Structural Colors
$bg-grey: #FAFAFA;
$polar-white: #FFFFFF;
$border-grey: #DDDDDD;
$border-light-grey: #E8E8E8;
// Chart/Graph Colors
$chart-blue: #4573A7;
$chart-red: #C35250;
$chart-green: #80C217;
$chart-purple: #73578E;
$chart-teal: #4AAAC4;
$chart-yellow: #FFC831;
$chart-orange: #F09400;
// Highlights/Hover Colors
$text-selection: #b3d7fe;

////// Typography Palette //////
$global-font-family: "Open Sans", sans-serif;
$font-family: $global-font-family;
/// h1
$global-h1-size: 18px;
$global-h1-family: $global-font-family;
$global-h1-weight: bold;
$global-h1: $global-h1-weight $global-h1-size $global-h1-family;
/// h2
$global-h2-size: 16px;
$global-h2-family: $global-font-family;
$global-h2-weight: bold;
$global-h2: $global-h2-weight $global-h2-size $global-h2-family;
/// h3
$global-h3-size: 16px;
$global-h3-family: $global-font-family;
$global-h3-weight: normal;
$global-h3: $global-h3-weight $global-h3-size $global-h3-family;
/// h4
$global-h4-size: 14px;
$global-h4-family: $global-font-family;
$global-h4-weight: bold;
$global-h4: $global-h4-weight $global-h4-size $global-h4-family;
/// body text
$global-body-font-size: 14px;
/// table cell text
$global-table-font-size: 12px;
/// global drop shadow
$global-drop-shadow:0px 5px 10px rgba(112,144,176,0.3);

$page-header-color: $text-black;
$header-date-color: #555555;
$page-content-divider-color: $disabled-grey;
$breadcrumbs-inactive: #434649;
$breadcrumbs-active: $action-blue;
$page-content-background: $polar-white;
$page-content-header: $text-black;
$page-content-border: #dadada;
$page-search-input-background: $polar-white;
$page-search-input-border-color: #c8c8c8;
$page-search-input-color: $disabled-grey;
$page-form-input-color: #000;
$page-primary-button-background: $action-blue;
$page-primary-button-color: $polar-white;

$tab-active-color: $action-blue;
$tab-inactive-color: #555555;

$page-content-select-color: #555555;
$page-content-select-border-color: $border-grey;

$page-content-grid-even-background: $bg-grey;
$page-content-grid-odd-background: $polar-white;
$page-content-grid-header: #2fa6df;
$page-content-grid-body: #434649;
$grid-separator-color: #eeeeee;
$grid-header-fontSize: 12px;
$grid-title-fontSize: 16px;
$page-dropdown-menu-border-color: #000;

$Tooltip-backrground-color: #000;
$Tooltip-text-color: #fff;
$disabledLink: #555555;

// kendo dropdown

$white: $polar-white;

// dropdown
$dropdown-text-color: $polar-white;
$dropdown-border-color: $disabled-grey;
$dropdown-bg: $white;

// Modal
$app-modal-header-height: 40px;
$app-modal-header-border: 1px solid $border-grey;
$app-modal-header-font-size: 18px;
$app-modal-header-font-weight: 700;

//DatePicker
$datepicker-label-color: $label-black;
$datepicker-font-size: 12px;
$datepicker-background-color: $polar-white;
$datepicker-font-family: $global-font-family;
$datepicker-semi-bold-font-weight: 700;

//Radio Button
$radiobutton-font-family: $global-font-family;
$radiobutton-label-color: $label-black;
$radiobutton-label-font-size: 12px;

//Check-box
$checkbox-font-family: $global-font-family;
$checkbox-label-color: $label-black;
$checkbox-label-font-size: 14px;

// Multiselect
$multiselect-action: $action-blue;
$multiselect-item-border: $border-grey;

// Tooltip Component
$tooltip-font-size: 12px;
$tooltip-min-width: 200px;
$tooltip-default-font-color: $white;
$tooltip-default-color: $fuse-purple;
$tooltip-error-font-color: $white;
$tooltip-error-color: $alert-red;

// Initial Badge
$brand-initial-badge_height: 28px;
$brand-initial-badge_width: $brand-initial-badge_height;
$brand-initial-badge_display: table-cell;
$brand-initial-badge_text-align: center;
$brand-initial-badge_vertical-align: middle;
$brand-initial-badge_border-radius: 50%;
$brand-initial-badge_bg: transparent;
$brand-initial-badge_color: white;
$brand-initial-badge_alternative_color: #6b7073;
$brand-initial-badge_profile2: $action-blue;
$brand-initial-badge_border: 2px solid $brand-initial-badge_color;
$brand-initial-badge_alternaive_border: 2px solid $brand-initial-badge_alternative_color;
$brand-initial-badge_profile2_border: 1px solid $brand-initial-badge_profile2;

// Appointment Status
$appointment-status-background-color: $polar-white;
$appointment-status-border-color: $border-grey;
$appointment-dropdownlist-color: white;
$appointment-dropdownlist-background-color: #fff;
$appointment-status-groupsector-color: $border-light-grey;
$appointment-dropdownlist-box-color: #555555;
$appointment-dropdownlist-box-background-color: #7d7d7d;
$appointment-dropdownlist-box-hover-background-color: #7d7d7d;
$appointment-dropdownlist-box-hover-border-color: #f4f4f4;

// Secondary Navigation
$dropdown-bg-color: $polar-white;
$dropdown-li-color: $text-black;
$dropdown-hover-color: $action-blue;
$dropdown-anchor-hover-color: $polar-white;

// Responsible Person Search
$search-input-background-color: $polar-white;
$search-input-color: $placeholder-grey;
$search-input-border-color: $border-grey;
$search-dropdown-hover-border-color: $border-grey;
$search-dropdown-hover-background-color: $action-blue;
$search-dropdown-hover-color: $polar-white;
$search-dropdown-border-color: $border-grey;
$search-icon-color: $disabled-grey;
$search-svg-color: #666666;
$grid-odd-row-background-color: $bg-grey;

// New Patient Workflow variables
$patient-registration-title-color: $text-black;
$patient-registration-border-color: $border-grey;
$background-color: $polar-white;
$input-text-color: $text-black;
$short-input-text-color: $placeholder-grey;
$label-color: $label-black;
$badge-color: $action-blue;
$required-input-color: $alert-red;
$box-shadow-color: $action-blue;
$error-color: $alert-red;
$tooltip-color: #f8f8f2;

//Navigation
$brand-color_white: $polar-white;
$brand-color_black: #000000;
$brand-main_nav_bg: $fuse-purple;
$brand-color_primary: #002247;
$brand-color_secondary: #749e00;
$brand-color_test: #800080;
$brand-color_gray: #e3e5e5;
$gray-darker: lighten(#000, 13.5%); // #222
$gray-dark: lighten(#000, 20%); // #333
$gray: lighten(#000, 33.5%); // #555
$gray-light: lighten(#000, 60%); // #999
$gray-lighter: lighten(#000, 80%); // #ccc
$gray-lightest: lighten(#000, 93.5%); // #eee

$cursor-disabled: not-allowed;

$global-h2-size: 16px;
$global-h4-size: 14px;
$global-h3-size: 12px;
