.receivableMenu {
    .open > .dropdown-menu {
        z-index: 999999;
        left: auto !important;
        width: 175px !important;
    }

    li > div.row {
        white-space: nowrap !important;
    }

    #lnkReceivableMenuApplyPayment.disabled {
        cursor: not-allowed;
    }
}

