// #region Patient
.circle{
    color: #c7274e !important;
    font-size: small !important;
}


.dropdown-menu li {

    &:not(:last-child) a:hover{
        background-color: #f5f5f5 !important;
        color: rgb(8, 8, 8) ;
    }
   
}

.dropdown-menu li:last-child a:hover {
    background-color: rgb(228, 228, 228) !important;
}
.unappliedMenu {
    
    padding:5px;
    &__list {
        font-size: 12px;
        min-width: 300px;
        padding: 5px;
        background-color: #f5f5f5 !important;
    }
    &__list-item {
        color:gray;
       
    }
   
    &__ctrl {
        font-size: 12px;
        font-weight: bold !important;;
        display: block;
        color: #55accc !important;
        margin-left: 16px;
        
    }
}
