<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<!-- build:css /v1.0/Content/public/app.min.css -->
    <!-- Stylesheets -->
    <!-- bundle:style css -->
    <!-- /bundle -->
	<!-- endbuild -->

    <!-- External Library Scripts -->
    <!-- bundle:script externallibs -->
    <!-- /bundle -->

	<!-- build:js /v1.0/App/dist/external.min.js -->
    <!-- External Library Min Scripts -->
    <!-- bundle:script externallibsmin -->
    <!-- /bundle -->
	<!-- endbuild -->

	<!-- PatwebCoreConstants -->
	<script type="text/javascript" src="/ConfigSettings"></script>

    <script type="text/javascript" src="/enterprisecore/core-shell.js"></script>
    <script type="text/javascript" src="/v1.0/enterprisecore/core-v1.0.js"></script>
    <script type="text/javascript" src="/enterprisecore/stacktrace.min.js"></script>

	<!-- build:js /v1.0/App/dist/app.min.js -->
    <!-- Main Scripts -->
    <!-- bundle:script main -->
    <!-- /bundle -->
	<!-- endbuild -->

	<!-- build:js /v1.0/App/dist/common.min.js -->
    <!-- Common Scripts -->
    <!-- bundle:script common -->
    <!-- /bundle -->
	<!-- endbuild -->

    <!-- bundletmpl:script templates -->
    <!-- /bundletmpl -->

	<!-- build:js /v1.0/App/dist/widget.min.js -->
    <!-- Widget Scripts -->
    <!-- bundle:script widget -->
    <!-- /bundle -->
	<!-- endbuild -->

	<!-- build:js /v1.0/App/dist/dashboard.min.js -->
    <!-- Dashboard Scripts -->
    <!-- bundle:script dashboard -->
    <!-- /bundle -->
	<!-- endbuild -->

	<!-- build:js /v1.0/App/dist/help.min.js -->
    <!-- Help Scripts -->
    <!-- bundle:script help -->
    <!-- /bundle -->
	<!-- endbuild -->

	<!-- build:js /v1.0/App/dist/patient.min.js -->
    <!-- Patient Scripts -->
    <!-- bundle:script patient -->
    <!-- /bundle -->
	<!-- endbuild -->

	<!-- build:js /v1.0/App/dist/patShared.min.js -->
    <!-- PatShared Scripts -->
    <!-- bundle:script patShared -->
    <!-- /bundle -->
	<!-- endbuild -->

	<!-- build:js /v1.0/App/dist/businesscenter.min.js -->
    <!-- BusinessCenter Scripts -->
    <!-- bundle:script businesscenter -->
    <!-- /bundle -->
	<!-- endbuild -->

	<!-- build:js /v1.0/App/dist/schedule.min.js -->
    <!-- Schedule Scripts -->
    <!-- bundle:script schedule -->
    <!-- /bundle -->
	<!-- endbuild -->

	<!-- build:js /v1.0/App/dist/scheduler.min.js -->
    <!-- Schedule Scripts -->
    <!-- bundle:script scheduler -->
    <!-- /bundle -->
	<!-- endbuild -->
<script src="/v1.0/Scripts/system.min.js"></script>
<script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "/v1.0/Scripts/single-spa/single-spa.min.js"        
      }
    }
</script>
<script>
    // Json data
    var jsonData = {
        "imports": {
            "@fuse/patient": window.mfeConfig.patientOverviewMfeUrl,
            "@fuse/schedule": window.mfeConfig.scheduleMfeUrl,
            "@fuse/schedule-alt": window.mfeConfig.scheduleMfeAltUrl,
            "@fuse/insurance": window.mfeConfig.insuranceMfeUrl,
            "@fuse/clinical": window.mfeConfig.clinicalMfeUrl,
            "@fuse/practice-settings": window.mfeConfig.practiceSettingsMfeUrl,
            "@fuse/contracts": window.mfeConfig.contractsMfeUrl            
        }
    }
    // create a script element
    var script = document.createElement('script');
    // set the type
    script.type = 'systemjs-importmap';
    script.textContent = JSON.stringify(jsonData);
    document.head.appendChild(script);
</script>

<script type="text/javascript" src="/v1.0/Scripts/single-spa/single-spa-angular-hybrid.js"></script>
</head>
<body body-alert>

    <!-- Angular CLI Generated Scripts -->
    <!-- bundle:script ngclioutputes5 [nomodule defer] -->
    <!-- /bundle -->
    <!-- bundle:script ngclioutputes2015 [type="module"] -->
    <!-- /bundle -->
    <!-- endbuild -->
<script type="text/javascript" src="/v1.0/Scripts/single-spa/single-spa-config.js"></script>    
</body>
</html>