// #region Sections
@import 'variables';

body {
    font-family: $global-font-family;
}

.sub-section {
    margin-left: 6px;
    margin-right: 6px;
    padding-left: 15px;
    padding-right: 15px;
}

.sub-section-header {
    padding-bottom: 12px;
}

.sub-section-title {
    border-bottom: thin solid;
    padding-left: 0;
}

.sub-section-content {
    padding-left: 0px;
}

.panel-btn {
    span + span {
        margin-left: 3px;
    }
}

// #endregion