@import "variables";

.fui-check-box {
    width: auto !important;
}

.fui-radio-button {
    width: auto !important;
}

.mt {
    margin-top: 10px;
}

.mb {
    margin-bottom: 10px;
}

.rgb {
    float: left;
}

.border-topgrey {
    border-top: 1px solid $border-grey;
}

.closeInsuranceClaimModal {
    &.error {
        color: $alert-red;
    }
}