.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: -5px;
    visibility: hidden;
    margin-top: -1px;
    min-width: 0px !important;
    border: none !important;
}
.selectedClass {
    color: #FFFFFF !important;
    background-color: rgb(34, 169, 203) !important;
}
.dropdown-menu li:hover>.sub-menu {
    visibility: visible;
    display: block;
}
.menuClass {
    padding: 0px 0 !important;
    margin: 2px 15px 0 !important;
    border: 1px solid #dddddd !important;
}
.dropdown-menu1 {
    width: 189px;
    height: 33px;
    /* padding: 2px 0px 2px 0px; */
    background-color: #ffffff;
    background-size: cover;
    font-family: @global-font-family;
    font-size: 12px;
    color: #555555;
    text-decoration: none solid rgb(85, 85, 85);
    position: relative;
}
.menuClass li a {
    padding: 8px 15px !important;
}
.menu-border {
    border-bottom: 1px solid #dddddd !important;
    border-top: 1px solid #dddddd !important;
}
.menu-border1 {
    border: 1px solid #dddddd !important;
}
.fa-arrow {
    float: right;
    position: absolute;
    left: 179px;
    top: -17px;
    color: rgb(153, 153, 153);
    font-size: 18px;
}
.fa-angle-blue {
color: #2dabcb;
position: absolute;
top: 7px;
font-weight: 500;
left: 165px;
font-size: 18px;
}
.fa-angle-white {
color: #fff;
position: absolute;
top: 7px;
font-weight: 500;
left: 165px;
font-size: 18px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
background-color: rgb(34, 169, 203) !important;
}
.sub-dropdown {
width: 162px;
height: 33px;
background-color: #ffffff;
background-size: cover;
font-family: @global-font-family;
font-size: 12px;
color: #555555;
text-decoration: none solid rgb(85, 85, 85);
}
.top-nav {
    font-size: 14px;
}
.notification-indicator {
    color: red !important;
    top: -2px !important;
    right: 7px !important;
    vertical-align: top !important;
    font-size: 7px !important;
    position: relative !important;
}

.notification-bell-icon {
    margin-top: 8px !important;
}

.notification-bell-icon .fa-arrow {
    top: -15px !important;
    color: #ffffff !important;
    right: 0px !important;
    left: unset !important;
}