<div class="panel-heading collapseExpand">
  <a data-toggle="collapse" data-target="#referralSources" class="soar-link font-weight-bold padding-2">
    <i class="indicator fa fa-chevron-up"></i>
    {{ "Referral Sources" | translate }}
  </a>
</div>

<div class="filter-option panel-collapse collapse reports-slideout report-referral-filter" id="referralSources">
  <ul id="ReferralSources" class="referralsKendo">
    <li>
      <div>
        <div class="row">
          <div class="col-xs-12 col-sm-8 arr-up">
            <kendo-dropdownlist
              [data]="patientReferralTypeOptions"
              [textField]="'name'"
              id="inpReferralType"
              name="patientReferrals"
              ngDefaultControl
              [valueField]="'value'"
              [(ngModel)]="inputReferralFilterModel.selectedReferralType"
              (valueChange)="ReferralTypeChanged(inputReferralFilterModel?.selectedReferralType?.value)"
            >
            </kendo-dropdownlist>
          </div>
        </div>

        <div class="clearfix">&nbsp;</div>

        <!-- Patients -->
        <div class="row" *ngIf="inputReferralFilterModel?.selectedReferralType?.value == patientReferralTypes.Person">
          <div class="col-xs-12 col-sm-8 form-search-input">
            <i class="fa fa-search"></i>

            <div [class]="{ error: !valid && attemptedSave }">
              <input id="inpPatientSearch" class="form-input" type="text" [(ngModel)]="patientSearchParams.searchFor" (keyup)="executePatientSearch(false)" attr.placeholder="{{ 'Find a Person' | translate }}" />
              <label id="lblPatientReferralRequired" class="help-text" *ngIf="!valid && attemptedSave">
                {{ "This field is required." | translate }}
              </label>
            </div>
          </div>
        </div>
        <div class="row" ng-if="inputReferralFilterModel?.selectedReferralType?.value == patientReferralTypes.Person">
          <!-- search results -->
          <div class="col-xs-12 col-sm-8">
            <div class="form-search-container background-white" *ngIf="patientSearch.Results.length > 0" soar-infinite-scroll="executePatientSearch(true)">
              <div class="row" *ngFor="let patient of patientSearch.Results; let i = index; let isOdd = odd; let isEven = even" [class.item-zebra-dark]="isOdd" [class.item-zebra-light]="isEven" (click)="SelectPatient(patient)">
                <div class="col-xs-12">
                  <div class="media referred-media">
                    <i class="pull-left far fa-image fa-3x referred-media-icon"></i>
                    <div class="media-body referred-media-body">
                      <p>
                        <span id="lblReferredByFirstName{{ i }}" [innerHtml]="patient.FirstName.length + patient.LastName.length > 22 ? patient.FirstName[0] + '.' : (patient.FirstName | uppercase | highlightTextIfContains: patientSearchParams.searchFor)"></span>
                        <span id="lblReferredByLastName{{ i }}" [innerHtml]="patient.LastName.length > 22 ? ' ' + patient.LastName.substring(0, 21) : (' ' + patient.LastName | uppercase | highlightTextIfContains: patientSearchParams.searchFor)"></span>
                      </p>
                      <p id="lblReferredByDOB">{{ patient.DateOfBirth | toShortDisplayDateUtc }}</p>
                      <p id="lblReferredByAddress" *ngIf="patient.City">{{ patient.AddressLine1 }} {{ patient.City }}, {{ patient.State }} {{ patient.ZipCode }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- External Sources -->
        <div class="row" *ngIf="inputReferralFilterModel?.selectedReferralType?.value == patientReferralTypes.Other">
          <p></p>

          <div class="col-xs-12 col-sm-8 arr-up">
            <div [ngClass]="{ error: !valid && attemptedSave }">
              <kendo-dropdownlist
                [data]="referralSources"
                [textField]="'SourceName'"
                id="inpReferralSource"
                name="referralSource"
                ngDefaultControl
                [valueField]="'PatientReferralSourceId'"
                [(ngModel)]="referral.ReferralSourceId"
                (valueChange)="SelectOther(referral?.ReferralSourceId?.PatientReferralSourceId)"
              >
              </kendo-dropdownlist>
              <label id="lblReferralSourceRequired" class="help-text" *ngIf="!valid && attemptedSave">
                {{ "This field is required." | translate }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix">&nbsp;</div>
      <div class="row" *ngIf="inputReferralFilterModel?.selectedReferralType?.value == patientReferralTypes.Person">
        <div class="col-xs-12">
          <div class="alerts-item-class" *ngFor="let patient of selectedPatients; let i = index">
            <div class="tag-container tag-container__secondary" style="max-width: 100%; height: 100%">
              <div class="flex">
                <div class="flex flex-center flex-shrink-1 flex-grow-0">
                  <div>
                    <div id="lbl" class="flex-shrink-1 padding-right-16">
                      <label class="margin-bottom-class" id="patientName" attr.title="{{ patient.LastName }}, {{ patient.FirstName }}">{{ patient.LastName }}, {{ patient.FirstName }}</label>
                    </div>
                  </div>
                  <i id="btnRemove" class="fa fa-times-circle tag-container__iconSecondary" (click)="removeSelectedPatient(i, patient)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-if="inputReferralFilterModel?.selectedReferralType?.value == patientReferralTypes.Other">
        <div class="col-xs-12">
          <div class="alerts-item-class" *ngFor="let item of selectedReferralSources; let i = index">
            <div class="tag-container tag-container__secondary" style="max-width: 100%; height: 100%">
              <div class="flex">
                <div class="flex flex-center flex-shrink-1 flex-grow-0">
                  <div>
                    <div id="lbl" class="flex-shrink-1 padding-right-16">
                      <label class="margin-bottom-class" id="sourceName" attr.title="{{ item.SourceName }}">{{ item.SourceName }}</label>
                    </div>
                  </div>
                  <i id="btnRemove" class="fa fa-times-circle tag-container__iconSecondary" (click)="removeSelectedReferenceSource(i, item)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
