.infoTile {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid @brand-color_dark-gray;
    padding: 0 10px 10px 10px;
    overflow-y: auto;
    background-color: white;
    &__header {
        border-bottom: 1px solid @brand-color_dark-gray;
    }
    &__title {
        margin-bottom: 10px;
        h5 {
            margin-bottom: 2px;
        }
    }
    &__subtitle {
        margin-bottom: 10px;
        h3 {
            margin-bottom: 2px;
        }
    }
    &__content {
        margin-top: 20px;
    }
}
