.rx {

    &__frame {
        width: 100%;
        height: 642px;
        border: none;
    }

    &__empty {
        padding-top: 25%;
        text-align: center;        
    }
    &__required{
        position: absolute;        
        left: 50%;        
        max-width:40%;
        z-index: 10;     
    }

    &__loader {
        text-align: center;        
        width: 100%;
    }

}