.svcFeeRollback {
    width: 100%;
    &__actions {
        .containerStandard;
        float: right;
        padding-bottom: @brand-padding_horizontal;

        .btn {
            transform: translateY(-50%);
            margin-left: 5px;
            float: right;
            position: relative;
        }
    }

    &__footer {
        padding: @brand-padding_md;
        .containerStandard;
        .clearfix;
    }   
      
}

