<select kendo-drop-down-list
        id="soarSelectList"
        k-ng-delay="{{delay}}"
        name="{{ name }}"
        set-focus-if="{{ sbSetFocusIf }}"
        class="soarSelectList {{ className }}"
        k-option-label="'{{ placeholder }}'"
		k-options="selectOptions"
        k-data-text-field="'{{ textField }}'"
        k-data-value-field="'{{ valueField }}'"
        k-data-source="optionList"
        k-value-template="valueTemplate"
        k-template="listTemplate"
        ng-model="ngModel"
        ng-model-options="{debounce:100}"
        k-value-primitive="true"
		onkeydown="value"
        k-ng-disabled="disableInput"
        ng-change="sbChange(ngModel, objTrans)"
        ng-blur="sbBlur()"
        k-group-template="strGroupTemplate" 
        k-fixed-group-template="strGroupTemplate"
        ng-required="sbRequired"
        k-select="sbSelect"
        ></select>        
		
