/*
    Application specific CSS should be in here, any/all CSS for custom elements!
 */

/* Need to override the padding/border of the user-dropdown for layout */

/* Make sure that none of the columns will run over into the next!! */

.top-layer-navigation {
    z-index: 9999;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.tile-header > i {
    top: 0 !important;
}

.tile-stats:hover,
.tile-stats:focus {
    text-decoration: none;
}

.filter-tiles {
    width: 185px;
}

.tile-menu-bottom {
    position: inherit;
}

.max-swift-message {
    margin-top: 5px;
    margin-bottom: 10px;
}

@media (min-width:768px) {
    .tile-menu-bottom {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
}
.preserve-white-space {
    white-space: pre;
}
.unique-check {
    position: relative;
}

    .unique-check i {
        position: absolute;
        right: 0;
        font-size: 20px;
        padding: 7px 12px;
        pointer-events: none;
    }

.service-code-col {
    width: 10%;
    text-align: center;
}

.service-code-description-col {
    width: 55%;
    text-align: left;
}

.service-code-cdt-col {
    width: 10%;
    text-align: center;
}

.service-code-type-col {
    width: 15%;
    text-align: left;
}

.service-code-fee-col {
    width: 10%;
    text-align: right;
}

.scroll-y-400 {
    overflow-y: auto;
    max-height: 400px;
}
.cdt-code-search-no-scroll {
    overflow:no-display;
}
.result-buttons {
    margin-left: 10px;
}
.align_left {
    text-align: left;
}

td.clickable.active td,
td.clickable:focus td,
td.clickable:hover td,
td.clickable.active,
td.clickable:focus,
td.clickable:hover,
tr.clickable.active td,
tr.clickable:focus td,
tr.clickable:hover td,
tr.clickable.active,
tr.clickable:focus,
tr.clickable:hover,
.list-group-item.clickable.active,
.list-group-item.clickable:focus,
.list-group-item.clickable:hover {
    background-color: #31c0be !important;
    border-color: #ddd !important;
}

.fixed-padding {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.max-height-result {
    max-height: 300px;
    overflow: auto;
}

.fixed-table {
    table-layout: fixed;
}

.location-label-container {
    margin-bottom: -11px;
}

    .location-label-container > span {
        display: inline-block;
        margin-bottom: 13px;
    }

.datepicker .dropdown-menu {
    padding: 0;
    margin: 0;
    width: 100%;
}

table[role="grid"] button {
    background: #fff;
    border: none;
}

    table[role="grid"] button.btn-info {
        background: #21a9e1;
        border: none;
    }


.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}

.category-col {
    width: 200px;
}

.symbol-col {
    width: 15%;
    text-align: center;
}

.description-col {
    width: 85%;
}

/*Transaction Type (difficult to line up due to scroll bar)*/
.description-td-col {
    width: 61%;
}
/*End Transaction Type*/

.source-name-col {
    width: 20%;
}

.source-description-col {
    width: 80%;
}

.button-col {
    width: 150px;
    text-align: right;
}

.alert-col {
    width: 50%;
}

.master-list-btn {
    width: 100%;
}

    .master-list-btn > button {
        width: 100%;
        text-align: left;
        white-space: normal;
    }

        .master-list-btn > button > .caret {
            float: right;
            margin-top: 7px;
        }

@media (min-width:768px) {
    .master-list-drop-down {
        min-width: 450px;
    }
}

.alert-container > div:first-child {
    margin-top: 0;
}

.alert-container > div:last-child {
    margin-bottom: 0;
}

.patient-alert {
    color: #c00;
}

.symbol-list-drop-down {
    max-height: 200px;
    overflow: auto;
}

.master-list-drop-down {
    max-height: 200px;
    overflow: auto;
}

.remove-bottom-border {
    border-bottom: none !important;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 30px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0.0);
    }

    50% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.custom-id-label-column-view {
    height: 60px;
}

.active-notification-label-fix {
    margin-top: 2px;
}

.custom-id-label-column-edit {
    height: 70px;
}

.warning-message {
    margin-right: 10px;
}

.search-highlight {
    background-color: #ffff99;
}

.infinite-scroll-container {
    height: 500px;
    overflow: auto;
/*MT: Added due to overflow causing issue with width. Please let me know if this affects other areas.*/
    padding-left: 15px;
    padding-right: 15px;
}

.list-group-item.clickable i {
    line-height: 21px;
}

.location-selector {
    background: #f5f5f5;
    color: #666;
}

.tileSmall .icon i {
    font-size: 65px;
}

.tileSmall .num {
    font-size: 12px;
}

.inactiveItem {
    color: #999 !important;
}

    .inactiveItem > a {
        color: #999 !important;
    }

.required-label {
    color: #ca674c;
}

.inactiveImage {
    opacity: 0.2 !important;
}

.clickable {
    cursor: pointer;
}

.color-red {
    color: #f4543c;
}

.color-cyan {
    color: #009987;
}

.color-aqua {
    color: #00c0ef;
}

.color-purple {
    color: #ba79cb;
}

.color-orange {
    color: #ffa812;
}

.color-blue {
    color: #0073b7;
}

.color-green {
    color: #00a65a;
}

.color-pink {
    color: #ec3b83;
}

.inline {
    display: inline-block;
}

.max-message {
    margin-top: 5px;
    margin-bottom: 0;
}

.wrap-contents {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.no-wrap {
    white-space: nowrap;
}

.profile-env > header .profile-picture span {
    font-size: 100%;
    -moz-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.profile-env > header .profile-picture:hover span {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.icon-image-150 {
    font-size: 150px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.image-upload-buttons {
    margin-top: 10px;
}

.panel-heading-with-button {
    line-height: 30px;
}
.panel-heading-title-with-button {
    line-height: 30px;
}

.user-dropdown {
    padding: 7px !important;
}

    .user-dropdown:hover,
    .user-dropdown:focus {
        border-width: 0 !important;
    }

    .user-dropdown > img {
        height: 35px;
    }

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.profile-env {
    background: #F1F1F1;
    border-radius: 3px;
}

    .profile-env .row {
        margin-top: 0;
        padding-left: 20px;
    }

.text-muted a,
.text-muted a:hover,
.text-muted a:visited,
.text-muted a:focus {
    color: #999;
}

.edit-field {
    display: none;
}

.not-visible {
    display: none;
}

.spacing {
    margin-right: 10px;
}

.slide-down-edit {
    background: #eee;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

    .slide-down-edit * {
        margin-bottom: 5px;
    }

.slide-down-edit-inline * {
    margin-bottom: 0 !important;
}

.compact.view > .list-group-item {
    border: none;
}

.list-group-item.add-new {
    background: #f6f6f6;
}

.compact {
    margin-bottom: 0;
}

    .compact .list-group-item {
        padding: 5px 15px;
    }

    .compact .fa-arrows-v,
    .compact .fa-pencil {
        margin-top: 3px;
    }

    .compact .fa-fw {
        margin-right: 10px;
    }

.alert-container .alert-message:first-child {
    margin-top: 0;
}

.alert-container .alert-message:last-child {
    margin-bottom: 0;
}

.alert-message {
    margin: 10px 0;
    padding: 10px;
    border-left: 3px solid #eee;
}

    .alert-message h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .alert-message p:last-child {
        margin-bottom: 0;
    }

    .alert-message code {
        background-color: #fff;
        border-radius: 3px;
    }

.alert-message-success {
    background-color: #F4FDF0;
    border-color: #4c9c77;
}

    .alert-message-success h4 {
        color: #4c9c77;
    }

.alert-message-danger {
    background-color: #fdf7f7;
    border-color: #ca674c;
}

    .alert-message-danger h4 {
        color: #ca674c;
    }

.alert-message-warning {
    background-color: #fcf8f2;
    border-color: #bfa34c;
}

    .alert-message-warning h4 {
        color: #bfa34c;
    }

.alert-message-info {
    background-color: #f4f8fa;
    border-color: #538da7;
}

    .alert-message-info h4 {
        color: #538da7;
    }

.alert-message-default {
    background-color: #EEE;
    border-color: #B4B4B4;
}

    .alert-message-default h4 {
        color: #000;
    }

.alert-message-notice {
    background-color: #FCFCDD;
    border-color: #BDBD89;
}

    .alert-message-notice h4 {
        color: #444;
    }

.message-item {
    margin-bottom: 25px;
    margin-left: 40px;
    position: relative;
}

    .message-item .message-inner {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 10px;
        position: relative;
    }

        .message-item .message-inner:before {
            border-right: 10px solid #ddd;
            border-style: solid;
            border-width: 10px;
            color: rgba(0, 0, 0, 0);
            content: "";
            display: block;
            height: 0;
            position: absolute;
            left: -20px;
            top: 6px;
            width: 0;
        }

        .message-item .message-inner:after {
            border-right: 10px solid #fff;
            border-style: solid;
            border-width: 10px;
            color: rgba(0, 0, 0, 0);
            content: "";
            display: block;
            height: 0;
            position: absolute;
            left: -18px;
            top: 6px;
            width: 0;
        }

    .message-item:before {
        background: #fff;
        border-radius: 2px;
        bottom: -30px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        content: "";
        height: 100%;
        left: -30px;
        position: absolute;
        width: 3px;
    }

    .message-item:after {
        background: #fff;
        border: 2px solid #ccc;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        content: "";
        height: 15px;
        left: -36px;
        position: absolute;
        top: 10px;
        width: 15px;
    }

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.message-item .message-head {
    border-bottom: 1px solid #eee;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

    .message-item .message-head .avatar {
        margin-right: 20px;
    }

    .message-item .message-head .user-detail {
        overflow: hidden;
    }

        .message-item .message-head .user-detail h5 {
            font-size: 16px;
            font-weight: bold;
            margin: 0;
        }

    .message-item .message-head .post-meta {
        float: left;
        padding: 0 15px 0 0;
    }

        .message-item .message-head .post-meta > div {
            color: #333;
            font-weight: bold;
            text-align: right;
        }

.post-meta > div {
    color: #777;
    font-size: 12px;
    line-height: 22px;
}

.message-item .message-head .post-meta > div {
    color: #333;
    font-weight: bold;
    text-align: right;
}

.post-meta > div {
    color: #777;
    font-size: 12px;
    line-height: 22px;
}

.avatar img {
    min-height: 40px;
    max-height: 40px;
}

.wizard-steps {
    background: #f6f6f6;
}

.wizard-step {
    padding: 10px;
}

    .wizard-step > form {
        min-height: 23em;
    }

.wizard-buttons {
    text-align: right;
    background: #fff;
}

    .wizard-buttons > button {
        margin-left: 10px;
    }

.wizard-steps-indicator {
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
}

    .wizard-steps-indicator > li {
        display: table-cell;
        width: 1%;
        text-align: center;
        padding: 0 10px;
    }

        .wizard-steps-indicator > li:first-child {
            padding-left: 0;
        }

        .wizard-steps-indicator > li:last-child {
            padding-right: 0;
        }

        .wizard-steps-indicator > li > span,
        .wizard-steps-indicator > li > a {
            cursor: default;
            text-decoration: none;
            display: block;
            padding: 10px;
            text-transform: uppercase;
            border-radius: 3px;
        }

        .wizard-steps-indicator > li > a {
            cursor: pointer;
        }

        .wizard-steps-indicator > li.current > span,
        .wizard-steps-indicator > li.current > a {
            background: #1A8FBF;
            color: #fff;
        }

        .wizard-steps-indicator > li.default > span,
        .wizard-steps-indicator > li.default > a {
            background: #f6f6f6;
            color: #aaa;
        }

        .wizard-steps-indicator > li.complete > span,
        .wizard-steps-indicator > li.complete > a {
            background: #00A651;
            color: #FFF;
        }

        .wizard-steps-indicator > li.error > span,
        .wizard-steps-indicator > li.error > a {
            background: #ca674c;
            color: #FFF;
        }

        .wizard-steps-indicator > li.warn > span,
        .wizard-steps-indicator > li.warn > a {
            background: #9f8639;
            color: #FFF;
        }

@media (max-width:768px) {
    .wizard-steps-indicator > li {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        padding: 0;
    }
}

.error > input,
.error > input:focus,
.error > p > input,
.error > div > p > input,
.error > p > input:focus,
.error > select,
.error > select:focus,
.error > .soar-typeahead > form.typeahead-form > input,
.error > .soar-typeahead > form.typeahead-form > input:focus,
.error > textarea,
.error > textarea:focus,
.error span.k-combobox > span.k-dropdown-wrap,
.error > span.k-dropdown > span.k-dropdown-wrap,
.error > div > div > form > input,
.error > date-selector > div > p > input {
    border-color: #ca674c;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.error > .help-text {
    color: #ca674c;
}

.warn > input,
.warn > input:focus,
.warn > select,
.warn > select:focus,
.warn > .soar-typeahead > form.typeahead-form > input,
.warn > .soar-typeahead > form.typeahead-form > input:focus {
    border-color: #9f8639;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.warn > .help-text {
    color: #9f8639;
}

.invalid {
    border-color: #ca674c !important;
}

.sidebar-container {
    position: relative;
}

.sidebar {
    position: absolute;
    width: 100%;
    padding-right: 15px;
}

    .sidebar > li > a {
        background: #F0F0F1;
        padding: 5px 15px;
    }

        .sidebar > li.active > a,
        .sidebar > li > a:hover {
            background: #ddd;
        }

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 999px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }

.duplicate-patients {
    min-height: 30em;
}

.tag {
    padding: 5px 10px;
    font-size: 10px;
    margin-right: 2px;
    font-size: small;
    display: inline-block;
}

    .tag .remove-button {
        padding-left: 3px;
        padding-right: 3px;
    }

.dynamic-list {
    padding: 0px;
    max-height: 175px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown-menu.dynamic-list {
    width: 100%;
}

/*firefox only css*/
@-moz-document url-prefix() {
    .dropdown-menu.dynamic-list {
        min-width: 100%;
    }
}

@media (max-width: 767px) {
    .visible-xs-inline {
        display: inline-block !important;
    }
}

.base-toggle {
    position: relative;
    width: 70px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.base-toggle-checkbox {
    display: none;
}

.base-toggle-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #CCCCCC;
    border-radius: 20px;
}

.base-toggle-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

    .base-toggle-inner:before, .base-toggle-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 20px;
        padding: 0;
        line-height: 20px;
        font-size: 14px;
        color: white;
        font-weight: bold;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .base-toggle-inner:before {
        content: attr(data-true-text);
        padding-left: 10px;
        background-color: #0072BC;
        color: #FFFFFF;
    }

    .base-toggle-inner:after {
        content: attr(data-false-text);
        padding-right: 10px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right;
    }

.base-toggle-switch {
    display: block;
    width: 23px;
    margin: 1px;
    background: #FFFFFF;
    border: 2px solid #CCCCCC;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 46px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.base-toggle-checkbox:checked + .base-toggle-label .base-toggle-inner {
    margin-left: 0;
}

.base-toggle-checkbox:checked + .base-toggle-label .base-toggle-switch {
    right: 0;
}

.active-toggle {
    width: 95px;
}

.active-toggle-switch {
    right: 72px;
}

.on-toggle {
    width: 60px;
}

.on-toggle-switch {
    right: 35px;
}

.panel-active-toggle {
    width: 105px;
}

.panel-active-toggle-switch {
    right: 80px;
}

.patient-toggle {
    width: 130px;
}

.patient-toggle-switch {
    right: 107px;
}

.alert-toggle {
    width: 110px;
}

.alert-toggle-switch {
    right: 86px;
}

.mode-toggle {
    width: 170px;
}

.mode-toggle-switch {
    right: 146px;
}

.hide-overflow-x {
    overflow-x: hidden;
}

.click-cursor {
    cursor: pointer;
}

.user-image-sm {
    height: 64px;
    width: 64px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
}

    .user-image-sm img {
        vertical-align: middle;
        max-height: 64px;
        max-width: 64px;
        display: inline-block;
    }

.user-image-md {
    height: 100px;
    width: 100px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
}

    .user-image-md img {
        vertical-align: middle;
        max-height: 100px;
        max-width: 100px;
        display: inline-block;
    }


.user-image-lg {
    height: 250px;
    width: 250px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
}

    .user-image-lg img {
        vertical-align: middle;
        max-height: 250px;
        max-width: 250px;
        display: inline-block;
    }

.img-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
/*ToDo, may want to modify this*/
img.img50_50 {
    width: 50px;
    height: 50px;
    padding: 3px 2px 2px 2px;
    border-radius: 5px;
}


.location-dropdown {
    display: inline;
    height: 10px;
}

.location-dropdown {
    height: 100%;
    vertical-align: middle;
}

.table-col-50px {
    width: 50px;
}

.table-col-10 {
    width: 10%;
}

.table-col-15 {
    width: 15%;
}

.table-col-20 {
    width: 20%;
}

.table-col-25 {
    width: 25%;
}

.table-col-50 {
    width: 50%;
}

.table-col-60 {
    width: 60%;
}

table.table-borderless, table.table-borderless tr, table.table-borderless tr td, table.table-borderless tbody,
table.table-borderless thead, table.table-borderless thead th, table.table-borderless thead tr, table.table-borderless thead th td, table.table-borderless thead tr td,
table.table-borderless tbody, table.table-borderless tbody tr, table.table-borderless tbody tr td {
    border: none;
}

.window-footer {
    /*clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	margin-top: -3em;*/
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 5px;
}

.notes-lg {
    width: 100%;
    height: 150px;
}

.notes-md {
    width: 100%;
    height: 80px;
}

.notes-sm {
    width: 100%;
}

.font-18 {
    font-size: 18px;
}

.on-print-block, .on-print-inherit, .on-print-inline, .on-print-inline-block, .on-print-inline-table,
.on-print-list-item, .on-print-table, .on-print-table-caption, .on-print-table-cell, .on-print-table-column,
.on-print-table-column-group, .on-print-table-footer-group, .on-print-table-header-group, .on-print-table-row,
.on-print-table-row-group {
    display: none;
}

@media print {
    .no-print {
        display: none;
    }

    .on-print-block {
        display: block;
    }

    .on-print-inherit {
        display: inherit;
    }

    .on-print-inline {
        display: inline;
    }

    .on-print-inline-block {
        display: inline-block;
    }

    .on-print-inline-table {
        display: inline-table;
    }

    .on-print-list-item {
        display: list-item;
    }

    .on-print-table {
        display: table;
    }

    .on-print-table-caption {
        display: table-caption;
    }

    .on-print-table-cell {
        display: table-cell;
    }

    .on-print-table-column {
        display: table-column;
    }

    .on-print-table-column-group {
        display: table-column-group;
    }

    .on-print-table-footer-group {
        display: table-footer-group;
    }

    .on-print-table-header-group {
        display: table-header-group;
    }

    .on-print-table-row {
        display: table-row;
    }

    .on-print-table-row-group {
        display: table-row-group;
    }

    thead.report-header {
        display: table-caption;
    }

    thead.page-header {
        display: table-header-group;
    }
}

.header-panel-fixed {
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 30px 0 30px;
    top: 53px;
    z-index: 1035;
    background-color: #fff;
}

.below-header {
    margin-top: 75px;
}

.icon-115 {
    max-width: 115px;
    max-height: 115px;
    padding: 25px 0 25px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.popover {
    background-color: #bdedbc;
}

.wordbreak {
    word-break: break-all;
}

.content {
    /*width: 960px;*/
    /*height: 0px;*/
    margin-right: auto;
    margin-left: auto;
}

.panel-group-horizontal {
    width: 400px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(-100%) rotate(-90deg);
    -webkit-transform-origin: right top;
    -moz-transform: translateX(-100%) rotate(-90deg);
    -moz-transform-origin: right top;
    -o-transform: translateX(-100%) rotate(-90deg);
    -o-transform-origin: right;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right top;
    z-index: 10000;
    position: fixed;
}

.panel-group-horizontal-custom {
    width: 400px;
    z-index: 100;
    position: fixed;
}

.panel-group-side-arrow {
    margin-bottom: 1px
}

.panel-heading.capitalize {
    height:60px;
    text-transform: capitalize;
}

.panel-heading div.capitalize {
    text-transform: capitalize;
}

.panel-heading-title {
    height: 250px;
}

.panel-heading-horizontal {
    width: 430px;
}

.panel-title-horizontal {
    height: 18px;
}

    .panel-title-horizontal a {
        text-decoration: none;
        color: #000000;
    }

.panel-body-horizontal {
    height: 190px;
    float: left;
    margin: 60px 0px 100px 100px;
}

/*.panel-group-horizontal button {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(-100%) rotate(90deg);
    -webkit-transform-origin: right top;
    -moz-transform: translateX(-100%) rotate(90deg);
    -moz-transform-origin: right top;
    -o-transform: translateX(-100%) rotate(90deg);
    -o-transform-origin: right top;
    transform: translateX(-100%) rotate(90deg);
    transform-origin: right top;
    width: 100px;
}*/

.panel-group-horizontal label {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(-100%) rotate(90deg);
    -webkit-transform-origin: right top;
    -moz-transform: translateX(-100%) rotate(90deg);
    -moz-transform-origin: right top;
    -o-transform: translateX(-100%) rotate(90deg);
    -o-transform-origin: right top;
    transform: translateX(-100%) rotate(90deg);
    transform-origin: right top;
   width: 250px;
}

/*.panel-group-horizontal .panel button {
    margin-left: 290px;
    margin-top: 50px;
    position: relative;
}*/

/*.panel-group-horizontal .panel label {
    margin-left: 320px;
    margin-top: 275px;
    position: absolute;
}*/

/* Navigation Bar */
 
#menu {
    list-style:none;
    width:160px;
    height:43px;

}
 
#menu span {
    text-align:center;
    position:relative;
    margin-left:0px;
    margin-top:0px;
}
 
#menu span:hover {
    
    
 
    /* Rounded corners */
     
    padding: 4px 9px 4px 9px;
     
    /* Background color and gradients */
     
    background:#fff;
    background: -moz-linear-gradient(top, #fff, #EEEEEE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#EEEEEE));
            z-index:1000000000000000000000000; 
    /* Rounded corners */
     
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

 
#menu span a {
    font-size:14px; 
    color: #EEEEEE;
    display:block;
    outline:0;
    text-decoration:none;
    text-shadow: 1px 1px 1px #000;
}
 
#menu span:hover a {
    color:#161616;
    text-shadow: 1px 1px 1px #FFFFFF;
}
#menu span .drop {
    padding-right:0px;
    background:url("img/drop.png") no-repeat right 8px;
}
#menu span:hover .drop {
    background:url("img/drop.png") no-repeat right 7px;
}
 
/* Drop Down */
 

.dropdown_5columns {
    margin:4px auto;
    float:left;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:left;
    padding:10px 5px 10px 5px;
    
   
    /* Gradient background */
    /*#F4F4F4;*/
    background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
 
    /* Rounded Corners */
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
}
 
.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 1000px;}
 
#menu span:hover .dropdown_1column, 
#menu span:hover .dropdown_2columns, 
#menu span:hover .dropdown_3columns,
#menu span:hover .dropdown_4columns,
#menu span:hover .dropdown_5columns {
    left:-30%;
    top:auto;
}
 
/* Columns */
 
.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
    display:inline;
    float: right;
    left:-30%;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    background:#fff;

}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:1000px;}
 
/* Right alignment */
 
#menu .menu_right {
    float:right;
    margin-right:0px;
}
#menu span .align_right {
    /* Rounded Corners */
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}
#menu span:hover .align_right {
    left:auto;
    right:-1px;
    top:auto;
}
 
/* Drop Down Content Stylings */
 
#menu p, #menu h2, #menu h3, #menu div span {
    font-family:Arial, Helvetica, sans-serif;
    line-height:21px;
    font-size:12px;
    text-align:center;
    text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
    font-size:21px;
    font-weight:400;
    letter-spacing:-1px;
    margin:7px 0 14px 0;
    padding-bottom:14px;
    border-bottom:1px solid #666666;
}
#menu h3 {
    font-size:14px;
    margin:7px 0 14px 0;
    padding-bottom:7px;
    border-bottom:1px solid #888888;
}
#menu p {
    line-height:18px;
    margin:0 0 10px 0;
}
 
#menu span:hover div a {
    font-size:12px;
    color:#015b86;
}
#menu span:hover div a:hover {
    color:#029feb;
}
.strong {
    font-weight:bold;
}
.italic {
    font-style:italic;
}
.imgshadow {
    background:#FFFFFF;
    padding:4px;
    border:1px solid #777777;
    margin-top:5px;
    -moz-box-shadow:0px 0px 5px #666666;
    -webkit-box-shadow:0px 0px 5px #666666;
    box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
    width:auto;
    float:left;
    margin:5px 15px 5px 5px;
}
#menu span .black_box {
    background-color:#333333;
    color: #eeeeee;
    text-shadow: 1px 1px 1px #000;
    padding:4px 6px 4px 6px;
 
    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
 
    /* Shadow */
    -webkit-box-shadow:inset 0 0 3px #000000;
    -moz-box-shadow:inset 0 0 3px #000000;
    box-shadow:inset 0 0 3px #000000;
}
#menu span div {
    list-style:none;
    padding:0;
    margin:0 0 12px 0;
}
#menu span div span {
    font-size:12px;
    line-height:24px;
    position:relative;
    text-shadow: 1px 1px 1px #ffffff;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:130px;
}
#menu span div span:hover {
    background:none;
    border: 1px solid #777777;
    padding:0;
    margin:0;
}
#menu span .greybox span {
    background:#F4F4F4;
    border:1px solid #bbbbbb;
    margin:0px 0px 4px 0px;
    padding:4px 6px 4px 6px;
    width:116px;
 
    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#menu span .greybox span:hover {
    background:#ffffff;
    border:1px solid #aaaaaa;
    padding:4px 6px 4px 6px;
    margin:0px 0px 4px 0px;
}

.cursor-pointer {
        cursor: pointer;
}

.border-solid-black {
    border:solid 1px gray;
}

.border-solid-2px-black {
    border:solid 2px black !important;
}

.zero-zindex {
        z-index: 0;
    }

.showdiv {
    display:block;
}

.hidediv {
    display:none;
}

.dropdown-menu {
    min-width: 100px;
    min-height: 20px;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu.columns-10 {
	min-width: 1200px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}
 
@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

.custom-transform-sidebar-header {
    padding-bottom: 0px;
    padding-left: 183px;
    padding-top: 10px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 187px 396% 0;
    white-space: nowrap;
}

.custom-transform-sidebar-body {
    padding-bottom: 0px;
    padding-left: 100px;
    padding-top: 10px;
    position: absolute;
    background-color:yellow;
    transform: rotate(90deg);
    transform-origin: 0px 0% 0px;
    white-space: nowrap;
}
.custom-transform-sidebar-content {
    transform: rotate(90deg);
    transform-origin: 176px 181% 0;
    white-space: nowrap;
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

.sidebar-btn {
    text-align:center;
    font-size:x-small;
    white-space: normal;
    height:75px;
    background-color:white;
    border:solid 1px gray;
    margin-left: 10px;

}
.sidebar-btn i {
    font-size:2.5em
}

.sidebar-btn:hover {
    background-color:#eeeeee;
}

.sidebar-panel-paddingzero {
    padding: 0px;
}

.dropdownmenu-btn {
    text-align:center;
    white-space: normal;
    height:85px;
}
.dropdownmenu-btn i {
    font-size:1.5em
}

.dropdownmenu-btn:hover {
    background-color: #563d7c;
    color: #fff;
}

#additemMenu:hover .dropdown-menu {
    display: block;
 }

.red-border
{
    border:1px solid #f00;
}

.highlight-section.ng-move-stop,
.highlight-section.ng-enter {
  -webkit-transition: all 2s 3s ease-out;
  -moz-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out;
  border:solid 2px red;
}

.highlight-section.ng-move-active,
.highlight-section.ng-enter-active {
  -webkit-transition: all 2s 3s ease-out;
  -moz-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out;
  border:solid 2px white;
}

.sidebar-height400 {
    height:400px;
}

.sidebar-padding-right30 {
    padding-right:30px;
}

.sidebar-padding-left53 {
    padding-left:53px;
}


.template-margin-left30 {
    margin-left:30px;
}
/*MHF END*/


/*Accordion START*/
.angular-accordion-header {
    background-color: #eeeeee !important;
    margin: 0;
    line-height: 14px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border:1px solid lightgray;
    cursor: pointer;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.angular-accordion-footer {
    background-color: #eeeeee !important;
    padding: 10px;
    margin: 0;
    line-height: 14px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.angular-accordion-container {
    height: 100%;
    width: 100%;
}

.angular-accordion-pane {
    padding: 2px;
}

.angular-accordion-pane-content {
    padding: 5px;
    overflow-y: auto;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100% !important;
    width: 100%;
}

.angular-disabled-pane {
    opacity: .2;
}

.section-accordion-bg {
    background-color:#eeeeee;
}

.margin-bottom20 {
    margin-bottom:20px;
}

.margin-bottom40 {
    margin-bottom: 40px;
}

.margin-top4 {
    margin-top:4px;
}

.margin-bottom15 {
    margin-bottom:15px;
}

.margin-bottom10 {
    margin-bottom:10px;
}
/*Accordion ENDS*/

.margin5-top-bottom {
    margin-top:5px;
    margin-bottom:5px;
}

/*Section Preview STARTS*/
.section-preview-show-border{
    border: 1px solid #999;
}

.section-item-panel {
    margin-top: 20px; 
    background-color:#ffffff
}
/*Section Preview ENDS*/

.select-disabled {
    height: 30px;
    background-color: #EBEBE4;
}

.dropdown-menu-custom-settings {
    overflow:visible !important;
    left:-270% !important;
    width: 696% !important;
}

/***************************************/
 .modal-custom-margin-padding {
     padding-top: 0px;
     margin-top: -3%;
 }

.float-right {
    float:right;
}

.float-left {
    float:left;
}

.width-360 {
    width: 360px !important;
}

.width-70 {
    width: 70px !important;
}

.width-40 {
    width: 40px !important;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

img.percentage-symbol-position {
    height: 20px; 
    width: 20px;
    top: 10px;
    right: 5px;
    position: absolute;
}

.color-dodgerblue {
    color: dodgerblue;
}

.color-black {
    color: black;
}

.table-header {
    background-color: #cccccc;
    color: #fff;
    font-size: 14px;
    line-height: 38px;
    margin-bottom: 1px;
    padding-left: 12px;
}


.table-width-fix{
border-collapse:inherit;
table-layout: fixed;
}

.table-width-fix-border-collapse{
border-collapse:collapse;
table-layout: fixed;
}


 
 .resizable tr td{
    overflow: hidden;
 }

  .resizable  td{
    overflow: hidden;
 }


.width-adjust-table {
    border-collapse: separate;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    opacity: 0;
    vertical-align: top;    
    width: 0;
}


  .caret-asc {
    border: 5px solid transparent;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
}


 .caret-desc {
    border: 5px solid transparent;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
}

.caret-desc.up {
    border-bottom: 5px solid;
    opacity: 0.3;
}

.caret-desc.down {
    border-top: 5px solid;
    opacity: 1;
}

.caret-asc.up {
    border-bottom: 5px solid;
    opacity: 1;
}

.caret-asc.down {
    border-top: 5px solid;
    opacity: 0.3;
}

.margin-top-minus25 {
    margin-top: -25px;
}

.modal-dialog-large .modal-dialog {
    width :90%;
    min-width: 800px;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon span {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.service-code-modal-body {
    padding-top: 0px; 
    margin-top: -3%;
}

.width-5-percent {
    width: 5% !important;
}

.width-09-percent {
    width: 09% !important;
}

.width-10-percent {
    width: 10% !important;
}

.width-12-percent {
    width: 12% !important;
}

.width-13-percent {
    width: 13% !important;
}

.width-15-percent {
    width: 15% !important;
}

.width-16-percent {
    width: 16% !important;
}

.width-17-percent {
    width: 17% !important;
}

.width-20-percent {
    width: 20% !important;
}

.width-25-percent {
    width: 25% !important;
}

.width-30-percent {
    width: 30% !important;
}

.width-35-percent {
    width: 35% !important;
}

.width-40-percent {
    width: 40% !important;
}

.width-45-percent {
    width: 45% !important;
}

.width-90-percent {
    width: 90% !important;
}

.width-200-percent {
    width: 200% !important;  
}

.text-align-right {
    text-align: right !important;
}

.text-align-center {
    text-align: center !important;
}

.margin-top-minus5 {
    margin-top: -5px !important;
}

.margin-top-minus6-percent {
    margin-top: -6% !important;
}

.margin-top-minus3-percent {
    margin-top: -3% !important;
}

.overflow-hidden {
    overflow:hidden;
}

.margin-left-minus16 {
    margin-left: -16px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-minus20 {
    margin-left: -20%;
}
.margin-left-minus9 {
    margin-left: -9%;
}


.scrollable-div {
    overflow-x:hidden;
    overflow-y: auto;
    height:200px;
}

.vertical-align-top {
    vertical-align: top !important;
}

.max-height-40 {
    max-height: 40px;
}

.min-height-40 {
    min-height: 40px;
}

.font-weight-bold {
    font-weight: bold !important;
}

.font-size-20 {
    font-size: 20px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-left-15 {
    padding-left: 15px !important;
}

.background-marinblue {
    background:#dae5f4
}