/*#region Globals */
@gray-darker:            lighten(#000, 13.5%); // #222
@gray-dark:              lighten(#000, 20%);   // #333
@gray:                   lighten(#000, 33.5%); // #555
@gray-light:             lighten(#000, 60%);   // #999
@gray-lighter:           lighten(#000, 80.0%); // #ccc
@gray-lightest:          lighten(#000, 93.5%); // #eee
@white: #FFFFFF;
@bluegrey-lightest: #ECEFF1;

// background colors
@bg-dark: #424242;
@bg: #797979;
@bg-light: #888;
@bg-hover:  #C0C0C0;
@bg-disabled: #999;
@zebra-dark: @gray-lightest;
@zebra-light: #fff;
@header-bg: #EBEBEB;

// button colors
@btn-add-bg: #0096FF;
@btn-add-bg-hover: #33ABFF;
@btn-edit-bg: #0096FF;
@btn-edit-bg-hover: #33ABFF;
@btn-color: #fff;
@input-type-color: #797979;
@input-color: #424242;
@schedule-btn-color: #0096FF;
@schedule-border-color: #0096FF;

// dropdown colors
@dropdown-color: #0096FF;
@dropdown-color-hover: #fff;
@dropdown-bg: #fff;
@dropdown-bg-hover: #0096FF;


// font colors
@base-color: #fff;
@base-color-hover: #fff;
@label-color: #333;
@add-color: #0096FF;
@link-color: #0096FF;

// border colors
@border-color: @bg-dark;

@screen-xs: 480px;
@screen-sm: 768px;
@font-size-normal: 14px;
@font-size-normal-mobile: 12px;
@font-size-form-label: 12px;
@font-size-page-title: 28px;
@font-size-page-title-mobile: 24px;
@font-size-sub-tab-dropdown: 18px;

@heading-input-size: 32px;
@section-input-size: 28px;
@input-min-width: 300px;
@input-border-color: @gray-lighter;
@dropdown-min-width: 200px;
@info-bg: #90CAF9;

@padding5: 5px;
@padding10: 10px;
@padding16: 16px;
@borderRadius5: 5px 5px 5px 5px;
@borderRadius3: 3px 3px 3px 3px;
/*#endregion*/

/*#region Form */
@form-section-color: @gray-dark;
@form-section-header-color: @gray-lighter;
@form-section-bordor-color: @gray-lighter;
@form-box-color: @gray;
@form-dropdown-border-color: @gray-lighter;
@form-btn-upload-border-color: @gray-darker;
@form-btn-upload-bg: #fff;
@form-collapse-btn-bg: #fff;
@toggle-label-color: #fff;
@toggle-button-width: 148px;
@toggle-bg: @gray-lighter;
@toggle-btn-color: #fff;
@toggle-btn-border-color: #fff;
@toggle-btn-bg-color: linear-gradient(#2196f3, #2196f6);
@toggle-btn-font-size: 14px;
/*#endregion*/

/*#region Date Selector*/
@date-selector-border-color: @gray-lighter;
/*#endregion*/

/*#region Patients*/

/* #region Duplicate Patient Results */
@duplicate-search-bg: #ffffcc;
/* #endregion */

/*#endregion*/

/*#region Business*/

@discount-rate-input-border-color: @gray;

/*#endregion*/

/*#region Search Results*/
@search-result-header-border-color: @gray-lighter;
@search-result-header-bg: #fff;
@search-result-body-border-color: #000;
@search-result-item-border-color: @gray-light;
@search-result-item-even-bg: @gray-lightest;
@search-result-item-btn-border-color: @gray;
@search-result-item-btn-bg: @gray-dark;
@search-result-item-btn-color: @gray-lightest;
@search-result-item-btn-hover-bg: @gray-lighter;
@search-result-item-btn-hover-color: @gray;
@search-result-filter-border-color: @gray;
@search-result-filter-bg: @gray-lightest;
@search-result-filter-li-bg: @gray-light;
/*#endregion*/

/*#region Dashboard Header */
@dashboard-header-height: 255px; //200px;
@dashboard-header-border-color: @gray-light;

@dashboard-header-body-ul-height: 172px; //117px;
/*#endregion*/

/*#region Top Header */
@header_bg: @gray-dark;
@nav_brand: @gray-dark;
@nav_dropdown: @gray;
@nav_dropdown_text: #000;
@nav_dropdown_hover: @gray-darker;
@nav_filter_bg: @gray;
@nav_filter_text: @gray-lighter;
@nav_filter_hover: #000;
@breadcrumbs_bg: @gray-dark;
@top_nav_side_nav_bg: @gray-dark;
@top_nav_side_nav_li-border-color: #000;
@top_nav_xs_active-bg: @gray-dark;
@top_nav_xs_active-color: @gray-lightest;
@top_nav_xs_hover-bg: @gray-dark;
@top_nav_xs_hover-color: @gray-lightest;
@nav-input-color: #fff;
@nav_search_tab_bg: @gray-light;
@nav_search_tab_text: @gray-dark;
@nav_search_tab_selector: @gray-dark;
@nav_search_tab_selector_text: @gray-lighter;
/*#endregion*/

/*#region List*/
@list-height: 500px;
@list-width: 400px;
@list-option-bg: @gray-lighter;
@list-option-bg-hover: @gray-light;
@list-option-header-bg: @gray-lighter;
@list-option-item-bg: @gray-lightest;
@list-option-item-bg-hover: @gray-light;


/*#endregion*/

/*#region Side Nav*/
@side_nav_bg: lighten(#000, 85%);
@side_nav_item_hover: @gray-light;
@side_nav_item_text: @gray-darker;
@side_nav_item_text_hover: @gray-darker;
@side_nav_item_text_disabled: @gray-light;
/*#endregion*/

/*#region MasterList*/
@master-list-warning-bg: #ffffcc;
@master-list-button-bg-color:transparent;
@master-list-button-bg-hover:@gray-light;
@master-list-button-bg-active:@gray-lightest;
@symbol-dd-btn-border-color: @gray;
@master-list-item-even-bg: @gray-lightest;
@master-list-btn-border-color: @gray;
@master-list-item-bg-hover: darken(@gray-lightest, 15%);
@master-list-search-wrapper-border-color: @gray;
@master-list-input-border-color: @gray;
@master-list-warning-msg-border-color: @gray-lightest;
@master-list-warning-button-bg-color: @white;
@master-list-warning-button-border-color: @gray;
/*#endregion*/

/*#region Chart*/
@chart-selection-bg: lighten(@btn-edit-bg-hover, 10%);
@chart-tooth-hover-border: @gray-light;
/*#endregion*/

/*#region Feedback*/

@feedback-bar-bg: @gray-lighter;

/*#endregion*/

/*#region Scheduler*/

/*#region AppointmentOverview*/

@appt-alert-bg: #FFD6AE;

/*#endregion*/

/*#endregion*/

////// Typography Palette //////
// Copied from variables.scss
@global-font-family: "Open Sans", sans-serif;
/// h1
@global-h1-size: 18px;
@global-h1-family: @global-font-family;
@global-h1-weight: bold;
@global-h1: @global-h1-weight @global-h1-size @global-h1-family;
/// h2
@global-h2-size: 16px;
@global-h2-family: @global-font-family;
@global-h2-weight: bold;
@global-h2: @global-h2-weight @global-h2-size @global-h2-family;
/// h3
@global-h3-size: 16px;
@global-h3-family: @global-font-family;
@global-h3-weight: normal;
@global-h3: @global-h3-weight @global-h3-size @global-h3-family;
/// h4
@global-h4-size: 14px;
@global-h4-family: @global-font-family;
@global-h4-weight: bold;
@global-h4: @global-h4-weight @global-h4-size @global-h4-family;
/// body text
@global-body-font-size: 14px;
/// table cell text
@global-table-font-size: 12px;
