.margin-right-10 {
    margin-right: 10px
}

.accountStatementBillingMessage {

    .accountStatementBillingMessage__body {
        width: 96%;
        max-width: 1600px;
        margin: 0 auto;
        padding-top: 16px;
        content: "";
        display: table;
    }

    .data-column {
        word-break: break-word;
        padding: 5px 16px;
    }

}