<div class="slidePanel open">
    <div class="slidePanel__box">
        <div class="slidePanel__header">
            <div class="slidePanel__title">
                <h4>{{ 'Filter Name' }} <button id="sp-clear" class="btn btn-link">clear</button></h4>
            </div>
            <div class="slidePanel__close">
                <button id="sp-close" class="btn btn-link"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="slidePanel__body">

        </div>
    </div>
</div>