<div class="letter-template">
  <ng-template #templateRef>
    <div class="modal-header">
      {{selectedTemplate.TemplateName}}
    </div>
    <div class="modal-body" [innerHtml]="templateOutput">
    </div>
  </ng-template>
  <ng-template #dialogActions>

    <div class="modal-footer">
      <app-button id="btnGenerateLetterCancel" buttonLabel="{{'Cancel' | translate }}" variation="secondary"
        class="mr-8" (onClick)="dialog.close()">
      </app-button>
      <app-button id="btnGenerateLetterSave" (onClick)=" addGenerateLetterCommunication(null,null)"
        buttonLabel="{{'Print & Save' | translate }}" variation="primary">
      </app-button>
    </div>
  </ng-template>
</div>
<div kendoDialogContainer></div>

<form class="form-horizontal" [formGroup]="generateLetterCommunication">
  <div class="generateLetter_wrapper">
    <div class="type_wrapper">
      <label class="control-label" for="communicationtype"> {{ 'Type' | translate }} </label>
      <select kendoTooltip position="top" tooltipClass="app-tooltip" title="{{letterTypeTooltip}}" id="communicationtype" formControlName="CommunicationType" class="form-control selectlist" disabled>
        <option value="0" selected>{{'Select Options' | translate}}</option>
        <option [value]='communicationtype.value' *ngFor="let communicationtype of communicationTypes">
          {{communicationtype.text}}</option>
      </select>
    </div>
    <div class="category_wrapper">
      <label class="control-label" for="communicationCategory"> {{ 'Category' | translate }} <span
          class="required">*</span></label>
      <select id="communicationCategory" data-testid="communicationCategory" (change)='onCategorySelected($event)' formControlName="CommunicationCategory"
        class="form-control selectlist">
        <option value="0" selected>{{'Select Options' | translate}}</option>
        <option [value]='communicationCategory.value'
          *ngFor="let communicationCategory of communicationConstants.CommunicationCategories">
          {{communicationCategory.text}}
        </option>
      </select>
    </div>
    <div class="reason_wrapper">
      <label class="control-label" for="communicationReason"> {{ 'Reason' | translate }} <span
          class="required">*</span></label>
      <select id="communicationReason" formControlName="Reason" class="form-control selectlist"
        (change)='onReasonSelected($event)'>
        <option value="0">{{'Select Options' | translate}}</option>
        <option [value]='communicationReason.value' *ngFor="let communicationReason of communicationReasons">
          {{communicationReason.text}}</option>
      </select>
    </div>
    <div class="template_wrapper">
      <label class="control-label" for="communicationTemplate"> {{ 'Template' | translate }} </label>
      <select id="communicationTemplate" formControlName="CommunicationTemplateId" class="form-control selectlist"
        (change)='onTemplateSelected($event)'>
        <option value="0">{{'Select Options' | translate}}</option>
        <option [value]='template.CommunicationTemplateId' *ngFor="let template of filteredTemplates">
          {{template.TemplateName}}</option>
      </select>
    </div>
    <div id="rdbCommunication" class="communication_wrapper">
      <label class="control-label"> {{ 'Communication' | translate }} </label>
      <div class="rdb_wrapper">
        <app-radio-button id="rdbStatus" (change)='onRbChange()' formControlName="Status"
          label="{{ 'Sent' | translate }}" [value]="'1'" [checked]="getCheckedStatus('1')"></app-radio-button>
        <app-radio-button id="rdbReceived" (change)='onRbChange()' formControlName="Status"
          label="{{ 'Received' | translate }}" [value]="'2'" [checked]="getCheckedStatus('2')"></app-radio-button>
        <app-radio-button id="rdbOther" (change)='onRbChange()' formControlName="Status"
          label="{{ 'Other' | translate }}" [value]="'0'" [checked]="getCheckedStatus('0')"></app-radio-button>
      </div>
    </div>
    <div class="notes_wrapper">
      <label class="control-label"> {{ 'Notes' | translate }} <span class="required">*</span>
      </label>
      <textarea [style.height.px]="height" (window:resize)="onResize($event)" onkeyup="this.value = this.value.replace(/[<>]/g, '')" maxlength="{{accountNoteMaxLength}}"
        (blur)='updateNotes($event)' (change)='onNotesChange()' id="communicationNotes" formControlName="Notes"
        class="form-input form-textarea"></textarea>
    </div>
    <div class="editedby_wrapper" id="drawer-editedby" *ngIf="isModified">
      <label class="control-label"> {{ 'Edited By:' | translate }} </label>
      {{editedBy}}
    </div>
    <div class="btn_wrapper">
      <app-button id="btnGenerateLetterAdd" buttonLabel={{buttonText}} variation="primary"
        (onClick)="addGenerateLetterCommunication(templateRef, dialogActions)"
        [isDisabled]="!(generateLetterCommunication.valid && generateLetterCommunication.dirty)">
      </app-button>
    </div>
  </div>
</form>