@import 'variables';
@import 'toolTip.scss';

.patient-transaction-grid {
    .claims {
        max-width: 1600px;
        margin: 0 auto;
        border-radius: 5px;
        background-color: #fff;
        background-size: cover;
        font-family: $global-font-family;
        font-size: 12px;

        .top-section {
            padding: 10px 0;

            span {
                padding-right: 10px;
                font-weight: bold;
            }

            select {
                border-radius: 5px;
                padding: 5px;
                outline: 0;
            }
        }

        .nonSortHeader {
            color: $text-black !important;
            cursor: default !important;
        }

        .txhDate {
            min-width: 80px;
            word-break: normal !important;
        }

        .txhPatientName {
            min-width: 115px;
        }

        .txhProvider {
            min-width: 85px;
        }

        .txhLocation {
            min-width: 92px;
        }

        .txhType {
            min-width: 65px;
        }

        .txhDescription {
            min-width: 18.3vw;
        }

        .txhTooth {
            min-width: 72px;
        }

        .txhArea {
            min-width: 58px;
        }

        .txhAmount {
            min-width: 80px;
            flex-direction: row-reverse;
            padding-right: 24px !important;
        }

        .txhAmountIcons {
            float: right;
            margin-right: 0px;
        }

        .txhAmountCCIcon {
            margin-top: 4px;
        }

        .txhAllowedAmount {
            flex-direction: row-reverse;
            min-width: 72px;
        }

        .txhInsAdjAmount {
            min-width: 74px;
            flex-direction: row-reverse;

        }

        .txhInsAdjAmountIcon {
            margin-left: 2px;
            color: rgb(240, 171, 0);
        }

        .txhEstIns {
            min-width: 60px;
            flex-direction: row-reverse;

        }

        .txhEstInsSpn {
            width: 112%;
            word-break: break-word;
        }

        .txhBalance {
            min-width: 74px;
            flex-direction: row-reverse;
        }

        .amountPadding {
            padding-right: 38px !important;
        }

        .claim {
            grid-template-columns: .4fr .8fr .6fr .6fr .4fr 1.8fr .5fr .4fr .6fr .5fr .5fr .4fr .5fr 2%;
        }

        .claimView {
            grid-template-columns: .8fr .8fr .6fr .6fr .5fr 1.5fr .5fr .4fr .7fr .5fr .6fr .4fr .5fr 2%;
        }

        .service {
            grid-template-columns: .6fr 0.8fr .8fr .6fr .5fr 1.5fr .5fr .4fr .5fr .5fr .4fr .4fr .5fr 5%;
        }

        .unappliedMenu {
            margin-right: -10px;
            padding: 0px;
        }

        .btnUnApplied {
            margin-top: -3px;
            margin-right: 5px;
        }

        .fixedgridHeader {
            position: sticky !important;
            top: 62px;
            z-index: 2;
        }

        // .onlyAmount{
        //     padding-right:29px !important;
        // }
        .grid {
            display: grid;

            &.header {
                border: 1px solid #eeeeee;
                color: $action-blue;
                font-weight: bold;


                &.claim {
                    // position: sticky;
                    top: 62px;
                    background: white;
                    z-index: 2;

                    &.locationInactive {
                        top: 80px;
                    }
                }

                >div {
                    border-right: 1px solid #eeeeee;
                    padding: 4px;
                    align-items: center;
                    padding-left: 10px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: unset;

                    span {
                        float: right;
                        padding-top: 3px;
                        display: contents;
                    }

                    &:last-child {
                        border: 0;
                    }

                    &:not(:last-child):hover {
                        cursor: pointer;
                    }
                }

                &:nth-child(even) {
                    background: #ebebeb;
                }
            }

            .payments-display-color {
                color: #E43122;
            }

            .negative-adjustments-display-color {
                color: #FF9516;
            }

            .positive-adjustments-display-color {
                color: #168016;
            }

            .deleted-transaction-display-color {
                color: #D4D3D3;
                font-style: italic;
            }

            .open-claims-display-color {
                color: #4A4AB5;
            }

            .account-note-display-color {
                color: brand-color_font-regular;
            }

            .document-display-color {
                color: brand-color_font-dark;
            }


            &.item {
                .word-break {
                    word-break: break-all;
                }

                background-color: $polar-white;
                border: 1px solid #eeeeee;
                border-top: 0;


                .margin-right {
                    text-align: end;
                }

                >div {
                    border-right: 1px solid #eeeeee;
                    padding: 10px;

                    .currencyInput {
                        width: 89px !important;
                        margin-left: 20px !important;

                        .amountInput {
                            width: 64px !important;
                        }
                    }


                    .fui-check-box {
                        margin-right: 10px !important;
                    }

                    .help-text {
                        white-space: normal;
                        color: $alert-red;
                    }

                    .deposited {
                        color: green;
                        padding: 2px;
                        padding-top: 4px;
                    }



                    &.ellipsis {
                        padding: 0;
                    }

                    &.amountCenter {}

                    &:not(.amountCenter) {
                        white-space: normal;
                        text-overflow: ellipsis;

                        span {
                            .fas {
                                width: 15px;
                            }
                        }
                    }

                    &:not(.ellipsis) {
                        word-break: break-word;
                        white-space: normal;
                        text-overflow: ellipsis;
                        padding-left: 10px;
                        align-items: center;
                        display: inline-flex;

                        span {
                            .fas {
                                width: 15px;
                            }
                        }
                    }

                    &:last-child {
                        border: 0;
                        color: $action-blue;
                    }

                    &.click:hover,
                    &:last-child:hover {
                        cursor: pointer;
                    }
                }

                &:nth-child(even) {
                    background: $bg-grey;
                }
            }

            &.item:hover {
                background-color: rgb(235, 235, 235);
            }
        }

        .fui-check-box {
            width: 16px !important;
        }

        .expand {
            background-color: #f4f3f5;
            padding: 11px 10px 10px 10px;
            width: 117100%0px;
            fill: #f4f3f5;
            box-shadow: inset 0px 5px 7px rgba(0, 0, 0, 0.2);
        }

        .loading {
            margin-top: auto;
            margin-bottom: auto;
            text-align: center;
        }
    }

    .ellipsisMenuColumnRow {
        margin: auto;
    }

    // .dropdown-toggle{
    //     padding:0 ;
    // }
    .app-tooltip {
        z-index: 3 !important;
        font-size: $tooltip-font-size !important;
        font-weight: bold !important;
        color: $tooltip-default-font-color !important;
    }
    .assignment-icon{
        height: 16px;
        width: 16px;
        position: relative;
        top: 2px;
    }

    @media print {
        .grid {

            // &.claim {
            //     position: unset !important;
            // }
            &.header {
                >div {
                    padding: 0 4px 0 4px !important;
                    margin-left: auto !important;
                }
            }
        }

        .claims {
            .onlyAmount {
                padding-right: 4px !important;
            }
        }

        .claims .grid.item {
            break-inside: avoid;
        }

        .claims .grid.item>div:not(.ellipsis) {
            word-break: break-word;
            padding: 5px;
        }

        .divHistoryItems {
            margin: auto !important;
            margin-left: -22px !important;
        }

        .txhEstInsSpn {
            width: 100% !important;
        }

        .txhBalance {
            border: 0 !important;
            min-width: 72px !important;
        }

        .txhDescription {
            min-width: 145px !important;
        }

        .txhPatientName {
            min-width: 100px !important;
        }

        .claim {
            grid-template-columns: .6fr .8fr .6fr .6fr .4fr 1fr .5fr .4fr .7fr .5fr .5fr .4fr .6fr !important;
        }

        body {
            font-size: 9px;
            display: block;

        }

        .history-body.row {
            border-right: none;
            border-left: none;
            min-height: 100%;
            height: auto;

            &:nth-child(even) {
                background-color: white !important;
            }
        }



        .ellipsisMenuColumnRow {
            display: none !important;
            width: 0% !important;
        }

        .row {
            height: auto !important;
            page-break-inside: avoid;
        }

        .fa-sort,
        .fa-sort-up,
        .fa-sort-down {
            display: none !important;
        }

        .printingTxnHistory {
            text-align: center;
            vertical-align: middle;

            .printingTxnHistory__title {
                font-size: 2em !important;
            }

            .printingTxnHistory__headerInfo {
                font-size: 1em !important;
            }

            .printingTxnHistory__footer {
                font-size: 75% !important;
                page-break-after: avoid;
            }
        }

        .printingTxnHistory__topHeaderLeft {
            box-sizing: border-box;
            text-align: left !important;
            font-size: 8px;
            font-weight: normal;
        }

        .printingTxnHistory__topHeaderRight {
            box-sizing: border-box;
            text-align: right !important;
            font-size: 8px;
            font-weight: normal;
        }
    }
}

.font-red {
    color: $alert-red;
}