.payer-reports {
    &__container {
        .containerStandard;
        max-width: 100%;
        width: 100%;
        padding: 0 20px 0 20px;
    }

    .gridItem {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .fa-chevron-right:hover,
    .fa-chevron-down:hover {
        cursor: pointer;
    }

    .remove-padding {
        padding: 0;
    }

    .keepTop {
        position: fixed;
        background-color: white;
        width: 96%;
        z-index: 1001;
        max-width: 1600px;
        margin-left: -16px;
        padding-left: 16px;
        padding-right: 16px;
    }
}
