.attachments {
    .preview-row {
        height: 250px;
        overflow-y: scroll;
    }

    &__disabled {
        opacity: 0.50;
        cursor: not-allowed;
    }

    .attachment-row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .folder-tab {
        margin-left: 16px;
    }

    .inner-folder-tab {
        margin-left: 32px;
    }

    .file-inner-folder-tab {
        margin-left: 48px;
    }

    .dirList {
        .panel {
            box-shadow: none;
        }
    }

    .dirList .panel-group .panel-default .panel-heading {
        margin: 0;
    }

    .width100 {
        width: 100%;
    }

    .font-awesome-label {
        line-height: 0px;
    }

    .folder-attachment {
        font-size: 45px;
        color: @btn-default-color;
        padding-top: 6px;
        padding-left: 6px;
    }

    .icon-label {
        font-size: 12px;
        padding: 3px;
    }

    .icon-image {
        height: 50%;
        margin-top: 8px;
    }

    .perio-icon-image {
        height: 36px;
        margin-top: 8px;
        margin-right: 5px;
    }

    .icon-image-container {
        height: 50px;
        width: 50px;
        display: contents;
    }

    .right-align {
        text-align: right;
    }

    .btn-row {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .attachment-button {
        width: 49%;
    }

    .attachment-thumbnail > div {
        border: 1px solid gray;
        height: 65px;
        width: 65px;
        text-align: center;
        margin-bottom: 4px;
    }

    .attachment-tooltip {
        background-color: #000000;
        text-align: center;
        width: auto;
        height: auto;
    }

    .attachment-thumbnail > .current {
        border: 2px solid @btn-default-color;
    }

    .attachment-thumbnail > div:hover {
        cursor: pointer;
    }

    .no-document-centered {
        padding: 30% 25%;
        font-family: @global-font-family;
    }

    .no-preview-centered {
        padding: 30% 25%;
        font-family: @global-font-family;
    }

    .loading-centered {
        padding: 30% 25%;
    }

    iframe {
        height: 475px;
        width: 100%;
    }

    img {
        height: auto;
        max-width: 100%;
        max-height: 95%;
    }

    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .image-div {
        height: 475px;
    }

    .perio-div {
        height: 475px;
        overflow: scroll;
    }

    .perio-include {
        width: 1300px;
        background-color: white;

        .perioChartPrint {
            width: 100%;

            &__verticalLabel {
                margin-left: 0px;
            }
        }
    }

    .thumbnail-delete {
        padding-top: 1px;
        position: absolute;
        margin-left: 36px;
    }

    .backup-text {
        height: 100%;
        word-wrap: break-word;
        padding: 20% 2%;
    }

    .read-only-close-div {
        text-align: right;
        padding-right: 40px;
    }

    .right-padding {
        padding-right: 32px;
    }

    .top-padding {
        padding-top: 6px;
    }

    .ref-number {
        padding-top:7px;
    }

    #claimAttachment {
        max-height: 400px;
    }

    #narrative {
        height: 150px;
        font-family: @global-font-family;
    }

    .narrative-div {
        padding-bottom: 8px;
    }

    .dirList .panel-group {
        margin-left: 10px;
    }

    .foldout {
        font-family: @global-font-family;
        color: #2DABCB;
    }

    .headerRow {
        font-family: @global-font-family;
        font-weight: 500;
    }

    .fileAttachmentDescription {
        font-family: @global-font-family;
    }

    .attachmentDescription {
        font-family: @global-font-family;
        top: -1px;
    }

    .files-row {
        margin-right: 24px;
        margin-left: 0px;
    }

    .checkmark {
        margin-left: 2px;
    }
}
