.claimnotes {
    .icon-click {
        font-weight: normal
    }

    .modal-header h4 {
        margin-bottom: 0px !important;
    }

    .accordion hr {
        margin: 0px !important;
    }

    .star {
        margin-left: 20px;
    }

    .accordion .card {
        border: 1px solid #adadad;
        border-radius: 5px;
        margin: 10px;
    }

    .fontSize {
        font-weight: 10px !important;
    }

    .accordion .card-header, .accordion {
        padding: 10px;
    }


    .accordion .card h5 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    &__fullBorderBottom {
        border-bottom: 2px solid #e5e5e5;
        padding-bottom: 20px !important;
        margin-bottom: 20px;
    }

    &__panel_box {
        padding: 5px 5px 10px 5px;
        border: 1px solid #ccc;
        margin-top: 10px;
    }

    &__serviceBottom {
        padding-bottom: 0px !important;
        font-size: 13px !important;
    }

    &__borderLine {
        border: 1px solid #ccc;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    &__tableBottom {
        margin-bottom: 0px !important;
        // padding-right: 10px !important;
        padding-top: 10px !important;
    }

    &__padding {
        padding-left: 1px !important;
        padding-right: 1px !important;
    }

    &__header {
        padding-left: 15px !important;
    }

    &__panel_box {
        padding: 5px 5px 10px 5px;
        border: 1px solid #ccc;
        margin-top: 10px;
    }

    &__box {
        padding: 10px 0 0 15px;

        table {
            width: 100%;
        }

        table thead {
            background-color: #ffffff !important;
        }

        table .k-command-cell {
            width: 60px;
        }

        table tr th {
            font-weight: bold !important;
            border: 0px !important;
        }

        table tr td {
            border: 0px;
            vertical-align: top;
            padding-top: 4px;
            padding-bottom: 4px;
        }

        table tbody tr:nth-child(odd) {
            background-color: #ffffff !important;
        }

        table tbody tr:nth-child(even) {
            background-color: #fafafa !important;
        }

        .k-header {
            background-color: #ffffff !important;
        }
    }

    .gridActionButton {
        min-width: 25px !important;
    }

    .accordion {
        cursor: pointer;
    }

    .center {
        text-align: center;
    }

    .collapse {
        text-align: left;
        cursor: auto;
    }

    .padded{
        padding: 2px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .label {
        margin-left: 5px !important;
    }

    .card-header {
        text-align: left;
        cursor: auto;
    }

    .noteHistory {
        padding-left: 2px !important;
    }

    .disabled {
        cursor: not-allowed;
    }

    .patient-info {
        display: inline-block;
        text-align: left;
        padding-bottom: 4.5px;
        white-space: nowrap;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        font-weight: 200;
        overflow: hidden;
        font-weight: lighter;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    .stripEven {
        background-color: #fafafa;
    }

    .stripOdd {
        background-color: #fff;
    }

    .alternative {
        margin-left: -2px !important;
        margin-right: -2px !important;
        word-wrap: break-word;
    }

    #tableServiceTransaction th {
        vertical-align: top;
    }
}
