.patientNoteTemplate {    
    &__body {        
        padding-bottom: @brand-padding_md;    
    }
    &__header {
        font-size: 20px;
        font-weight: 400;
        padding-top:15px;
        padding-left:20px;
        word-wrap: break-word;
    }
    &__row {
        padding: 5px 20px 0 5px;
    }
    &__actions {
        .containerStandard; 
        .btn {
            float: right;
            margin-right: @brand-margin_sm;
            margin-bottom: @brand-margin_sm;
        }        
    } 
    &__formSection{
        
    }
    &__templateBody{
        max-height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: @brand-padding_lg; 
        background-color:@white;
    }
}


