.addeditnote{
    .icon-click{
        font-weight: normal
    }

    .modal-header h4{
        margin-bottom: 0px !important;
    }

    &__fullBorderBottom{
        border-bottom: 2px solid #e5e5e5;
        padding-bottom: 20px !important;
        margin-bottom: 20px;
    }
}