@import 'variables';

::ng-deep .dashboardKendo .k-dropdown > .k-dropdown-wrap {
    width: 200px;
    height: 25px;
    padding: 0px 8px;
    border: 1px solid $border-grey;
    border-radius: 5px;
    font-family: $global-font-family;
    font-size: 12px;
    color: #555555;
    text-decoration: none solid rgb(85, 85, 85);
}

.dashboardKendo {
    width: 200px;
}
::ng-deep .dashboardKendo .k-dropdown > .k-dropdown-wrap > .k-input {
    line-height: 24px;
    padding: 0px;
    font-family: $global-font-family;
    font-size: 12px;
    color: #555555;
    text-decoration: none solid rgb(85, 85, 85);
}

ul{list-style: none;}
.main-temp{
    display:flex;
    -o-display:flex;
    -ms-display:flex;
    -webkit-display:flex;
    -moz-display:flex;}
.main-crt{display:flex;-o-display:flex;-ms-display:flex;-webkit-display:flex;-moz-display:flex;margin-left: auto;}
.main-rgt{margin-left: auto;padding:20px;}
h1{margin:0;}
.main-crt li{margin:0 5px;}
.otherDashboard {
    width:200px;
    text-decoration: none solid rgb(45, 171, 203);
    height:25px;
    line-height:25px;
    display:inline-block;
    text-align:center;
    border: 1px solid $action-blue;
    border-radius: 5px;
    background-color: $bg-grey;
    background-size: cover;
    font-family: $global-font-family;
    font-size: 12px;
    color: $action-blue;
}
.main-crt li button.lay_pg{
    width:100px;
    text-decoration: none solid rgb(255, 255, 255);
    height:25px;
    line-height:0px;
    display:inline-block;
    text-align:center;
    border: 1px solid $action-blue;
    border-radius: 5px;
    background-color: $action-blue;
    background-size: cover;
    font-family: $global-font-family;
    font-size: 12px;
    color: $polar-white;
}
.main-lt {
    width: 702px;;
}
p{margin:0;}
.greendot {
    height: 10px;
    width: 10px;
    background-color: #80c217;
    border-radius: 50%;
    display: inline-block;
}

.column-chart{
    min-width: 284px;
    min-height: 320px;
    border-radius: 5px;
    background-color: $polar-white;
    background-size: cover;
    box-shadow: $global-drop-shadow;
    padding: 0 15px 15px;
    }

.k-widget{
    display: block;
    box-shadow: none;
}

.dash-board-cntr-area{
    padding: 0 20px;
}
.dashboard-header-area{
    margin-bottom: 20px;
    font-family: $global-font-family;
    background-color: $polar-white;
    background-size: cover;
    border: 1px solid $border-light-grey;
    height: 70px;
}

.dashboard-header-area:after{
    content: "";
    clear: both;
    display: table;
}


.dashboard-header-area{
    padding: 0 20px;
}

.dashboard-header-area{
    border-bottom: 1px solid rgb(221, 221, 221);
}

.heading-area h3,
.dashboard-header-area h3 {
    color: $text-black;
    line-height: 16px;
    text-transform: none;
    font-size: 16px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0;
    &:after{
        clear: both;
        content: "";
        display: table;
    }
}

.dashboard-header-area h3{
    border-bottom: 0;
    font-size: 18px;
    padding-bottom: 4px;
}

.dashboard-header-area h5{
    font-weight: bold;
    font-family: $global-font-family;
    font-size: 12px;
    color: $text-black;
    text-decoration: none solid rgb(51, 51, 51);
    line-height: 18px;
}

.dashboard-welcome{
    font-family: $global-font-family;
    font-size: 12px;
    color: $text-black;
    text-decoration: none solid rgb(51, 51, 51);
    line-height: 18px;
    }

.dashboard-header-area h5 .light-border{
    color: #dfdfdf;
}

.dashboard-header-area h5 .light-color{
    font-weight: lighter;
}

.icon-close{
    float: right;
    color: $action-blue;
    font-weight: normal;
    font-size: 20px;
    width: 22px;
    height: 22px;
}

.dashboard-heading{
    font-family: $global-font-family;
    font-weight: bold;
    font-size: 18px;
    color: $text-black;
    line-height: 18px;
}

.header-area{
    width: 1240px;
    height: 70px;
    border: 1px solid $border-light-grey;
    background-color: $polar-white;
    background-size: cover;
    }

.left-header-area{
    float: left;
    width: 702px;
}

.right-header-area{
    float: left;
}

.widget-title{
    font-family: $global-font-family;
    font-weight: bold;
    color: $text-black;
    text-decoration: none solid rgb(51, 51, 51);
    }

/* View Original dashboard button*/
//begins here
.original-dashboard-btn{
    position: absolute;
    margin-top:20px;
    display: inline-block;
    width: 200px;
    border: 1px solid $action-blue;
    border-radius: 5px;
    background-color: $bg-grey;
    font-family: $global-font-family;
    font-size: 12px;
    color: $action-blue;
    text-decoration: none !important;
    text-align: center;
    line-height: 23px;
}

.original-dashboard-btn:hover{
    color: rgba(39, 191,230,1);
}
//ends here

/*Diasplay Clams Total value style*/

::ng-deep .widgetKendo .k-dropdown > .k-dropdown-wrap {
    width: 200px;
    height: 25px;
    padding: 0px 8px 0 2px;
    border: 1px solid $border-grey;
    border-radius: 5px;
    font-family: $global-font-family;
    font-size: 12px;
    color: $text-black;
    text-decoration: none solid $text-black;
    box-sizing: content-box;
}

::ng-deep .widgetKendo .k-dropdown > .k-dropdown-wrap > .k-input {
    // height: auto;
    padding: 2px 0 0 2px;
    // width: auto;
    line-height: 22px;
    font-family: $global-font-family;
    font-size: 12px;
    color: $text-black;
    text-decoration: none solid rgb(51, 51, 51);
}
::ng-deep .widgetKendo .k-dropdown > .k-dropdown-wrap .k-select {
   padding: 2px 0 0 2px;
    line-height: 22px;
    font-family: $global-font-family;
    font-size: 12px;
    color: $text-black;
    -webkit-text-decoration: none solid $text-black;
    text-decoration: none solid $text-black;
}


hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid $border-grey;
}
::ng-deep.k-chart-surface {
    margin-top: -15px;
}
::ng-deep .k-popup .k-list .k-item, .k-listbox .k-item {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    padding: 0 4px;
    font-family: $global-font-family;
    font-size: 12px;
}

::ng-deep .k-list-optionlabel.k-state-selected.k-state-focused {
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    font-family: $global-font-family;
}

.widget-ddl-font li {
    font-family: $global-font-family;
    font-size: 12px;
  }

  .widget-block  {
    width: 284px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
.widget-referral-block {
    width: 500px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.dashboard-chart-area {
    display: block;
}
.k-nodata > div {
    padding: 0px !important;
}

.column-chart-30 {
    min-width: 284px;
    min-height: 320px;
    border-radius: 5px;
    background-color: $polar-white;
    background-size: cover;
    box-shadow: $global-drop-shadow;
    padding: 0 15px 15px;
}