.btn-link {
    margin-bottom: -10px;
    margin-top: -20px;
}

#lbinpInactivationRemoveReferences {
    word-break: break-word !important;
}

.srvcCodeCrud {
  ::ng-deep .k-clear-value {
      opacity: 1 !important;
    }

   ::ng-deep .k-icon.k-clear-value.k-i-close {
      display: inline;
   }

   #lblSetsToothAsMissing {
        margin-left: 5%;    
        white-space: nowrap;
   }
}

