.patientAppt {
    &__orange-warning {
        color: orange;
        margin-left: 5px;
    }
    &__alert {
    }

    &__content {
        max-height: 245px;
        overflow-y: auto;
        overflow-x: hidden;
    }
  
    &__table {
        .table;
        width: 100%;

        .accountView {
            vertical-align: middle;
            width: 5%;
        }

        .date {
            vertical-align: middle;
            width: 30%;
        }

        .type {
            vertical-align: middle;
            width: 20%;
        }

        .provider {
            vertical-align: middle;
            width: 15%;
        }

        .room {
            vertical-align: middle;
            width: 20%;
        }
        .state {
            vertical-align: middle;
        }
        .status {
            //text-align: right;
            vertical-align: middle;
            width: 15%;

            .k-dropdown {
                .k-dropdown-wrap {
                    margin-right: 12px;
                    border: none;
                    padding: 0;

                    .k-input {
                        .appointment-status-icon,
                        .appointment-status-description {
                            font-weight: 500;
                            color: @brand-color_link;
                        }

                        &:hover {
                            .appointment-status-icon,
                            .appointment-status-description {
                                color: @brand-color_link;
                            }
                        }
                    }

                    .k-select {
                        display: none;
                    }
                }
            }
        }
        .startTime{
            color:#007e9e;
        }
    }

    &__txplans {
        .table;
        width: 100%;

        .txPlanName {
            width: 10%;
        }

        .date {
        }

        .txStatus {
            width: 5%;
        }

        .statusIcon {
            width: 100%;
            height: 25%;
        }

        .Appts {
            float: right;
        }

        .servCount {
        }

        .bookmark {

            &.active {
                color: #9932CC;
            }

            &.inactive {
                color: #000000;
            }
        }
    }

    &__modal {
        .date {
            vertical-align: middle;
            width: 15%;
        }
    }

    @media(min-width: 768px) {        
        .k-widget.k-dropdown.k-header {
            width: 100%;
        }
    }
}

@media(min-width: 768px) {
        .k-list-container.k-popup.k-group.k-reset[id^=inpAppointment][id$=Status] {
            width: 12.4em !important;
        }
    }

.trClicked {
    /*background-color: #04b3de !important;
    color: white;*/
    border: 2px solid #04b3de;
}

.trInitiallyClicked {
    border: 2px solid #04b3de;
}

.hoverAppt:hover {
    border: 2px solid #04b3de;
}