.subSection {
    .clearfix;
    margin-bottom: 20px;

    &__header {

    }
    &__title {
        margin-bottom: 10px;
        border-bottom: 1px solid @brand-color_font-regular;
        h5 {
            margin-bottom: 2px;
        }
    }
    &__content {

    }
}
