.locCrud {
    #inpMinimumFinanceCharge {
        padding-left: 1em;
    }

    .cls_MinimumFinChg {
        position: relative;
        background-color: #dedede;
        display: inline;
    }

    .cls_MinimumFinChg:before {
        content: "$";
        position: absolute;
        top: 8px;
        left: 5px;
        z-index: 1;
        font-size: 16px;
    }

    .locCrud__state-select-list {
        width: 120%;
    }

    ::ng-deep .k-dropdown {
        .k-state-disabled {
            background-color: #cccccc !important;
        }
    }

    .lbNewLine {
        white-space: pre-line;
    }
    
   .password-btn
    {
            padding: 0px;
            background-color: transparent ;
    }
    .disable-btn{
        padding: 0px;
        background-color: #cccccc ;
    }
    .font-icon
    {
            font-size: 20px !important;
    }
}

.card-reader-section {
    ::ng-deep.fas{
        color: #2fa6df !important;
    }
    ::ng-deep.k-dialog {
        bottom: 30vh;
    }
    .card-reader-container {
        ::ng-deep .card-container {
            background-color: #ffffff;
             box-shadow: none !important;
             padding: 0px !important;
        }
        ::ng-deep .kendoNewStyle.k-grid .k-grid-content {
            height: auto !important;
            max-height: 200px !important;
            margin-bottom: 0px !important;
        }
        ::ng-deep.kendoNewStyle.k-grid .k-grid-header .k-grid-header-wrap .k-header {
            border-top:none; 
            border-right: none !important; 
            border-bottom: 2px solid #eeeeee !important;
            border-left: 2px solid #eeeeee !important;
        }
        ::ng-deep.kendoNewStyle.k-grid .k-grid-aria-root{
            border-top: 2px solid #eeeeee !important;
            border-right: 2px solid #eeeeee !important;
            border-bottom: 1px solid #eeeeee !important;
        }
        ::ng-deep.kendoNewStyle.k-grid .k-grid-header{
         padding: 0px 14.5px 0px 0px !important;
        }

        .panel-header {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .grid-header {
            font-family: Open Sans;
            font-size: 16px;
            color: #333333;
            text-decoration: none solid rgb(51, 51, 51);
            line-height: 18px;
            font-weight: bold;
        }

        .card-reader-hr {
            border-top: 1px solid #333333 !important;
            opacity: .5 !important;
            margin: 0 !important;
            width: 100%;
            padding-bottom: 10px;
        }
    }

}
