.encounterMenu{

.open>.dropdown-menu{
    z-index:999999;
}

}

.disableAnchor {
    opacity: 0.65;
}

.disableAnchor:hover {
    cursor: not-allowed;
    opacity: 0.65;
    color: grey;
}

.disableAnchor:focus, .disableAnchor:active {
    border: none !important;
    outline: none !important;
}
