<div class="insurance_credentials">
    <div class="row">
        <div class="pull-right">
            <label id="lblSetsIntegration" 
            class="control-label insurance_credential_label" for="inpSetsIntegration">
                {{ toggleInsuranceLabel | translate }}
            </label>
        </div>
        <div class="insurance_credential_toggle">
            <div class="onoffswitch" disabled>
                <input 
                    type="checkbox" 
                    name="onoffswitch" 
                    class="onoffswitch-checkbox" 
                    id="setsIntegration"
                    data-qa="insurance-credentials-form-toggle-credentials"
                    checkRoleAccess="soar-biz-bizloc-edit"                
                    [disabled]="disableForm" 
                    (click)="toggleInsuranceCredentials($event)"
                    [(ngModel)]="integrationIsActive">
                <label class="onoffswitch-label" for="setsIntegration"></label>                
            </div>            
        </div>        
    </div>
   <form [formGroup]="frmInsuranceCredentials" name="" (ngSubmit)="saveInsuranceCredentials()" 
    data-qa="insurance-credentials-form">
        <div *ngIf="frmInsuranceCredentials" >
            <div class="form-row">               
                <div class="form-group" [ngClass]="{error: frmInsuranceCredentials?.get('UserName')?.touched && frmInsuranceCredentials?.get('UserName')?.required}">
                    <label class="control-label">{{'UserName' | translate }}<span>*</span></label>
                    <input 
                        id="inpUserName"
                        data-qa="insurance-credentials-form-input-username"
                        formControlName="UserName" 
                        class="form-control cred_input"
                        [readonly]="!enableControls || this.showUpdateButton"
                        autocomplete="off"
                        type="text" placeholder="{{'UserName' | translate }}" />
                        <label id="lblStateInvalid" class="help-text"
                            *ngIf="frmInsuranceCredentials?.get('UserName')?.touched && frmInsuranceCredentials?.get('UserName')?.required">
                            {{ 'This entry is required.' | translate }}
                        </label>
                </div>
            </div>
            <div class="form-row">                
                <div class="form-group" [ngClass]="{error: frmInsuranceCredentials?.get('Password')?.touched && frmInsuranceCredentials?.get('Password')?.required}">
                    <label class="control-label">{{'Password' | translate }}<span>*</span></label>
                    <input type="password" id="Password"
                        data-qa="insurance-credentials-form-input-password"
                        formControlName="Password" 
                        class="form-control cred_input" 
                        autocomplete="off"
                        [readonly]="!enableControls || this.showUpdateButton"
                        placeholder="{{'Password' | translate }}" />
                    <label id="lblStateInvalid" class="help-text"
                        *ngIf="frmInsuranceCredentials?.get('Password')?.touched && frmInsuranceCredentials?.get('Password')?.required">
                        {{ 'This entry is required.' | translate }}
                    </label>
                </div>                
            </div>
            <div class="form-row" *ngIf="dateLastModifiedString"> 
                <div class="form-group last-modified-date"  data-qa="insurance-credentials-form-datelastmodified">
                    {{dateLastModifiedString}}
                </div> 
            </div>

            <div class="insurance_credential_footer">
                <app-button *ngIf="!showUpdateButton"
                    checkRoleAccess="soar-biz-bizloc-edit"
                    data-qa="credential-form-cancel"   
                    id="clearCancel" 
                    class="btn-default" 
                    variation="secondary" 
                    (onClick)="cancel()"
                    buttonLabel="{{'Cancel' | translate }}" 
                    [isDisabled]="disableForm" 
                    >
                </app-button>
                <app-button *ngIf="!showUpdateButton" 
                    checkRoleAccess="soar-biz-bizloc-edit"
                    data-qa="credential-form-submit" 
                    id="applyButton" 
                    class="btn-default" 
                    variation="primary" 
                    buttonLabel="{{'Save' | translate }}"
                    [isDisabled]="frmInsuranceCredentials?.invalid || !enableControls || disableForm" type="submit">
                </app-button>
                <app-button *ngIf="showUpdateButton" 
                    checkRoleAccess="soar-biz-bizloc-edit"
                    data-qa="credential-form-update"  
                    id="updateButton" 
                    class="btn-default" 
                    variation="primary" 
                    buttonLabel="{{'Update' | translate }}" 
                    (onClick)="setControlsEnabled()"
                    [isDisabled]="disableForm">
                </app-button>
            </div>
        </div>
    </form>
</div>