.contactDetails {

        &__formGrpRow { 
        .containerStandard;
        width:70%;
    }

        .address, .addressTwo {
        display:inline-block;
        .make-md-column(12);
    }

    .city {
        display:inline-block;
        .make-md-column(6);
    }

    .state, .postal {
        display:inline-block;
        float:right;
        .make-md-column(3);

    }

        &__actions {
        float:right;
    }
}
