.new-communication-body {
    background-color:white;
    width: 100%;
}

.new-communication-note {
    width: 98%;
    margin-top: 5px;
}

.new-communication-note-div {
    padding-top: 30px;
}

.new-communication-column {
    padding-right: 5px;
    width: 180px;
    float: left;
}

.follow-up-date-selector-container {
    width: 150px;
    float: left;
    margin-right: 11px;
}

.pat-communication-header {
    background-color: gray;
    padding: 10px 10px 10px 15px;
    color: white;
    font-weight: normal;
    width: 550px;
}

.btn-save-newCommunication {
    float:right;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 15px;
}

.commRadio {
    padding-top:23px
}

