.pagen-navigation {
    margin-left:10px;
    margin-right:10px;
    margin-top:15px;
}

.pagen-prev {
    margin-right: 5px;
    cursor: pointer;
}

.pagen-next {
    margin-left: 5px;
    cursor: pointer;
}
.pagen {
    margin-left: 3px;
    margin-right: 3px;
}

.pagen-selectable {
    cursor:pointer;
}

.pagen-current {
    font-weight:bold;
}