@import 'variables';
.page_header {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-family: $font-family !important;
    color: $page-header-color;
    line-height: 18px;
    padding: 15px 0px 0px 0px;
  }
  .page_header_date {
    color: $header-date-color;
    font-style: normal;
    font-family: $font-family !important;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    padding: 15px 0px 0px 0px;
  }
