.apptPlnSvc {

    .fa-check-circle {
        color: @current-color;
        padding-top: @brand-padding_xs;
        padding-right: @brand-padding_sm;
    }

    // Table Sorting
    & .sortable {
        &:after {
            .fa;
            content: @fa-var-sort-up;
            display: inline-block;
            transform: translateY(-3px);
            opacity: 0.5;
            position: absolute;
            margin-left: 5px;
        }

        &.active:after {
            opacity: 1;
        }

        &.asc:after {
            content: @fa-var-sort-down;
            transform: translateY(3px);
            position: absolute;
            margin-left: 5px;
        }
    }


    #colSfc {
        padding-left: 20px;
    }
}
