.slSrFilter {  

    &__srvTypCl {
        .form-col-3;
        padding-left: 0px !important;
    }

    &__formGroup {
        .form-group;
    }

    &__svrKey {
        .form-inline;
        .form-col-3;
        width:26.5% !important;
    }

    &__frm {
        .form-group;
        .form-col-12;
        .has-feedback;
    }

    &__frmInput {
        .form-input;        
    }

    &__frmSpan {
        .glyphicon;
        .glyphicon-search;
        .form-control-feedback;
    }

    &__rowPad{
        padding-bottom:30px;
    }
}
