.patEncChg {
    span {
        vertical-align: bottom;
    }

    .fa-edit {
        color: #04b3de;
        cursor: pointer;
    }

    .header {
        span.pull-left{
            margin-top: 10px;
        }
    }

    .body {
        width: 250px;
    }

    .footer {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .input-icon {
        position: relative;
    }

    .input-icon > i {
        position: absolute;
        display: block;
        transform: translate(0, -50%);
        top: 50%;
        pointer-events: none;
        width: 25px;
        text-align: center;
        font-style: normal;
    }

    .input-icon > input {
        padding-left: 25px;
        padding-right: 0;
        width: 100%;
    }

    .input-icon-right > i {
        right: 0;
    }

    .input-icon-right > input {
        padding-left: 0;
        padding-right: 25px;
        text-align: right;
        width: 100%;
    }

    hr.dotted {
        border: 1px dotted #000;
        border-style: none none dotted;
        color: #fff;
        background-color: transparent;
        margin-top: 10px;
        margin-bottom: 10px;
        opacity: .3;
    }

    #btn-update {
        margin-bottom: 10px;
    }
    #btn-close{
        padding: 0px;
    }
    .est-ins-exp-hdr{
        padding:0px;
        background-color: lightgray;
        >label{
            margin-top: 5px;
        }
        >i{
            padding-right: 5px;
            padding-left: 5px;
        }
        .expand{
            padding-right: 5px;
        }
    }
    .est-ins-exp-bdy{
        padding-left: 0px;
        padding-right: 0px;
        .hdr{
            background-color: @brand-color_light-gray;
        }   
    }

    .no-line {
        border: none;
    }
    .extraPadding{
        padding-top: 25px;
    }
}
