#viewClaimsContainer .popover {
    max-width: inherit;
    height: inherit;
}

 .view-claims-popup-body {
     color: #6A7575;
     font-weight: normal;
     cursor: default;
 }
 
 .bodyrow{
    margin-bottom: 10px;
}
 .view-claims-popup-header {
     width: 600px;
     color: #6A7575;
     margin-bottom: 20px;
     cursor: default;
 }

 .view-claims-icon-button {
     padding: 0;

      &.disabed {
          pointer-events: none;
          cursor: not-allowed;
      }
 }

 .center{
    text-align:center
 }
 span.disabled {
    cursor: not-allowed;
    opacity: 0.65;
}
span.disabled:hover {
    cursor: not-allowed;
    opacity: 0.65;
    color: grey !important;;
}