#errNpiInvalid {
   color: #ff0500;
}

#errNoNpiNumber {
    color: #ff0500;
}

#errNoTaxId {
    display: block;
}

#errinpFederalTaxIdInvalid, #lblPrimaryTaxonomyDuplicateError, #lblSecondaryTaxonomyDuplicateError {
   color: #ff0500;
}