.patient-overview {
    width: 98%;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 16px;

    .patient_overview_primary {
        float: left;
        width: 66.66666667%;
        position: relative;
        min-height: 1px;
        padding-left: 16px;
    }

    .patient_overview_secondary {
        float: left;
        width: 33.33333333%;
        position: relative;
        min-height: 1px;
        padding-left: 16px;
        padding-right: 16px
    }

    .patient-odontogram {
        position: relative;
        min-height: 100px;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}