.closeClaimCancelModal {

    .closeClaimCancelModal__message {
        margin-top: 10px;
        text-align: right;
    }

    .closeClaimCancelModal__benefitPlanSelect {
        padding-left: 0;
    }
}
