.email-reminder-ok{
    opacity: 1;
    cursor: default; 
    margin-left: 25px; 
    margin-top: -8px;
}

.patient-contact-info-space{
    height:42px;
}

.patient-contact-info-badge{
    max-width: 15%;
    padding-left: 18px;
    text-align: center;
}

.patient-contact-info-text{
    padding-left: 18px;
}

.patient-contact-info-button{
    padding-left: 8px;
    text-align: center;
}

.patient-contact-info-section{
    max-width: 77%
}

.patient-contact-info-personal-picture{
    max-width: 22%;
}

.phone-reminder-btn-div{
    display: inline-flex; 
    margin-left: -30px;
}

.phone-reminder-btn-text-ok{
    opacity: 1; 
    cursor: default; 
    border-bottom-right-radius: 0px; 
    border-top-right-radius: 0px; 
    border-right-width: 0px; 
    margin-top: -8px; 
    color: #6B7073; 
    border-color: #6B7073;
}

.phone-reminder-btn-reminder-ok{
    opacity: 1; 
    cursor: default; 
    border-bottom-left-radius: 0px; 
    border-top-left-radius: 0px; 
    border-left-width: 0px; 
    margin-top: -8px;
}

.notes-top-margin{
    margin-top:20px;
}

.truncate-address{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.address-max-width{
    max-width: 95%;
}