.chooseStatements {
    .standardHeader;

    &__body {
        .containerStandard;
    }

    &__form {
        .clearfix;
        background-color: @brand-color_white;
    }

    &__fieldset {
        max-width: @brand-form_fieldset-sm;
        padding: @brand-padding_md;

        checkbox {
            display: block;
        }
    }
}
