// #region Patient
.unappliedMenu {
    padding:5px;
    &__list {
        min-width: 300px;
        padding: 5px;
        background-color: @brand-color_light-gray !important;
    }
    &__list-item {
        color: @gray-dark;
    }
    &__ctrl {
        font-size: 1em;
        display: block;
        color: @brand-color_link !important;
        background-color: transparent !important;
        padding-left: 0 !important;
    }
}
