<div class="date-range-selector">
    <div class="datepicker">
        <p class="input-group no-margin-bottom date-selector-input-group">
            <input class="date-selector-input" type="text" name="dateRangePicker" ng-model="dateRange" readonly />
            <span class="input-group-btn">
                <button type="button" class="date-selector-btn" ng-click="toggle($event)" ng-blur="onBlur($event)">
                    <i class="far fa-calendar-alt"></i>
                </button>
            </span>
        </p>
    </div>
</div>
