.date-range-selector-popup {
    position: absolute;
    z-index: 999999;
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #6A7575;
    padding: 8px;
    box-shadow: -4px 0px 12px rgba(0, 0, 0, 0.5);

    &__content {
        outline: none;
    }
}
