.docProps {
    max-width:400px;

    .form-row {
        margin-bottom: @brand-margin_sm;
    }
    
    .k-dropdown > .k-dropdown-wrap > .k-input {
        width: 90%;
    }

    .document-edit-patient-search-container .typeahead {
        height: 38px;
    }
    .document-edit-patient-search-container input {
        height: auto;
        width: 90%;
    }
    .document-edit-patient-search-container .typeahead-control {
        right: 0px !important;
    }
    // Hide the 'open in a new tab link'
    .document-edit-patient-search-container .flex-shrink-1 .soar-link {
        display: none;
    }
}
.m-15{
    margin: 15px;
    }
.doc-modal-fotter{
padding-right: 10px;
margin-bottom: 15px;
}
.doc-modal-header{
    font-weight:600 !important
}
.modal-doc{
    width: 425px  !important;
}