@import "variables";

//communication center
$communication-card-background-color: $polar-white;
$communication-card-primary-color: $action-blue;
$communication-card-label-color: $label-black;
$communication-card-font-family: $global-font-family;
$communication-card-font-size: 12px;
$communication-card-box-background: $bg-grey;
$communication-center-heading-font-size: 16px;
$communication-center-heading-font-weight: bold;
$communication-center-heading-color: $text-black;
$communication-center-subheading-color: $label-black;
$communication-center-subheading-font-size: 14px;
$communication-center-subheading-font-weight: bold;
$communication-center-preview-border-color: $border-grey;
$communication-center-no-record-color: $placeholder-grey;
$communication-center-semi-bold-font-size: 600;
$communication-center-input-color: #555555;
$communication-filter-font-size: 12px;
$communication-center-label-font-weight: bold;
$communication-todo-collapsiabletitle-font-size: 16px;
$communication-todo-notes-outline-color: #a9a9a9;
$communication-todo-collapsiable-badge-color: $alert-red;
$communication-center-error-color: $alert-red;
$communication-center-border-color: #eeeeee;
$hover-menu-item-background-color: $action-blue;
$communication-preview-box: grey;