<div class="communication_center_container">
    <div class="communication_center_titlebar_row">
        <communication-center-titlebar></communication-center-titlebar>
    </div>
    <div class="communication_center_filterbar_row">
        <communication-center-filterbar></communication-center-filterbar>
    </div>
    <div class="communication_center_main_area_container">
        <div class="communication_center_timeline">
            <div>
                <communication-center-timeline></communication-center-timeline>
            </div>
        </div>
        <div class="communication_center_previewpane">
            <communication-center-previewpane></communication-center-previewpane>
        </div>
    </div>
</div>