.referralSrc{

    ::ng-deep .k-toolbar .k-button-icontext {
        padding: 10px !important;
        color: white !important;
        border-color: #2dabcb !important;
        background-color: #2dabcb !important;
    }

    ::ng-deep .k-grid .k-textbox {
        height: 30px !important;
        border: 1px solid #A9A9A9 !important;
        width: 96% !important;
    }

    ::ng-deep .k-grid-content {
        max-height: 360px;
    }

    .referralSrc__header {
        width: 96%;
        max-width: 1600px;
        margin: 0 auto;
    }

    .referralSrc__title>h1 {
        margin: 8px 0;
        padding: 0;
        font-size: 26px;
        line-height: 1;
    }

    .rowFull.white {
        background-color: #FFF;
    }
    .rowFull {
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .referralSrc__list {
        padding-top: 16px;
    }

    .referralSrc__list,
    .srvcTypes__header {
        width: 96%;
        margin: 0 auto;
    }

    
}