<div class="family-registration-landing-container">
  <div class="family-registration-landing-header">
    <registration-header [patientProfile]="this.personInfo.Profile"></registration-header>
  </div>
  <div class="family-registration-landing-content">
    <div class="family-registration-landing-content-toc">
      <table-of-content></table-of-content>
    </div>
    <div class="family-registration-landing-content-person-detail">
      <mat-tab-group #patientTabs [selectedIndex]="selectedTab.value" (selectedIndexChange)="onTabChange($event)">
        <mat-tab *ngFor="let tab of tabs; let index = index">
          <ng-template mat-tab-label>
            {{ tab.title }}
            <button mat-icon-button title="Delete" *ngIf="index === selectedTab.value" (click)="removeTab(index)">
              <mat-icon svgIcon="close" class="my-active-tab-close-icon">close</mat-icon>
            </button>
          </ng-template>
          <ng-template matTabContent>
            <div>
              <form [formGroup]="tab.personGroup" class="form-horizontal" id="person-form">
                <div class="person-container" (scroll)="onScroll($event)">
                  <div id="personalDetail" class="person-section person-personal-details" #personalDetail>
                    <personal-details
                      [personalDetails]="tab.personGroup.controls.personalDetailsForm"
                      [cachePatientSearchList]="tab.cachePatientSearchList"
                    >
                    </personal-details>
                  </div>
                  <div class="person-section person-contact-details" id="contactDetail" #contactDetail>
                    <contact-details
                      [contactDetails]="tab.personGroup.controls.contactDetailsForm"
                      [phoneTypes]="phoneTypes"
                      [states]="states"
                    ></contact-details>
                  </div>
                  <div id="insurance" class="person-section person-insurance" #insurance>
                    <app-patient-insurance *ngIf="route.patientId"></app-patient-insurance>
                    <insurance-details [insuranceDetails]="tab.personGroup.controls.insuranceDetailsForm" *ngIf="!route.patientId">
                    </insurance-details>
                  </div>
                  <div id="prefrence" class="person-section person-prefrences" #prefrence>
                    <preferences [patientPreference]="tab.personGroup.controls.preferencesForm" [onlyActive]="true"> </preferences>
                  </div>
                  <div id="dentalRecord" class="person-section person-dental-record" #dentalRecord>
                    <dental-records [dentalRecords]="tab.personGroup.controls.dentalRecordsForm"> </dental-records>
                  </div>
                  <div id="referrals" class="person-section person-referrals" #referrals *ngIf="!hideOldReferral">
                    <referrals [Referrals]="tab.personGroup.controls.referralsForm"></referrals>
                  </div>
                  <div class="person-section person-identifiers" id="identifiers" #identifiers>
                    <additional-identifiers
                      *ngIf="route.patientId && personInfo.patientIdentifierDtos && personInfo.patientIdentifierDtos.length"
                      [additionalIdentifiers]="tab.personGroup.controls.identifiresForm"
                      [patientIdentifiers]="personInfo.patientIdentifierDtos"
                    >
                    </additional-identifiers>
                    <additional-identifiers *ngIf="!route.patientId" [additionalIdentifiers]="tab.personGroup.controls.identifiresForm">
                    </additional-identifiers>
                  </div>
                  <div class="person-section person-documents" id="documents" #documents>
                    <app-patient-documents
                      *ngIf="route.patientId && personInfo.Profile"
                      [patientProfile]="personInfo.Profile"
                    ></app-patient-documents>
                    <app-patient-documents *ngIf="!route.patientId"></app-patient-documents>
                  </div>
                  <div class="person-section person-account-members" id="accountMembers" #accountMembers>
                    <app-patient-account-members
                      [featureName]="route.patientId ? 'PatientProfile' : 'PatientRegistration'"
                      (accoumentMemberListFillEvent)="onAccountMemberFill($event)"
                    >
                    </app-patient-account-members>
                  </div>
                  <!--                     non-breaking space added to create space at the bottom of the scroll area after the last section   -->
                  &nbsp;
                </div>
              </form>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab [disabled]="true">
          <ng-template mat-tab-label>
            <button mat-mini-fab color="primary" class="my-fab" title="Add a Person" (click)="addTab()">
              <mat-icon svgIcon="add">add</mat-icon>
            </button>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="triggerOrigin"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayPanelClass]="'overlay-pane'"
  id="modalPatientRegistration"
>
  <div class="reg-modal">
    <div class="btnFlexContainer">
      <p id="modal-header" class="reg-modal-header">
        {{
          !isCancelled
            ? "Is everything correct? Do you want to continue?"
            : ("Cancel now and you will lose the
                changes below. Do you want to continue?" | translate)
        }}
      </p>
      <div class="closeModal" (click)="closeModal()">
        <svg-icon [name]="'closeIcon'" [iconHeight]="'24px'" [iconWidth]="'24px'"></svg-icon>
      </div>
    </div>
    <div class="reg-modal-body">
      <div class="containerPadding">
        <table class="fuseGrid fuseTable">
          <thead>
            <tr>
              <th>
                {{ "Category/Field" | translate }}
              </th>
              <th>
                {{ "New Content" | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let field of fieldList; index as i">
              <td id="fieldName" class="field">
                {{ field.Field }}
              </td>
              <td id="fieldValue" class="field">
                {{ field.Value }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="reg-modal-footer containerPadding">
      <app-button id="btnRegisterNo" variation="secondary" class="reg-btn" (onClick)="closeModal()" buttonLabel="No"> </app-button>
      <app-button
        id="btnRegisterYes"
        variation="primary"
        class="reg-btn"
        buttonLabel="Yes"
        (onClick)="isCancelled ? initializePersonForm() : savePerson()"
      >
      </app-button>
    </div>
  </div>
</ng-template>
