@import "variables";
::ng-deep .k-block, .k-widget {
    border-color: $polar-white;
}

.k-widget, .k-widget * {
    cursor: pointer;
}

.no-data{
    font-family: $global-font-family;
    font-size: 12px;
    color: $placeholder-grey;
    text-decoration: none solid $placeholder-grey;
    text-align: center;
    position: absolute;
    top: 48%;
    z-index: 111;
    left: 30px;
    right: 0;
    font-weight: bold;
}

::ng-deep #bar-chart .k-chart-tooltip {
    min-width: 69px;
    padding: 3px 8px 6px 8px!important;
    height: 40px;
    font-family: $global-font-family;
    margin: -1px;
    font-size: 12px;
    color: $polar-white;
    -webkit-text-decoration: none solid $polar-white;
    text-decoration: none solid $polar-white;
    text-align: center;
    background-color: rgba(43, 20, 78, 0.8) !important;
    position: relative;
    border-radius: 0;
    font-weight: bold;
}

::ng-deep #bar-chart .k-chart-tooltip:after {
    content: "";
    width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid rgba(43, 20, 78, 0.8) !important;
	position: absolute;
	bottom: -12px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.KendochartHeight{
    height: 168px;
  }

::ng-deep .k-chart-tooltip-wrapper .k-popup {
    margin-top: -90px;
    margin-left: -75px;
    border: none;
}

.selectItem {
    margin-top: -25px;
}
.claims-total-area{
    margin-top:10px;
    text-align: center;
}

.no-total-un {
    margin-top: 53px;
    text-align: center;
}

.no-total-pre {
    margin-top: 30px;
    text-align: center;  
}

.no-total-sub {
    margin-top: 30px;
    text-align: center;  
}
.no-total-ref {
    margin-top: 20px;
    text-align: center;
}
//Begins here
.claims-total{
    font-family: $global-font-family;
    font-size: 12px;
    color: $text-black;
    text-decoration: none solid $text-black;
    text-align: center
}

.totalColor {
    color: #c35250;
    text-decoration: none solid rgb(195, 82, 80);
}
.statement-total-area {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
}
.statement-days {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 48px;
}
.claims-total-val{
    font-family: $global-font-family;
    font-size: 12px;
    text-align: center;
}
//Ends here
.line-bar{
    max-width: 254px;
    height: 1px;
    stroke-width: 1;
    margin-bottom: 9px;
}
.m-t-10{
    margin-top: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.control-label {
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: $text-black;
}
.lbl-padding {
    ::ng-deep {
        padding-top: 0px !important;
    }
}

.lblor {
    margin: 28px 5px 5px 5px;
}


.div-1 {
    display: table-cell;
    width: 45%;
    vertical-align: top;
}

.btnAlign {
    margin-top: 106px;
}
::ng-deep .referrals-filter-list .k-dropdown > .k-dropdown-wrap {
    width: 200px;
    height: 25px;
    padding: 0px 8px 0 2px;
    border: 1px solid $border-grey;
    border-radius: 5px;
    font-family: $global-font-family;
    font-size: 12px;
    color: $text-black;
    text-decoration: none solid $text-black;
    box-sizing: content-box;
}
::ng-deep .referrals-filter-list .k-dropdown > .k-dropdown-wrap > .k-input {
    // height: auto;
    padding: 2px 0 0 2px;
    // width: auto;
    line-height: 22px;
    font-family: $global-font-family;
    font-size: 12px;
    color: $text-black;
    text-decoration: none solid rgb(51, 51, 51);
}

::ng-deep .referrals-filter-list .k-dropdown > .k-dropdown-wrap .k-select {
    padding: 2px 0 0 2px;
    line-height: 22px;
    font-family: $global-font-family;
    font-size: 12px;
    color: $text-black;
    -webkit-text-decoration: none solid $text-black;
    text-decoration: none solid $text-black;
}



.referrals-filter-list {

    ::ng-deep .k-widget {
        border-color: rgba(0, 0, 0, .08);
    }
}

.botton-container
{
    margin-top:136px;
}

.clear-button-container{
    margin-right:6px;
}

.date-range-container {
    margin-top: 10px;
}
