.alerts-item-class{
    margin: 0.5em 0;
}
.margin-bottom-class{
    margin-bottom: 0px;
}

.referred-media {
    cursor: pointer;
    margin: 10px 0 5px 0;
    padding: 0px;
    height: 60px;
}

.collapseExpand a[aria-expanded="true"]{
    .fa-chevron-up:before{
            content: "\f078";
  }
}