.initialBadge {
    height: @brand-initial-badge_height;
    width: @brand-initial-badge_width;
    display: @brand-initial-badge_display;
    text-align: @brand-initial-badge_text-align;
    vertical-align: @brand-initial-badge_vertical-align;
    border-radius: @brand-initial-badge_border-radius;
    background: @brand-initial-badge_bg;
    border: @brand-initial-badge_border;
    color: @brand-initial-badge_color;
}
// new styling used in new patient profile
// styling will need to be updated globally once all areas using initial badge are updated.

.initialBadge.alternate {

}

