.slideOutPreventiveCareFilter
{
      li{
        list-style-type: none;
    }
}

.slideOutPatientFilter {
    li {
        list-style-type: none;
        padding-bottom: 4px;
        padding-top: 4px;
    }
}
