.feeSchedDetails {
    .standardHeader;

    &__body {
        .containerStandard;
    }

    &__primary {
        .make-xs-column(9);
        padding-left: 0;
    }
    &__grid {
        .clearfix;

        .k-i-collapse {
            display: none;
        }
    }
    &__secondary {
        .make-xs-column(3);
        padding: @brand-padding_md;
        background-color: @brand-color_white;
    }

    &__title{
        margin-left: 30px;
        > h1{
            font-size: 22px !important;
        }
    }

    &__brdCrmb{
         margin-left: 30px;
    }
    &__actions{
         margin-left: 30px;
    }
    &__filter{
         margin-left: 30px;
    }
}

        
