
#inpLocationDeposit-list {
    width: auto !important;
}
#inpLocationDeposit_listbox {
    overflow: hidden !important;
    min-width: 180px;
}

.exclamationIcon  {
        color: #000000 !important;
 }
