.userIdentifier {

    .k-tooltip-validation {
        background-color: #fff7e3;
        color: #f9591f;
        width: fit-content;
        position: absolute;
        left: 40px;
        padding: 15px 15px;
    }

    .k-grid .k-grid-header .k-grid-header-wrap .k-header {
        color: #333333 !important;
    }

    .btn-primary {
        border-color: #2DABCB;
        color: #fff;
        background-color: #2DABCB;
    }

    button.k-button.k-button-icon.k-grid-edit-command {
        border: black solid 1px !important;
    }
    button.k-button.k-button-icon.k-grid-remove-command {
        border: black solid 1px !important;
    }

}