.userLocationsSetup {

    .btn-default {
        margin-right: 4px;
    }

    .cell-active {
        padding: 5px 5px 5px 45px;
    }

    .display-grid {
        display: grid;
    }

    .mb-3px {
        margin-bottom: 3px;
    }


    ::ng-deep {
        .ng-star-inserted {
            word-break: break-word;
        }
    }

    ::ng-deep .chips {
        height: 3em;
        border-radius: 3%
    }
    
    ::ng-deep .chips-content {
        word-wrap: break-word;
        white-space: normal;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
    }
    
}