.phoneInfoItem {
    ::ng-deep .has-error {
        color: #ff0500;
    }

    ::ng-deep .phoneInfoItem__remove {
        float: right;
    }

    .custom-top-margin {
        margin-top: -13px;
    }

    .phoneInfoItem__prompt {
        width: 66%;
        text-align: left;
    }

}