.claim {
    grid-template-columns: 2fr 3fr 3fr 2fr 2fr
} 
 .grid {
    display:grid;  
    &.header
    {
        font-weight: bold;

        margin-right: 7px;

        &.claim {
            position: sticky;
            top: 62px;
            background: white;
            z-index: 1;
            &.locationInactive {
                top:80px;
            }
        }
        > div {
        
            padding: 4px;
            align-items: center;
            padding-left: 0%;
        }
      }
  }