.drawTypes {
    .drawTypes__header {
        width: 96%;
        max-width: 96%;
        margin: 0 auto;
    }

    .drawTypes__title > h1 {
        margin: 8px 0;
        padding: 0;
        font-size: 26px;
        line-height: 1;
    }

    .drawTypes__list {
        width: 96%;
        margin: 0 auto;
        padding-top: 16px;
    }

    ::ng-deep .k-grid-content {
        max-height: 36rem;
    }
}