@import 'variables';
.wait-overlay {
    background: transparent;
    text-align: center;
    color: white;
    border: none;
    box-shadow: none;    
    position: center; 
}
.wait-overlay-spinner {    
    margin-bottom: 20px;        
}

.wait-overlay-header {    
    font-size: $app-modal-header-font-size;
    font-weight: $app-modal-header-font-weight;
    font-family: $global-font-family;    
}

.wait-overlay-body {    
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 518px;
}

.wait-overlay-bold-text {
    font-weight: bold;
}

.wait-overlay-text {
    font-weight: normal;
}
