.txPlansCount {
    .make-md-column(4);
    .section-divider;

    &__label {
        font-weight: @brand-font_heavy;
    }

    &__item {
        margin: @brand-margin_md;
        margin-right: 10px;
        margin-left: 10px;
    }
}
