.debitTransaction {
    &__actions {
        .clearfix;
    }
    &__tableBox {
        .clearfix;
    }
    &__margin-top-minus4-percent{
        margin-top: -4%;
    }
    &__margin-top-minus2-percent{
        margin-top: -2%;
    }
    &__amount-error{
        border: 1px solid @brand-color_error;
    }
}