// Surface Chart
.surfInput {
    padding: 5px;

    &__ctrl {
        .btn;
        .btn-default;
        .btnStateReset;
         width: 50px !important;
    }

    &__list {
        min-width: 290px;
        padding: 5px;
        right: 0;
        left: 0;
      //  bottom:0;
        background-color: @brand-color_lighter-gray !important;
        position: absolute;
        z-index: 10;       
        border: 1px solid @brand-color_light-gray;
    }
}
