.fuseGrid {
    .row {
        .date-column {
            width: 14%;
        }

        .status-column {
            width: 21%;
        }

        .reason-column {
            width: 39%;
        }
    }
}
