.srvcCodeFltr {
    &__row {
        .clearfix;
        margin-bottom: 20px;
    }
    .utilCheckbox {
        @media (min-width: @screen-sm-min) { 
            width: 48%;
            float: left;
            margin-right: 2%;
        }
    }
}