<form name="frmLocationSearch" role="form" novalidate>
  <div class="locMgmt__searchContainer">
    <input type="text" tabindex="2" id="locationFilter" class="locMgmt__search-input" [(ngModel)]="filter" placeholder="{{ 'Find Location' | translate }}" name="location" set-focus />
    <ul class="locMgmt__list">
      <no-results *ngIf="loading" [loading]="loading" [loadingMessage]="'No locations found.'"></no-results>            
      <li class="locMgmt__list-item" *ngFor="let location of locations | search1:{NameLine1:filter, NameLine2:filter, ZipCode:filter, City:filter, State:filter, StateName:filter, PrimaryPhone:filter, SecondaryPhone:filter}; let i = index">
        <a class="locMgmt__name" id="location{{i}}" tabindex="2" checkRoleAccess="soar-biz-bizloc-view" title="{{ getTitle(location) }}" (click)="selectLocation(location)">
          <div [ngClass]="{'active': location.LocationId == selectedLocation?.LocationId }">
              <span id="btnLocation{{i}}Name1" [innerHtml]="location?.NameLine1 | boldTextIfContains:filter"></span>
              <span class="search-item-separator hidden-xs" *ngIf="location?.NameLine2 && location?.NameLine2?.length > 0"> | </span>
              <span id="btnLocation{{i}}Name2" [innerHtml]="location?.NameLine2 | boldTextIfContains:filter"></span>
          </div>
        </a>
        <div *ngIf="checkLocationStatus(location)" class="icon-hovertip" [ngClass]="{'active-icon': location.LocationId == selectedLocation?.LocationId }" (click)="selectLocation(location)">
            <i class="fa fa-exclamation-triangle" [ngClass]="{'icon-pending-inactive': location?.IsPendingInactive }" aria-hidden="true"></i>
            <span class="icon-hovertiptext" [ngClass]="{'loc-pending-inactive': location?.IsPendingInactive }">{{location?.StatusDisplay}}</span>
        </div>
       </li>
    </ul>
  </div>
</form>
