<!--<div class="currencyInput">
    <div class="icon">$</div>
    <input class="form-control amountInput"  model-format="currency" type="text" min-value="0.00" max-value="999999.99"
           maxlength="10" (ngModelChange)="onAmountChanged($event)" placeholder="0.00" [(ngModel)]="amount" >
</div>-->
<div class="currency-input-wrapper" [ngClass]="{'label-left' : labelDirection=='left'}">
    <app-label class="currency-input-label" [ngClass]="{'label-top' : labelDirection=='top'}"  ng-if="label" [label]="label" [fieldId]="id"></app-label>
    <div class="currencyInput" [ngClass]="{'redBorder' : !isDisabled && inError}">
        <div class="icon">$</div>
        <input class="form-control amountInput" model-format="currency" type="text" min-value="0.00" max-value="999999.99" [disabled]="isDisabled" id="{{txtId}}"
               maxlength="10" [placeholder]="placeholder" [ngModel]="displayValue" (keydown)="onKeyDown($event)" (input)="input($event.target.value)" 
               (focus)="onFocus($event)" (blur)="onBlur()">
    </div>
</div>