
// #region ServiceCodeSelector
.service-codes-box {
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.service-list-item {
    padding: 10px 10px 5px 10px;
}

.service-add-btn {
  padding: 5px 20px 5px 20px;
  font-weight: bold;
}

.service-input,
.service-datepicker > .datepicker > p > input {
    padding: 5px 10px 5px 10px;
}

.service-input {
    max-width: 110px;
    margin-right: 20px;
}

.service-cmb {
    max-width: 120px;
}

.service-cmb .k-dropdown-wrap {
  padding: 0 32px 0 0;
}

.service-date-col {
    -moz-min-width: 140px !important;
    -ms-min-width: 140px !important;
    -webkit-min-width: 140px !important;
    min-width: 140px !important;
}

.service-delete-col {
  max-width: 20px;
}

.service-cmb .k-state-default > .k-select {
  width: 28px;
}            

.service-cmb > .k-dropdown-wrap > .k-input {
    padding: 3px 10px 3px 5px;
}

.service-input-capitalize{
    text-transform: capitalize;
}

// #endregion
body {
}
