.claimPaymentGrid {
    margin-bottom: 20px;
    .service {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;

        div:first-of-type {
            text-align: right;
        }
    }

    .payment {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #f5f5f5;
        font-weight: bold;
    }

    .fa-chevron-right:hover,
    .fa-chevron-down:hover {
        cursor: pointer;
    }

    .col-sm-1 {
        width: 7.692%;
        padding-right: 0;
    }

    .half-col {
        width: 4.038%;
        padding-right: 0;
        position: relative;
        min-height: 1px;
        padding-left: 16px;
        float: left;
    }

    .col-sm-2 {
        width: 15%;
        padding-right: 0;
    }
}
