<div class="paymentVoidConfirmModal">
    <div class="modal-header"><h4 id="lblWarningModalHeader">{{ item.Title | i18n }}</h4></div>
    <div class="modal-body">
        <label id="lblWarningModalMessage1" ng-show="item.Message" class="confirmModal__Message">{{ item.Message }}</label>
        <label id="lblWarningModalMessage2" class="confirmModal__Message">{{ item.Message2 }}</label>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button id="btnCancelNo" ng-click="close();" class="btn btn-default">{{ item.Button2Text | i18n }}</button>
            <button id="btnOk" ng-click="confirm();" class="btn btn-primary">{{ item.Button1Text | i18n }}</button>
        </div>
    </div>
</div>