.InsuranceClaimsHalfDonut {
    .widget-loader {
        position: absolute;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;
    }

    .soarWidget__body{
        position: fixed;
        top: 60%;
    }

    .soarSelectList {
        ::ng-deep .k-dropdown {
            width: 100%;
    
            > .k-dropdown-wrap {
                width: inherit;
                outline: none;
            }
        }
    }
}