
@import 'variables';
.panel-body{
    padding: 0px 10px;
}
.required{
    color: $alert-red;
}
.validation-required{
    border-color: $alert-red !important;
}
.col-no-padding{
    padding-right: 0px;
    padding-left: 0px;
}
span.required.ng-star-inserted {
    position: absolute;    
    padding: 2px;
    word-break: break-word;
}
span.used-paymentType-warning{
    padding: 2px;
    word-break: break-word;
    color: $alert-red;
}
.add_payment_box{
    background-color: #fff;
    border-radius: 5px;
    width: 410px;
    margin: auto;
}
.popup_heading{
    padding: 0px 10px;
    border-color: $page-search-input-border-color;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}
.popup_heading h4{
    font-weight: 500;
    font-family: $font-family !important;
    font-style: normal;
}
.control-label{
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 2em;
    color: $header-date-color;
}
.radio-inline{
    padding-top: 0px;
}
.fuse_input{
    height: 25px;
    padding: 0px 10px;
    text-align: left;
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    border-width: 1px;
    border-style: solid;
    background-color: $page-search-input-background;
    color: $page-form-input-color;
    border-color: $page-search-input-border-color;
    width: 207px;
}
.fuse_select{
    height: 25px;
    padding: 0px 10px;
    text-align: left;
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    border-width: 1px;
    border-style: solid;
    background-color: $page-search-input-background;
    color: $page-form-input-color;
    border-color: $page-search-input-border-color;
    width: 207px;
}
.add_payment_footer{
    border-color: $page-search-input-border-color;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    padding: 20px 10px;
}
.btn-toolbar{
    float: right;
}
.fuse_button{
    background-size: cover;
    border-radius: 5px;
    border-width: 1px;
    border-color: $page-content-select-border-color;
    border-style: solid;
    padding: 0px;
    width: 100px;
    height: 25px;
}
.fuse_submit_button{
    border-color: none;
    border-width: 0px;
}

  .btn-default {
    color: $breadcrumbs-active;
    background-color: $page-primary-button-color;
    border-color: $page-content-select-border-color;
    height: 7px;
    width: 75px;
    line-height: 2px !important;
    margin-left: 10px !important;
    font-size: 12px !important;
}

.k-window .k-window-content {
    background-color: transparent;
  }
  .k-dialog .k-content {
    padding: 10px 0px !important;
    overflow: hidden !important;
    
}
.required_text{
    color: $page-header-color;
}