@import "variables";

.sendMailingModal {
    .text-side-section {
        width: 46%;
        float: left;
        padding-left: 3%;
        padding-right: 5px;
    }

    .preview-side-section {
        width: 48%;
        float: right;
        padding-top: 3%;
        padding-bottom: 2%;
        padding-right: 2%;
    }

    .preview-container-section {
        position: relative;
        width: 100%;
        padding-bottom: 129%;
        border: 1px solid #444444;
        background-color: #ffffff;
    }

    .preview-content-section {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-size: 4vw;
    }

    .clear-fix-section {
        clear: both;
    }

    .form-group {
        margin-bottom: 0;
    }

    .communicationType {
        margin-top: 5%;
    }

    .margin-left {
        margin-left: 1%;
    }

    .control-label {
        white-space: nowrap;
    }
}

::ng-deep  .soar-select-list-popup {
    .k-list .k-item {
       word-break: break-word;
    }

}