.swiftPickFooter{
   .containerStandard;
   .clearfix;
   float:right;
 
    &__btn{
        display:inline-block;
        margin-right: @brand-margin_md;
        float:right;
    }
}

.swiftPickScrollable-div{
    .scrollable-div;
    height: inherit;
    max-height: 200px;
}